<div class="modal-content">
    <div class="modal-header">
        <h4 class="font-weight-bold modal-title w-100" id="ModalTitle">
            Search {{  searchLabel }}
        </h4>
        <button (click)="closeModal()" type="button" id="closeModalBtn" class="close float-right"
            aria-label="Close" data-dismiss="modal">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">

            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search" [(ngModel)]="query" id="listSearch" (keyup)="_getSearchResult()" />
            </div>

            <ul *ngIf="selectedTab=='OTC_CATEGORY'" class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let item of searchResult">
                <div class="d-flex justify-content-start">
                    <img [src]="api_url + item.image_url" style="width:100px;height:100px;" />
                    <p>{{item.name}}</p>
                </div>
                <button class="btn btn-sm btn-primary" type="button" (click)="selectItem(item)">Select</button></li>
            </ul>

            <ul *ngIf="selectedTab=='BRAND'"  class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let item of searchResult"><p>{{item.name}}</p><button class="btn btn-sm btn-primary" type="button" (click)="selectItem(item)">Select</button></li>
            </ul>

            <ul *ngIf="selectedTab=='PRODUCT'"  class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let item of searchResult">
                <div  class="d-flex justify-content-start">
                    <img [src]="api_url + item.image_url" style="width:100px;height:100px;" />
                    <p>{{item.name}}</p>
                </div>
                <button class="btn btn-sm btn-primary" type="button" (click)="selectItem(item)">Select</button></li>
            </ul>
    </div>
</div>
