<div class="w-100 p-3 bg-dark-blue">
    <h4 class="text-white font-weight-bold mb-0">Edit FAQ</h4>
</div>

<div class="p-3">
    <form (ngSubmit)="saveFAQ()" [formGroup]="FAQForm">
        <div class="form-group">
            <div class="form-row">
                <div class="col-md-6">
                    <label>Select FAQ Group</label><br>
                    <mat-select placeholder="Select FAQ Group" class="form-control" formControlName="group_id">
                        <mat-option *ngFor="let group of FAQgroup;" [value]="group.id">
                            {{group.name}}
                        </mat-option>
                    </mat-select>
                    <div class="invalid-feedback" *ngIf="group_id?.invalid && (group_id?.dirty || group_id?.touched)" class="text-danger">
                        <div *ngIf="group_id?.errors?.required">FAQ Group is required</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-row">
                <div class="col-md-12">
                    <label class="float-left">Question</label>
                    <input type="text" id="question" formControlName="question" class="form-control input-lg" placeholder="Enter Question"
                    />
                    <div class="invalid-feedback" *ngIf="question?.invalid && (question?.dirty || question?.touched)" class="text-danger">
                        <div *ngIf="question?.errors?.required">Question is required</div>
                    </div>
                </div>
            </div>
        </div>
         <input type="hidden" formControlName="answer"/>
        <div class="form-group">
            <div class="form-row">
                <div class="col-md-12">
                    <label class="float-left">Answer</label><br><br>
                    <div class="NgxEditor__Wrapper">
                        <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
                        <ngx-editor
                            [editor]="editor"
                            [(ngModel)]="answerText"
                            [ngModelOptions]="{standalone: true}"
                            [placeholder]="'Enter answer'"
                            [spellcheck]="true"
                            (input)='patchAnswer()'
                            minHeight='530px'></ngx-editor>
                    </div>
                    <div class="invalid-feedback" *ngIf="answer?.invalid && (answer?.dirty || answer?.touched)" class="text-danger">
                        <div *ngIf="answer?.errors?.required">Answer is required</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-row">
                <div class="col-md-6">
                    <mat-checkbox color="primary" formControlName="is_active">Active</mat-checkbox>
                </div>
            </div>
        </div>

        <div class="form-group mt-1">
            <div class="row">
                <div class="col">
                    <div class="text-center">
                        <button type="submit" class="btn btn-info mr-2">Save</button>
                        <a routerLink="/admin/faq/list" routerLinkActive="active" class="btn btn-primary">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
