<ng-container *ngIf="medicineKitDetails; else noMedicineKitDetails">
  <h4 class="bg-dark text-white p-2 mt-3">Display Information</h4>
  <div class="row">
    <div class="col-md-6">
        <div class="table-responsive">
          <table class="table table-hover">
                <tr>
                  <td class="font-weight-bold">Medicine Kit Name</td>
                  <td class="font-weight-normal">{{medicineKitDetails.name || '-'}} <span class="ml-2 badge badge-success badge-pill p-2"
                    *ngIf="medicineKitDetails.is_coming_soon">Comming Soon</span></td>
                </tr>
                <tr>
                  <td class="font-weight-bold">Brand</td>
                  <td class="font-weight-normal">{{medicineKitDetails.brand_id?.name || '-'}}</td>
                </tr>
                <tr>
                  <td  class="font-weight-bold">Active</td>
                  <td  class="font-weight-normal">
                    <i class="fa fa-check text-success" *ngIf="medicineKitDetails.is_active"></i>
                    <i class="fa fa-times text-danger" *ngIf="!medicineKitDetails.is_active"></i>
                  </td>
                </tr>
          </table>
        </div>
    </div>
    <div class="col-md-6">
        <div class="table-responsive">
            <table class="table table-hover">
                <tr>
                  <td class="font-weight-bold">Medicine Kit Description</td>
                  <td class="font-weight-normal">
                    {{medicineKitDetails.description}}
                  </td>
                </tr>
                <tr>
                  <td class="font-weight-bold">Generic Name</td>
                  <td class="font-weight-normal">
                    {{medicineKitDetails.generic_name || '-'}}
                  </td>
                </tr>
                <tr>
                  <td class="font-weight-bold">Tab Name</td>
                  <td class="font-weight-normal">
                    {{medicineKitDetails.tab_name || '-'}}
                  </td>
                </tr>
                <tr>
                  <td class="font-weight-bold">Tab URL</td>
                  <td class="font-weight-normal">
                    {{medicineKitDetails.tab_url || '-'}}
                  </td>
                </tr>
                <tr>
                  <td class="font-weight-bold">State</td>
                  <td class="font-weight-normal">
                    <span class="badge badge-primary mr-2" *ngFor="let state of medicineKitDetails.states">{{state.name}}</span>
                  </td>
                </tr>
                <tr>
                  <td class="font-weight-bold">Coming Soon</td>
                  <td class="font-weight-normal">
                    <i class="fa fa-check text-success" *ngIf="medicineKitDetails.is_coming_soon"></i>
                    <i class="fa fa-times text-danger" *ngIf="!medicineKitDetails.is_coming_soon"></i>
                  </td>
                </tr>
            </table>
        </div>
    </div>
  </div>

  <h4 class="bg-dark text-white p-2 mt-3">Pricing</h4>
  <div class="row">
    <div class="col-md-6">
        <div class="table-responsive">
          <table class="table table-hover">
                <tr>
                  <td class="font-weight-bold">Actual Price</td>
                  <td class="font-weight-normal"> {{(medicineKitDetails.price | currency) || '-' }} </td>
                </tr>
                <tr *ngIf="medicineKitDetails.is_offer">
                  <td class="font-weight-bold"><i class="fa fa-tag mr-1"></i> Offer Price</td>
                  <td class="font-weight-normal">
                    {{(medicineKitDetails.offer_price | currency) || '-' }}
                  </td>
                </tr>
          </table>
        </div>
    </div>
    <div class="col-md-6">
        <div class="table-responsive">
            <table class="table table-hover">
                <tr>
                  <td class="font-weight-bold">Pharmacy Price</td>
                  <td class="font-weight-normal">
                    {{(medicineKitDetails.pharmacy_price | currency) || '-'}}
                  </td>
                </tr>
                <tr>
                  <td class="font-weight-bold">Doctor Cost (Rate per prescription)</td>
                  <td class="font-weight-normal">
                    {{(medicineKitDetails.doctor_price | currency) || '-'}}
                  </td>
                </tr>
            </table>
        </div>
    </div>
  </div>

  <h4 class="bg-dark text-white p-2 mt-3">Subscription</h4>
  <div class="row">
    <div class="col-md-6">
        <div class="table-responsive">
          <table class="table table-hover">
            <tr>
              <td class="font-weight-bold">Is Auto Refill</td>
              <td class="font-weight-normal">
                <i class="fa fa-check text-success" *ngIf="medicineKitDetails.is_auto_refill"></i>
                <i class="fa fa-times text-danger" *ngIf="!medicineKitDetails.is_auto_refill"></i>
              </td>
            </tr>
            <tr>
              <td class="font-weight-bold">Default Refill Count</td>
              <td class="font-weight-normal"> {{ medicineKitDetails.default_refill }} </td>
            </tr>
          </table>
        </div>
    </div>
    <div class="col-md-6">
        <div class="table-responsive">
            <table class="table table-hover">
              <tr>
                <td class="font-weight-bold">Refill Frequency</td>
                <td class="font-weight-normal">
                  {{ medicineKitDetails.refill_frequency }}
                </td>
              </tr>
            </table>
        </div>
    </div>
  </div>

  <h4 class="bg-dark text-white p-2 mt-3">
    Attributes
  </h4>
  <div class="row" *ngIf="medicineKitDetails?.attributes.length > 0; else noAttributes">
    <div class="col-md-12">
      <app-change-sequence [mode]="'ATTRIBUTES'" [data]="medicineKitDetails.attributes" (onSequenceChange)="updateSequence($event)"></app-change-sequence>
      </div>
  </div>
  <ng-template #noAttributes>
    <div class="text-center text-muted">
      <h2><i class="fa fa-info-circle"></i></h2>
      <h4>No Attributes!</h4>
    </div>
  </ng-template>

  <h4 class="bg-dark text-white p-2 mt-3">FAQ</h4>
  <div class="row" *ngIf="medicineKitDetails?.faqs.length > 0; else noFaqs">
    <div class="col-md-12">
      <app-change-sequence [mode]="'FAQS'" [data]="medicineKitDetails.faqs" (onSequenceChange)="updateSequence($event)"></app-change-sequence>
    </div>
  </div>
  <ng-template #noFaqs>
    <div class="text-center text-muted">
      <h2><i class="fa fa-info-circle"></i></h2>
      <h4>No FAQs!</h4>
    </div>
  </ng-template>


  <h4 class="bg-dark text-white p-2 mt-3">ICD10 Codes</h4>
  <ul class="mb-5 list-group list-group-flush"
    *ngIf="medicineKitDetails.icd10_codes && medicineKitDetails.icd10_codes.length>0; else noCodes">
    <li class="list-group-item  font-weight-normal" *ngFor="let code of medicineKitDetails.icd10_codes">
      {{code.icd10_code}} {{code.description}}</li>
  </ul>
  <ng-template #noCodes>
    <div class="text-center text-muted">
      <h2><i class="fa fa-info-circle"></i></h2>
      <h4>No ICD10 Code Attached with this Kit.</h4>
    </div>
  </ng-template>

  <h4 class="bg-dark text-white p-2 mt-3">Images</h4>
  <div class="row" *ngIf="medicineKitDetails?.images.length > 0; else noImgs">
    <div class="col-md-12">
      <app-change-sequence [mode]="'IMAGES'" [data]="medicineKitDetails.images" (onSequenceChange)="updateSequence($event)"></app-change-sequence>
    </div>
  </div>
  <ng-template #noImgs>
    <div class="text-center text-muted">
      <h2><i class="fa fa-info-circle"></i></h2>
      <h4>No Images!</h4>
    </div>
  </ng-template>

  <h4 class="bg-dark text-white p-2 mt-3">PDF Documents</h4>
  <div class="row" *ngIf="medicineKitDetails?.documents.length > 0; else noDocs">
    <div class="col-md-12">
      <app-change-sequence [mode]="'DOCUMENTS'" [data]="medicineKitDetails.documents" (onSequenceChange)="updateSequence($event)"></app-change-sequence>
    </div>
  </div>
  <ng-template #noDocs>
    <div class="text-center text-muted">
      <h2><i class="fa fa-info-circle"></i></h2>
      <h4>No Documents!</h4>
    </div>
  </ng-template>

  <h4 class="bg-dark text-white p-2 mt-3">Videos</h4>
  <div class="row" *ngIf="medicineKitDetails?.videos.length > 0; else noVideos">
    <div class="col-md-12">
      <app-change-sequence [mode]="'VIDEOS'" [data]="medicineKitDetails.videos" (onSequenceChange)="updateSequence($event)"></app-change-sequence>
    </div>
  </div>
  <ng-template #noVideos>
    <div class="text-center text-muted">
      <h2><i class="fa fa-info-circle"></i></h2>
      <h4>No Videos!</h4>
    </div>
  </ng-template>
</ng-container>
<ng-template #noMedicineKitDetails>
  No Medicine Kit Details
</ng-template>
