<div class="container">
 <div class="mt-4 d-flex flex-md-row flex-column align-items-center justify-content-between">
       <p class="font-weight-bold mb-0">Wallet Trasactions<span class="ml-2 badge badge-primary badge-pill p-2 font-weight-bold" *ngIf="wallet">Wallet Balance : {{_helper.getInINRFormat('INR',wallet_amount)}}</span></p>
       <!--<button class="btn btn-sm btn-success" *ngIf="wallet" type="button" (click)="addFundModel()"><i class="fa fa-usd mr-2"></i>Add Fund</button>-->
  </div>

  <div class="mt-3 row wow fadeIn" *blockUI="'datatable'">
    <div class="col-lg-12 col-md-12 mb-3">
        <div class="table-responsive-md">
            <table  hover="true" id="walletTrasactionsList" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"></table>
        </div>
    </div>
  </div>
</div>
