<!-- DOCTOR LIST -->
<div class="my-4">
  <div class="card">
    <div class="card-header bg-dark-grey">
        <div class="d-flex flex-md-row flex-column align-items-center justify-content-between">
          <p class="orders-header mb-0 text-white">Doctors<span class="ml-2 badge badge-primary badge-pill">{{ doctorTableData.count }}</span></p>
          <a routerLink="/admin/doctors/add" routerLinkActive="active" class="btn btn-primary"><i class="fa fa-plus"></i> Add Doctor</a>
        </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header bg-transparent">
    <div class="d-flex flex-md-row flex-column align-items-center justify-content-between">
          <label>Show <select (change)="handleChange('LIMIT', $event)" name="doctorList_length"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label>
          <label>Search:<input (keyup)="handleChange('SEARCH', $event)" type="text" class="ml-2"></label>
    </div>
    </div>
    <div class="card-body bg-transparent">
        <div class="d-flex flex-md-row flex-column align-items-center justify-content-between">
          <mat-select placeholder="License State" (selectionChange)="handleChange('ST', $event.value)" [(ngModel)]="doctor_config.filter.ST" multiple>
            <mat-checkbox class="mat-option ckb1" (click)="$event.stopPropagation()" color="primary" (change)="handleCheckAll($event, 'ST')"
            [indeterminate]="doctor_config.filter.ST.length && notSelectedStates"
            [checked]="!notSelectedStates">All</mat-checkbox>
            <mat-option color="primary" *ngFor="let st of stateList" [value]="st._id">{{st.name}}</mat-option>
          </mat-select>
        </div>
    </div>
  </div>
  <div *ngIf="doctorTableData.count > 0 ">
    <div class="card mb-2 mt-1" *ngFor="let doctor of doctorTableData.data | paginate: doctor_config">
        <div class="bg-light-grey p-3">
          <div class="row">
            <div class="col-md-4">
              <p class="mb-0"><span><small class="mb-0 mr-5 font-weight-bold">Name</small><a class="text-primary font-weight-bold" (click)="goToDetailsPage(doctor.id)" href="javascript:void(0);">{{doctor.doctor_name}}</a></span></p>
              <p class="mb-0"><span><small class="mb-0 mr-5 font-weight-bold">Email</small>{{doctor.email}}</span></p>
              <p class="mb-0"><span><small class="mb-0 mr-4 font-weight-bold">Date Join</small>{{doctor.created_at | date: 'MM/dd/yyyy'}}</span></p>
              <p class="mb-0"><span><small class="mb-0 mr-5 font-weight-bold">Login</small><i *ngIf="doctor.is_active" class="fa fa-check text-success"></i><i *ngIf="!doctor.is_active" class="fa fa-times text-danger"></i></span></p>
              <p class="mb-0"><span><small class="mb-0 mr-4 font-weight-bold">Service&nbsp;&nbsp;&nbsp;&nbsp;</small><i *ngIf="doctor.account_service_enabled" class="fa fa-check text-success"></i><i *ngIf="!doctor.account_service_enabled" class="fa fa-times text-danger"></i></span></p>
            </div>
            <div class="col-md-4" >
              <table class="table table-borderless table-sm">
                <thead>
                  <th class="font-weight-bold" scope="col">License #</th>
                  <th class="font-weight-bold" scope="col">State</th>
                  <th class="font-weight-bold" scope="col">Expiry Date</th>
                  <th class="font-weight-bold" scope="col">Status</th>
                </thead>
                <tbody>
                  <tr *ngFor="let license of doctor.licenses">
                    <td class="font-weight-normal">{{license.license_number}}</td>
                    <td class="font-weight-normal">{{license.state_name}}</td>
                    <td class="font-weight-normal">{{license.expiry_date | date: 'MM/dd/yyyy'}}</td>
                    <td class="font-weight-normal" style="text-align:center"><i *ngIf="license.is_active" class="fa fa-check text-success"></i><i *ngIf="!license.is_active" class="fa fa-times text-danger"></i></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-md-4">
              <button class="btn btn-sm btn-outline-primary" (click)="goToEditPage(doctor.id)"><i class="fa fa-edit"></i></button>
              <button class="btn btn-sm btn-outline-primary" (click)="goToPasswordChangePage(doctor.id)">Change Password</button>
            </div>
          </div>
        </div>
    </div>
    <div class="text-center mt-2">
        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
    </div>
  </div>

  <div *ngIf="doctorTableData.count == 0 ">
    <div class="card p-2">
        <div class="text-center text-muted">
            <h2><i class="fa fa-shopping-cart" aria-hidden="true"></i></h2>
            <h4 class="font-weight-normal">No doctors Found </h4>
        </div>
    </div>
  </div>
</div>
<!-- END OF DOCTOR LIST -->
