<div *ngIf="showHeaderAndFilter" class="w-100 p-3 bg-dark-grey">
  <h4 class="text-white font-weight-bold mb-0">Orders</h4>
</div>
<!-- Filter Fields Box -->
<div class="card-body bg-transparent">
    <div class="row">
      <div class="col-md-2">
        <mat-label>Order Type</mat-label>
        <mat-select placeholder="Order Type" [(ngModel)]="order_config.filter.ORDER_TYPE" (selectionChange)="handleChange('ORDER_TYPE', $event.value)" multiple>
          <mat-option value="MAIN">MAIN</mat-option>
          <mat-option value="REFILL">REFILL</mat-option>
        </mat-select>
      </div>
      <div class="col-md-3">

        <mat-label>Order Status</mat-label>
        <mat-select placeholder="Order Status" [(ngModel)]="order_config.filter.ORDER_STATUS" (selectionChange)="handleChange('ORDER_STATUS', $event.value)" multiple>
          <mat-option value="NONE">Incomplete</mat-option>
          <mat-option value="TOO_SOON">Received Too Soon</mat-option>
          <mat-option value="ASSIGNED_TO_TECHNICIAN">Assigned To Technician</mat-option>
          <mat-option value="REJECTED">Rejected By Technician</mat-option>
          <mat-option value="APPROVED_BY_TECHNICIAN">Approved By Technician</mat-option>
          <mat-option value="ASSIGNED_TO_DOCTOR">Assigned To Doctor</mat-option>
          <mat-option value="PRESCRIBED_BY_DOCTOR">Prescibed By Doctor</mat-option>
          <mat-option value="ASSIGNED_TO_PHARMACY">Assigned To Pharmacy</mat-option>
          <mat-option value="COMPLETED">Completed</mat-option>
          <mat-option value="REFUND_REQUESTED">Refund Requested</mat-option>
          <mat-option value="REFUND_PROCESSED">Refund Processed</mat-option>
        </mat-select>
      </div>
      <div class="col-md-2">
        <mat-label>States</mat-label>
        <mat-select placeholder="Select States" (selectionChange)="handleChange('STATE', $event.value)" [(ngModel)]="order_config.filter.STATE" multiple>
          <mat-checkbox class="mat-option ckb1" (click)="$event.stopPropagation()" color="primary" (change)="handleCheckAll($event, 'STATE')"
          [indeterminate]="order_config.filter.STATE.length && notSelectedStates"
          [checked]="!notSelectedStates">All</mat-checkbox>
          <mat-option color="primary" *ngFor="let st of stateList" [value]="st._id">{{st.name}}</mat-option>
        </mat-select>
      </div>
      <div class="col-md-3">
        <mat-label>Medicine Kits</mat-label>
        <mat-select placeholder="Select Medicine Kits" (selectionChange)="handleChange('MK', $event.value)" [(ngModel)]="order_config.filter.MEDICINE_KIT" [disabled]="disableMedicineKitSelect" multiple>
          <mat-checkbox class="mat-option ckb1" (click)="$event.stopPropagation()" color="primary" (change)="handleCheckAll($event, 'MK')"
          [indeterminate]="order_config.filter.MEDICINE_KIT.length && notSelectedMedicineKit"
          [checked]="!notSelectedMedicineKit">All</mat-checkbox>
          <mat-option color="primary" *ngFor="let mk of medicinekitList" [value]="mk._id">{{mk.name}}</mat-option>
        </mat-select>
      </div>
      <div class="col-md-2">
        <button type="button" (click)="clearFilter()" class="btn btn-danger">Clear</button>
      </div>
    </div>
</div>
<div class="p-2">
    <div class="table-responsive-md">
      <table  hover="true" id="ordersList" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"></table>
    </div>
</div>
