<div class="w-100 p-3 bg-dark-grey d-flex justify-content-between align-items-center">
    <h4 class="text-white font-weight-bold mb-0">Brands</h4>
    <button class="btn btn-primary" type="button" (click)="openAddModal()">Add <i class="ml-2 fa fa-plus" aria-hidden="true"></i></button>
</div>

<div class="p-2" *blockUI="'datatable'">
    <div class="table-responsive-md">
        <div class="table-responsive-md">
            <table  hover="true" id="brandList" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"></table>
        </div>
    </div>
</div>
