<div class="w-100 p-2 bg-dark-grey d-flex justify-content-between align-items-center">
      <h4 class="text-white font-weight-bold mb-0">Contactlens products
        <span class="badge badge-success ml-2 p-2">{{config.totalItems}}</span>
      </h4>
      <div>
      <a   [routerLink]="'/admin/products/add'" [queryParams]="{product_type: 'LENS'}"  routerLinkActive="active" class="btn btn-primary"><i class="fa fa-plus mr-2" aria-hidden="true"></i> Add Product</a>
      </div>
</div>

<div class="p-2">
    <div class="row mb-3">
         <div class="col-md-3">
            <mat-label>Product Type</mat-label>
              <mat-select (selectionChange)="handleChange('PRODUCT_TYPE', $event.value)" [(ngModel)]="config.filter.PRODUCT_TYPE" multiple>
                <mat-option color="primary" value="LENS">LENS</mat-option>
                <mat-option color="primary" value="SOLUTION">SOLUTION</mat-option>
            </mat-select>
        </div>
        <div class="col-md-3">
           <mat-label>Brands</mat-label>
            <mat-select placeholder="Select Brands" (selectionChange)="handleChange('BRAND_IDS', $event.value)" [(ngModel)]="config.filter.BRAND_IDS" multiple>
              <mat-checkbox class="mat-option ckb1" (click)="$event.stopPropagation()" color="primary" (change)="handleCheckAll($event, 'BRAND_IDS')"
              [indeterminate]="config.filter.BRAND_IDS.length && notSelectedBrand"
              [checked]="!notSelectedBrand">All</mat-checkbox>
              <mat-option color="primary" *ngFor="let brand of brandsList" [value]="brand._id">{{brand.name}}</mat-option>
            </mat-select>
        </div>
        <div class="col-md-3">
            <mat-label>Lens Type</mat-label>
              <mat-select placeholder="Select Lenstype" (selectionChange)="handleChange('LENS_TYPE_IDS', $event.value)" [(ngModel)]="config.filter.LENS_TYPE_IDS" multiple>
                <mat-checkbox class="mat-option ckb1" (click)="$event.stopPropagation()" color="primary" (change)="handleCheckAll($event, 'LENS_TYPE_IDS')"
                [indeterminate]="config.filter.LENS_TYPE_IDS.length && notSelectedlensTypes"
                [checked]="!notSelectedlensTypes">All</mat-checkbox>
                <mat-option color="primary" *ngFor="let lenstype of lenstypeList" [value]="lenstype._id">{{lenstype.name}}</mat-option>
            </mat-select>
        </div>
    </div>


    <ng-container *ngIf="!loading && collection.count > 0;">
              <div class="row">
                      <div class="col-lg-4 col-md-4 col-12 mb-3" *ngFor="let product of collection.data | paginate: config">
                              <div class="card border h-100">
                                      <div class="product-image-container">
                                      <img *ngIf="product.image_url" [src]="getProductImage(product.image_url)"  class="product-image"  />
                                      </div>
                                      <div class="card-body">
                                      <h6>{{product.name}}</h6>
                                      <p class="font-weight-bold mb-2">{{product.brand.name}}</p>

                                      <p class="mb-0">List Price : {{ product.list_price|currency:'INR'}}</p>
                                      <p class="mb-0">MRP : {{product.mrp_price |currency:'INR' }}</p>
                                      <p class="mb-0">Sale Price : {{product.sale_price | currency:'INR' }}</p>

                                      <p style="font-size:12px;" [ngClass]="{'badge badge-pill p-2':true,'badge-success':product.is_active , 'badge-warning':product.is_coming_soon,'badge-danger':!product.is_active && !product.is_coming_soon}">
                                          <span *ngIf="product.is_active">Active</span>
                                          <span *ngIf="!product.is_active && !product.is_coming_soon">Not Active</span>
                                          <span *ngIf="product.is_coming_soon">Coming Soon</span>
                                      <p>
                                      <button type="button"  (click)="goToDetailsPage(product._id)" class="btn btn-sm btn-block btn-primary">View</button>
                                      </div>
                              </div>
                      </div>
              </div>
              <div class="text-center mt-2">
                      <pagination-controls  id="pagination-controls___otc_order" (pageChange)="pageChanged($event)"></pagination-controls>
              </div>
    </ng-container>

    <ng-container  *ngIf="!loading && collection.count == 0;">
        <div class="alert alert-danger">
        <h4 class="mb-0 font-weight-normal">
            <i class="fa fa-exclamation-circle mr-2" aria-hidden="true"></i>
            No products found .
        </h4>
        </div>
    </ng-container>

</div>
