<div class="w-100 p-2 bg-dark-grey d-flex justify-content-between align-items-center">
      <h4 class="text-white font-weight-bold mb-0">View Coupon Code</h4>
      <a routerLink="/admin/coupon-code/edit-coupon-code/{{couponCodeId}}" routerLinkActive="active" class="btn btn-primary pull-right">Edit</a>
</div>

<div class="p-3">
    <ng-container *ngIf="couponCodeDetails; else nocouponCodeDetails">
         <div class="row">
            <div class="col-md-12">
                <label>Coupon Category:</label>
                <h5><span *ngFor="let ctgry of couponCodeDetails.coupon_category" class="ml-2 badge badge-warning">{{ctgry}}</span></h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>Coupon Code:</label>
                <h5>{{couponCodeDetails.coupon_code}}
                <span class="ml-2 badge badge-primary" *ngIf="couponCodeDetails.coupon_type=='REGULAR'">REGULAR</span>
                <span class="ml-2 badge badge-success" *ngIf="couponCodeDetails.coupon_type=='YEARLY'">YEARLY</span>
                </h5>
            </div>
            <div class="col-md-6">
                <label>Coupon Name:</label>
                <h5>{{couponCodeDetails.coupon_name}}</h5>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <label>Discount Amount:</label>
                <h5>{{couponCodeDetails.discount_amount}}</h5>
            </div>
            <div class="col-md-6">
                <label>Discount Percentage:</label>
                <h5>{{couponCodeDetails.discount_percent}}</h5>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <label>Count For Single User:</label>
                <h5>{{couponCodeDetails.use_count_single_user}}</h5>
            </div>
            <div class="col-md-6">
                <label>Count For All Users:</label>
                <h5>{{couponCodeDetails.use_count_all_user}}</h5>
            </div>
        </div>
        <br>


        <div class="row">
            <div class="col-md-6">
                <label>Start Date:</label>
                <h5>{{_helper.getESTDateTime(couponCodeDetails.start) }}</h5>
            </div>
            <div class="col-md-6">
                <label>Expiry Date:</label>
                <h5>{{_helper.getESTDateTime(couponCodeDetails.expiry) }}</h5>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-md-6">
                <label>Coupon code applied to Kit</label>
                <ul>
                    <li *ngFor="let kit of couponCodeDetails.dtc_medicine_kits">{{kit.name}}</li>
                </ul>
            </div>
            <div class="col-md-6">
              <label>Coupon code applied to Health Conditions</label>
                <ul>
                    <li *ngFor="let kit of couponCodeDetails.consultation_health_conditions">{{kit.name}}</li>
                </ul>
            </div>
            <div class="col-md-6">
                <label>Coupon code applied to State</label>
                <ul>
                    <li *ngFor="let state of couponCodeDetails.states">{{state.name}}</li>
                </ul>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-md-6">
                <label>Is Active:</label>
                <h5 class="font-weight-bold text-success" *ngIf="couponCodeDetails.is_active == 1"><i class="fa fa-check"></i></h5>
                <h5 class="font-weight-bold text-danger" *ngIf="couponCodeDetails.is_active != 1"><i class="fa fa-times"></i></h5>
            </div>
            <div class="col-md-6">
                <label>Use Count</label>
                <h5 class="font-weight-bold"> {{couponCodeDetails.use_count}}</h5>
            </div>
        </div>
        <hr>
        <div class="view-question-footer">
            <div class="row">
                <div class="col-sm-12 text-right">
                    <a routerLink="/admin/coupon-code/list-coupon-code" routerLinkActive="active" class="btn btn-primary">Back</a>
                </div>
            </div>
        </div>
        <h3>Coupon Used History </h3>
        <div class="table-responsive-md">
            <table mdbTable hover="true" id="coupanCodeList" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"></table>
        </div>
        <br/>
        <div class="table-responsive-md">
            <table mdbTable hover="true" id="consultationCoupanCodeList" datatable [dtOptions]="consultationdtOptions" [dtTrigger]="dtTrigger"></table>
        </div>

    </ng-container>
    <ng-template #nocouponCodeDetails>
        No CouponCode Found
    </ng-template>
</div>
