<div class="container-fluid my-4">
  <div class="card mb-3">
    <div class="card-header bg-dark-grey">
      <h5 class="font-weight-bold text-white mb-0">Account Actions</h5>
    </div>
    <div class="card-body px-0 py-1">
        <button type="button" class="btn btn-warning d-none" (click)="loginAsUser(pharmacyUserId)">Login</button>
        <button type="button" [disabled]="pharmacyUser.is_active==0" (click)="manageAccountService()" [ngClass]="{ 'float-right':true,'btn':true,'btn-dark':pharmacyUser && pharmacyUser.account_service_enabled==1,'btn-success':pharmacyUser && pharmacyUser.account_service_enabled==0}">
          <span *ngIf="pharmacyUser && pharmacyUser.account_service_enabled==0">Enable Account Service</span>
          <span *ngIf="pharmacyUser && pharmacyUser.account_service_enabled==1">Disable Account Service</span>
        </button>
        <button type="button" *ngIf="pharmacyUser.is_active == 1" (click)="manageAccount()" type="button" class="btn btn-danger float-right"><i class="fa fa-ban mr-2" aria-hidden="true"></i>Disable Account</button>
        <button type="button" *ngIf="pharmacyUser.is_active == 0" (click)="manageAccount()" type="button" class="btn btn-success float-right"><i class="fa fa-play mr-2" aria-hidden="true"></i>Enable Account</button>
        <a routerLink="/admin/document-upload/{{pharmacyUserId}}" routerLinkActive="active" class="btn btn-primary float-right">UploadDoument <i class="ml-2 fa fa-upload" aria-hidden="true"></i></a>
        <a (click)="goToPasswordChangePage(pharmacyUserId)" href="javascript:void(0)" class="btn btn-primary float-right">Change Account Password <i class="ml-2 fa fa-key" aria-hidden="true"></i></a>
    </div>
  </div>
  <div class="row">
      <div class="col">
        <div class="row">
          <div class="col-md-6 mb-3">
            <div class="card h-100">
              <div class="card-header bg-dark-grey">
                <h5 class="font-weight-bold text-white mb-0">Personal Details</h5>
              </div>
              <div class="card-body" *ngIf="pharmacyUser && pharmacyDetails">
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label class="font-weight-bold">Pharmacy User Id</label>
                      <p>{{pharmacyUser.id}}</p>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label class="font-weight-bold">Name</label>
                      <p>{{pharmacyUser.first_name + ' ' + pharmacyUser.last_name}}</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label class="font-weight-bold">Contact Number</label>
                      <p>{{pharmacyUser.cell_phone_number | phone }}</p>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label class="font-weight-bold">Email</label>
                      <p>{{pharmacyUser.email}}</p>
                    </div>
                  </div>

                </div>
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label class="font-weight-bold">Pharmacy Name</label>
                      <p>{{pharmacyDetails.pharmacy_name}}</p>
                    </div>
                  </div>
                  <div class="col"*ngIf="pharmacyDetails.practice_addresses">
                    <div class="form-group" *ngFor="let address of pharmacyDetails.practice_addresses; let i = index;">
                      <label class="font-weight-bold">Address #{{i+1}} <i [ngClass]="{'fa fa-circle mr-2': true, 'text-success': address.is_active, 'text-danger': !address.is_active}"></i></label>
                      <p class="m-0">
                        {{address.address_line_1}}{{address.address_line_2?', '+
                        address.address_line_2:""}}
                      </p>
                      <p class="m-0">
                        {{address.city_name}}{{address.state_name?", "+address.state_name:""}}
                        {{address.zip_code}}
                      </p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label class="font-weight-bold">Login Enabled</label>
                      <p>
                        <i *ngIf="pharmacyUser.is_active" class="fa fa-check text-success"></i>
                        <i *ngIf="!pharmacyUser.is_active" class="fa fa-times text-danger"></i>
                      </p>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label class="font-weight-bold">Account Service</label>
                      <p>
                        <i *ngIf="pharmacyUser.account_service_enabled" class="fa fa-check text-success"></i>
                        <i *ngIf="!pharmacyUser.account_service_enabled" class="fa fa-times text-danger"></i>
                      </p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label>Last Login At</label>
                    <p>{{helper.getUTCtoLocalDateTime(pharmacyUser.last_login)}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="card h-100" *blockUI="'profile'">
              <div class="card-header bg-dark-grey">
                <h5 class="font-weight-bold text-white mb-0">User Licenses</h5>
              </div>

              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <table hover="true" width="100%" id="licenseList" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                        class="row-border hover">
                        <thead>
                          <tr>
                            <th>License #</th>
                            <th>State</th>
                            <th>Expiry Date</th>
                            <th>Status</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let license of pharmacyUser.licenses">
                            <td>{{ license.license_number }}</td>
                            <td>{{ license.state_name }}</td>
                            <td>{{ license.expiry_date | date: 'MM/dd/yyyy': 'EDT' }}</td>
                            <td>
                              <span *ngIf="license.is_active" class='badge badge-success'>Active</span>
                              <span *ngIf="!license.is_active" class='badge badge-danger'>In Active</span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <div class="card h-100">
              <div class="card-header bg-dark-grey">
                <h5 class="font-weight-bold text-white mb-0">Documents</h5>
              </div>
              <div class="card-body">
                <!-- <app-doument-list [userId]="pharmacyUserId" [enableHeader]="false"></app-doument-list> -->
              </div>
            </div>
          </div>

          <div class="col-md-6 mb-3">
            <div class="card h-100">
              <div class="card-header bg-dark-grey">
                <h5 class="font-weight-bold text-white mb-0">User Devices</h5>
              </div>
              <ng-container class="card-body" *ngIf="devices.length; else emptyDevicesTemplate">
                    <!-- <button *ngIf="!isCurrentDeviceAdded" class="btn btn-primary" type="button" (click)="openAddPharmacyDeviceModal('CREATE')" ><i class="fa fa-plus"></i>Add Current Device</button> -->
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item" *ngFor="let device of devices">
                          <p class="mb-0">Device Name : {{ device.device_name }} </p>
                          <p class="mb-0">Device Id : {{ device.unique_device_id}}</p>
                          <p class="mb-0">Print After Every : {{ device.refresh_time_minutes}} Minutes</p>
                          <!-- <button type="button" class="btn btn-sm btn-warning" (click)="openAddPharmacyDeviceModal('EDIT',device)"><i class="fas fa-pen"></i></button>
                          <button type="button" class="btn btn-sm btn-danger" (click)="removeMyDevice(device.unique_device_id)"><i class="fas fa-trash"></i></button> -->
                      </li>
                    </ul>
              </ng-container>
              <ng-template #emptyDevicesTemplate>
                <div class="text-center text-muted">
                    <h2><i class="fa fa-info-circle"></i></h2>
                    <h4>No Devices Yet!</h4>
                </div>
              </ng-template>
            </div>
          </div>
      </div>
  </div>
</div>
