
<ng-container *ngIf="OTCCategoryDetails; else noOTCCategoryDetails">
  <div class="p-2">
        <button class="btn btn-primary float-right" type="button" (click)="openEditModal()">Edit <i class="ml-2 fa fa-pencil" aria-hidden="true"></i></button>

        <table class="table">
          <tbody>
            <tr><td class="font-weight-normal border-top-0">Attribute ID</td><td class="font-weight-normal border-top-0">{{OTCCategoryDetails.id}}</td></tr>
            <tr><td class="font-weight-normal">Name</td><td class="font-weight-normal">{{OTCCategoryDetails.name || '-'}} <span class="ml-2 badge badge-success badge-pill p-2" *ngIf="OTCCategoryDetails.is_coming_soon==1">Comming Soon</span></td></tr>
            <tr><td class="font-weight-normal">URL</td><td class="font-weight-normal">{{ OTCCategoryDetails.slug || '-' }}</td></tr>
            <tr><td class="font-weight-normal">Active</td><td class="font-weight-normal"><h5><i class="fa fa-check text-success" *ngIf="OTCCategoryDetails.is_active"></i><i class="fa fa-times text-danger" *ngIf="!OTCCategoryDetails.is_active"></i></h5></td></tr>
      
          </tbody>
        </table>
 
  </div>
</ng-container>
<ng-template #noOTCCategoryDetails>
  No  Details
</ng-template>
