<div class="w-100 p-3 bg-dark-grey">
  <h4 class="text-white font-weight-bold mb-0">Add Medicine Kit</h4>
</div>
<form class="p-5 add-medicine-kit" (ngSubmit)="saveMedicineKit()" [formGroup]="addMedicineKit">
  <div class="alert alert-primary my-3">
    <h5 class="font-weight-bold mb-5">Display Information</h5>
    <div class="row">

    <div class="col-md-4 col-12">
       <label>Treatment Condition :</label>
        <mat-select placeholder="Select Treatment Condition" class="form-control" formControlName="treatment_condition_ids" multiple>
          <mat-option *ngFor="let TC of treatmentConditionList" [value]="TC._id">
            {{TC.name}}
          </mat-option>
        </mat-select>
        <div class="invalid-feedback" *ngIf="treatment_condition_ids?.invalid && (treatment_condition_ids?.dirty || treatment_condition_ids?.touched)"
          class="text-danger font-weight-bold">
          <div *ngIf="treatment_condition_ids?.errors?.required">Treatment Condition is required.</div>
        </div>
    </div>


    <div class="col-md-4 col-12">
       <label>Brand :</label>
        <mat-select placeholder="Select Brand" class="form-control" formControlName="brand_id">
          <mat-option *ngFor="let brand of brandsList" [value]="brand._id">
            {{brand.name}}
          </mat-option>
        </mat-select>
        <div class="invalid-feedback" *ngIf="brand_id?.invalid && (brand_id?.dirty || brand_id?.touched)"
          class="text-danger font-weight-bold">
          <div *ngIf="brand_id?.errors?.required">Brand is required.</div>
        </div>
    </div>

      <div class="col-md-8 col-12">
        <label>Medicine Kit Name:</label>
        <input type="text" class="form-control" placeholder="Enter Kit Name" formControlName="name" />
        <div class="invalid-feedback" *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="text-danger font-weight-bold">
          <div *ngIf="name?.errors?.required">Name is required.</div>
        </div>
      </div>
      <div class="col-md-8 col-12">
        <label>Generic Name (optional):</label>
        <input type="text" class="form-control" placeholder="Enter Generic Name" formControlName="generic_name" />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <label>Tab Name:</label>
        <input type="text" class="form-control" placeholder="Enter Tab Name" formControlName="tab_name" />
        <div class="invalid-feedback" *ngIf="tab_name?.invalid && (tab_name?.dirty || tab_name?.touched)"
          class="text-danger font-weight-bold">
          <div *ngIf="tab_name?.errors?.required">Tab name is required.</div>
        </div>
      </div>
      <div class="col-sm-6">
        <label>Tab URL:</label>
        <input type="text" class="form-control" placeholder="Enter Tab URL" formControlName="tab_url" />
        <div class="invalid-feedback" *ngIf="tab_url?.invalid && (tab_url?.dirty || tab_url?.touched)" class="text-danger font-weight-bold">
          <div *ngIf="tab_url?.errors?.required">Tab URL is required.</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label>Medicine Kit Description :</label>
        <textarea formControlName="description" class="form-control" placeholder="Enter Description" rows="5"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <label>Active:</label> &nbsp;&nbsp;
        <mat-checkbox id="is_active" color="primary" formControlName="is_active">Active</mat-checkbox>
      </div>

      <div class="col-sm-4">
        <label>Coming Soon:</label> &nbsp;&nbsp;
        <mat-checkbox id="is_coming_soon" color="primary" formControlName="is_coming_soon">Coming Soon</mat-checkbox>
      </div>
  </div>
  </div>

   <div class="alert alert-info my-3">
        <h5 class="font-weight-bold mb-5">Upload Images , PDF Documents , Videos</h5>

        <div formArrayName="images">
            <div *ngFor="let fi of images().controls; let fiIndex=index">
              <div class="form-group" [formGroupName]="fiIndex">
                        <div class="form-row">
                            <div class="col">
                                <input type="file" class="form-control" placeholder="Choose File" formControlName="image"  [accept]="'.png, .jpg, .jpeg'"  (change)="onFileChange(fiIndex,$event)" />
                                <div class="invalid-feedback" *ngIf="fi.get('image')?.invalid && (fi.get('image')?.dirty || fi.get('image')?.touched)" class="text-danger">
                                    <div *ngIf="fi.get('image')?.errors?.required"> File is required.</div>
                                </div>
                            </div>
                            <div class="col">
                                  <div class="custom-control custom-radio">
                                    <input type="radio" [id]="'customRadio_'+fiIndex" name="is_default" formControlName="is_default" class="custom-control-input" [value]="1">
                                    <label class="custom-control-label" [htmlFor]="'customRadio_'+fiIndex">Set As Default Image</label>
                                  </div>
                                  <input type="text" class="mt-2 form-control" placeholder="Enter Caption" formControlName="caption"  />
                            </div>
                            <div class="col" *ngIf="fiIndex > 0">
                                  <button  type="button" class="btn btn-sm btn-danger" (click)="removeFileInput(fiIndex)"><i class="fa fa-trash mr-2"></i>Remove</button>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="text-center">
              <button type="button"  class="btn btn-sm btn-primary" (click)="addFileInput()"><i class="fa fa-plus mr-2"></i>Add More Images</button>
        </div>
        <hr/>

          <div formArrayName="videos">
            <div *ngFor="let vi of videos().controls; let viIndex=index">
              <div class="form-group" [formGroupName]="viIndex">
                        <div class="form-row">
                            <div class="col">
                                <input type="file" class="form-control" placeholder="Choose File" formControlName="video"  [accept]="'.mp4'"  (change)="onVideoChange(viIndex,$event)" />
                                <div class="invalid-feedback" *ngIf="vi.get('video')?.invalid && (vi.get('video')?.dirty || vi.get('video')?.touched)" class="text-danger">
                                    <div *ngIf="vi.get('video')?.errors?.required"> Video is required.</div>
                                </div>
                            </div>
                            <div class="col">
                                  <button  type="button" class="btn btn-sm btn-danger" (click)="removeVideoInput(viIndex)"><i class="fa fa-trash mr-2"></i>Remove</button>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="text-center">
              <button type="button"  class="btn btn-sm btn-primary" (click)="addVideoInput()"><i class="fa fa-plus mr-2"></i>Add More Video</button>
        </div>

        <hr/>
        <div formArrayName="documents">
            <div *ngFor="let di of documents().controls; let diIndex=index">
              <div class="form-group" [formGroupName]="diIndex">
                        <div class="form-row">
                            <div class="col">
                                <input type="file" class="form-control" placeholder="Choose Document" formControlName="document"  [accept]="'.pdf'"  (change)="onDocumentChange(diIndex,$event)" />
                                <div class="invalid-feedback" *ngIf="di.get('document')?.invalid && (di.get('document')?.dirty || di.get('document')?.touched)" class="text-danger">
                                    <div *ngIf="di.get('document')?.errors?.required"> Document is required.</div>
                                </div>
                            </div>
                            <div class="col">
                                  <input type="text" class="form-control" placeholder="Enter Document Caption" formControlName="caption"  />
                                  <div class="invalid-feedback" *ngIf="di.get('caption')?.invalid && (di.get('caption')?.dirty || di.get('caption')?.touched)" class="text-danger">
                                    <div *ngIf="di.get('caption')?.errors?.required">Document Caption is required.</div>
                                  </div>
                            </div>
                            <div class="col">
                                  <button  type="button" class="btn btn-sm btn-danger" (click)="removeDocumentInput(diIndex)"><i class="fa fa-trash mr-2"></i>Remove</button>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="text-center">
              <button type="button"  class="btn btn-sm btn-primary" (click)="addDocumentInput()"><i class="fa fa-plus mr-2"></i>Add More Document</button>
        </div>

  </div>

  <div class="alert alert-dark my-3">
        <h5 class="font-weight-bold mb-5">Kit FAQs</h5>
        <div formArrayName="faqs">
            <div *ngFor="let faqItem of faqs().controls; let faqIndex=index">
              <div class="form-group mt-2" [formGroupName]="faqIndex">
                        <div class="form-row">
                            <div class="col-10">
                                  <input type="text" class="form-control" placeholder="Enter FAQ Question" formControlName="question"  />
                                  <div class="invalid-feedback" *ngIf="faqItem.get('question')?.invalid && (faqItem.get('question')?.dirty || faqItem.get('question')?.touched)" class="text-danger">
                                    <div *ngIf="faqItem.get('question')?.errors?.required">FAQ Question is required.</div>
                                  </div>
                            </div>
                            <div class="col-2">
                                  <button  type="button" class="btn btn-sm btn-danger" (click)="removeFAQInput(faqIndex)"><i class="fa fa-trash mr-2"></i>Remove</button>
                            </div>
                            <div class="col-12 mt-2">
                                  <textarea type="text" class="form-control" placeholder="Enter FAQ Answer" formControlName="answer"></textarea>
                                  <div class="invalid-feedback" *ngIf="faqItem.get('answer')?.invalid && (faqItem.get('answer')?.dirty || faqItem.get('answer')?.touched)" class="text-danger">
                                    <div *ngIf="faqItem.get('answer')?.errors?.required">FAQ Answer is required.</div>
                                  </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="text-center">
              <button type="button"  class="btn btn-sm btn-primary" (click)="addFAQInput()"><i class="fa fa-plus mr-2"></i>Add More FAQ</button>
        </div>
  </div>

   <div class="alert alert-success my-3">
        <h5 class="font-weight-bold mb-5">Kit Descriptive Attributes</h5>
        <div formArrayName="attributes">
            <div *ngFor="let attrItem of attributes().controls; let attrIndex=index">
              <div class="form-group mt-2" [formGroupName]="attrIndex">
                        <div class="form-row">
                            <div class="col-10">
                                  <input type="text" class="form-control" placeholder="Enter Attribute Name" formControlName="name"  />
                                  <div class="invalid-feedback" *ngIf="attrItem.get('name')?.invalid && (attrItem.get('name')?.dirty || attrItem.get('name')?.touched)" class="text-danger">
                                    <div *ngIf="attrItem.get('name')?.errors?.required">Attribute Name is required.</div>
                                  </div>
                            </div>
                            <div class="col-2">
                                  <button  type="button" class="btn btn-sm btn-danger" (click)="removeAttributeInput(attrIndex)"><i class="fa fa-trash mr-2"></i>Remove</button>
                            </div>
                            <div class="col-12 mt-2">
                                  <textarea type="text" class="form-control" placeholder="Enter Attribute Value" formControlName="value"></textarea>
                                  <div class="invalid-feedback" *ngIf="attrItem.get('value')?.invalid && (attrItem.get('value')?.dirty || attrItem.get('value')?.touched)" class="text-danger">
                                    <div *ngIf="attrItem.get('value')?.errors?.required">Attribute Value is required.</div>
                                  </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="text-center">
              <button type="button"  class="btn btn-sm btn-primary" (click)="addAttributeInput()"><i class="fa fa-plus mr-2"></i>Add More Attributes</button>
        </div>
  </div>


  <!-- State Availability  -->
  <div class="alert alert-warning my-3">
    <h5 class="font-weight-bold mb-5">State Availability</h5>
    <div class="row">

      <div class="col-md-4 col-12">
        <label for="states">State</label><br />

        <mat-select placeholder="Select State" class="form-control w-100" formControlName="states" multiple>
          <mat-checkbox class="mat-option ckb1" (click)="$event.stopPropagation()" color="primary"
            (change)="handleCheckAll($event, 'state')" [indeterminate]="selectedState && notSelectedStates"
            [checked]="!notSelectedStates">Select All States</mat-checkbox>
          <mat-option *ngFor="let st of statesList" [value]="st._id" color="primary">{{st.name}}</mat-option>
        </mat-select>


        <div class="invalid-feedback" *ngIf="states?.invalid && (states?.dirty || states?.touched)" class="text-danger font-weight-bold">
          <div *ngIf="states?.errors?.required">Please select state.</div>
        </div>
      </div>
    </div>
  </div>

  <!-- Pricing -->
  <div class="alert alert-success my-3">
    <h5 class="font-weight-bold mb-5">Pricing</h5>
    <div class="row">
      <div class="col-md-3 col-12">
        <label>Actual Price:</label>
        <input type="number" class="form-control" min="0" placeholder="Enter Actual Price"
          formControlName="price" />
        <div class="invalid-feedback" *ngIf="price?.invalid && (price?.dirty || price?.touched)"
          class="text-danger font-weight-bold">
          <div *ngIf="price?.errors?.required">Actual price is required.</div>
        </div>
      </div>
      <div class="col-md-3 col-12">
        <label>Pharmacy Price:</label>
        <input type="number" class="form-control" placeholder="Enter Pharmacy Price" min="0"
          formControlName="pharmacy_price" />
        <div class="invalid-feedback" *ngIf="pharmacy_price?.invalid && (pharmacy_price?.dirty || pharmacy_price?.touched)"
          class="text-danger font-weight-bold">
          <div *ngIf="pharmacy_price?.errors?.required">Pharmacy price is required.</div>
        </div>
      </div>
      <div class="col-md-3 col-12">
        <div class="form-group">
          <label>Doctor Cost</label><br />
          <input type="number" id="doctor_price" class="form-control" placeholder="Enter Doctor Cost"
            formControlName="doctor_price" />
          <div class="invalid-feedback" *ngIf="doctor_price?.invalid && (doctor_price?.dirty || doctor_price?.touched)"
            class="text-danger font-weight-bold">
            <div *ngIf="doctor_price?.errors?.required">Doctor Cost is required.</div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-12" *ngIf="addMedicineKit.get('is_offer')?.value==true">
        <div class="form-group">
          <label>Offer Cost</label><br />
          <input type="number" id="offer_price" class="form-control" placeholder="Enter Offer Cost"
            formControlName="offer_price" />
          <div class="invalid-feedback" *ngIf="offer_price?.invalid && (offer_price?.dirty || offer_price?.touched)"
            class="text-danger font-weight-bold">
            <div *ngIf="offer_price?.errors?.required">Offer Cost is required.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <mat-checkbox id="is_offer" formControlName="is_offer" color="primary">Is Offer Available ?</mat-checkbox>
        </div>
      </div>
    </div>
  </div>

  <!-- Subscription -->
  <div class="alert alert-secondary my-3">
    <h5 class="font-weight-bold mb-5">Subscription</h5>
    <div class="row">
      <div class="col-md-4">
        <label>Auto Refill ? :</label> &nbsp;&nbsp;
        <mat-checkbox id="is_auto_refill" color="primary" formControlName="is_auto_refill">Is Auto Refill
        </mat-checkbox>
      </div>
      <div class="col-md-4">
        <label>Default Refill Count:</label>
        <input type="number" min="0" class="form-control" placeholder="Enter Default Refill"
          formControlName="default_refill" />
        <div class="invalid-feedback" *ngIf="default_refill?.invalid && (default_refill?.dirty || default_refill?.touched)"
          class="text-danger font-weight-bold">
          <div *ngIf="default_refill?.errors?.required">Default refill count is required.</div>
        </div>
      </div>
      <div class="col-md-4">
        <label> Refill Frequency In Days:</label>
        <input type="number" min="0" class="form-control" placeholder="Enter Refill Frequency"
          formControlName="refill_frequency" />
        <div class="invalid-feedback"
          *ngIf="	refill_frequency?.invalid && (	refill_frequency?.dirty || refill_frequency?.touched)" class="text-danger font-weight-bold">
          <div *ngIf="refill_frequency?.errors?.required"> Refill frequency is required.</div>
        </div>
      </div>
    </div>
  </div>

  <!-- ICD10 Code -->
  <div class="alert alert-info my-3">
    <h5 class="font-weight-bold mb-5">ICD10 Code</h5>
    <div class="row">
      <div class="col-12">
        <label>ICD10 Code</label>
        <mat-form-field class="example-chip-list w-100">
          <mat-chip-list #similarDrugChipList>
            <mat-chip *ngFor="let sd of selectedSimilarDrugs" [selectable]="selectable" [removable]="removable"
              (removed)="removeSimilarDrug(sd)">
              {{sd[0]+' '+sd[1]}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input placeholder="ICD10 Code" #similarDrugsInput [formControl]="SimilarDrugsCtrl"
              [matAutocomplete]="autoSimilarDrug" [matChipInputFor]="similarDrugChipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="addSimilarDrug($event)">
          </mat-chip-list>
          <mat-autocomplete #autoSimilarDrug="matAutocomplete" (optionSelected)="selectedSimilarDrug($event)">
            <mat-option *ngFor="let similarDrug of filteredSimilarDrugs | async"
              [value]="similarDrug[0]+'___'+similarDrug[1]">
              {{similarDrug[0]+' '+similarDrug[1]}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
    <div class="text-right">
      <button class="btn btn-sm btn-primary" type="button" (click)="addNewCustomICD10Code()"><i
          class="fa fa-plus mr-2"></i>Add Custom ICD10 Code</button>
    </div>
    <div formArrayName="custom_icd10_codes">
      <div class="alert-warning mb-2 p-2"
        *ngFor="let icd10Code of custom_icd10_codesControls(); let icd10CodeIndex = index"
        [formGroupName]="icd10CodeIndex">
        <div class="form-row">
          <div class="col-md-4">
            <div class="form-group">
              <label class="float-left">ICD10 Code</label>
              <input type="text" class="form-control" placeholder="Enter ICD10 Code" formControlName="code" />
              <div class="invalid-feedback"
                *ngIf="icd10Code.get('code')?.invalid && (icd10Code.get('code')?.dirty || icd10Code.get('code')?.touched)"
                class="text-danger font-weight-bold">
                <div *ngIf="icd10Code.get('code')?.errors?.required">ICD10 Code is required.</div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <label class="float-left">Description</label>
            <input type="text" class="form-control" placeholder="Enter description" formControlName="description" />
          </div>
          <div class="col-md-2">
            <button class="float-right btn btn-sm btn-danger" type="button"
              (click)="removeCustomICD10Code(icd10CodeIndex)"><i class="fa fa-trash mr-2"></i>Remove</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Medicines -->
  <div class="alert alert-dark my-3">
    <h5 class="font-weight-bold mb-5">Medicines</h5>
    <div class="alert alert-danger" *ngIf="medicineError">
      <h5>Atleast one medicine is required!</h5>
    </div>
    <div formArrayName="medicines">
      <div *ngFor="let kit of medicinesControls(); let medicineIndex = index"
        [formGroupName]="medicineIndex">
        <div class="form-group">
          <div class="form-row">
            <div class="col-md-6">
              <label class="float-left">Name</label>
              <input type="text" class="form-control" placeholder="Enter Name" formControlName="name" />
              <div class="invalid-feedback"
                *ngIf="kit.get('name')?.invalid && (kit.get('name')?.dirty || kit.get('name')?.touched)" class="text-danger font-weight-bold">
                <div *ngIf="kit.get('name')?.errors?.required">Name is required.</div>
              </div>
            </div>
            <div class="col-md-2">
              <label>Strength: 10 mg</label>
              <input type="text" class="form-control" placeholder="Enter Strength" formControlName="strength" />
              <div class="invalid-feedback"
                *ngIf="kit.get('strength')?.invalid && (kit.get('strength')?.dirty || kit.get('strength')?.touched)"
                class="text-danger font-weight-bold">
                <div *ngIf="kit.get('strength')?.errors?.required">Strength is required.</div>
              </div>
            </div>
            <div class="col-md-3">
              <label>NDC Number</label>
              <input type="text" class="form-control" placeholder="Enter NDC Number" formControlName="ndc_number" />
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="form-row">
            <div class="col-md-6">
              <label class="float-left">Quantity</label>
              <input type="number" class="form-control" min="0" placeholder="Enter Quantity" formControlName="quantity" />
              <div class="invalid-feedback"
                *ngIf="kit.get('quantity')?.invalid && (kit.get('quantity')?.dirty || kit.get('quantity')?.touched)"
                class="text-danger font-weight-bold">
                <div *ngIf="kit.get('quantity')?.errors?.required"> Quantity is required.</div>
              </div>
            </div>
            <div class="col-md-6">
              <label class="float-left">Quantity Unit</label>
              <mat-select placeholder="Enter Quantity Unit" min="0" class="form-control" formControlName="quantity_unit">
                <mat-option value="1">
                  Number
                </mat-option>
              </mat-select>
              <div class="invalid-feedback"
                *ngIf="kit.get('quantity_unit')?.invalid && (kit.get('quantity_unit')?.dirty || kit.get('quantity_unit')?.touched)"
                class="text-danger font-weight-bold">
                <div *ngIf="kit.get('quantity_unit')?.errors?.required"> Quantity unit is required.</div>
              </div>
            </div>

          </div>
          <br>
          <div class="form-row">
            <div class="col-md-6">
              <label>Default Direction</label>
              <textarea formControlName="default_direction" class="form-control"
                placeholder="Enter Default Direction"></textarea>
              <div class="invalid-feedback"
                *ngIf="kit.get('default_direction')?.invalid && (kit.get('default_direction')?.dirty || kit.get('default_direction')?.touched)"
                class="text-danger font-weight-bold">
                <div *ngIf="kit.get('default_direction')?.errors?.required"> Default direction is required.</div>
                <div *ngIf="kit.get('default_direction')?.errors?.maxlength"> Maximum 140 characters allowed.</div>
              </div>
            </div>
          </div><br>

          <div class="form-row">
            <div class="col-md-3">
              <label>Route</label>
              <input type="text" class="form-control" placeholder="Enter Route" formControlName="route" />
            </div>

            <div class="col-md-3">
              <label>RXCUI</label>
              <input type="text" class="form-control" placeholder="Enter RXCUI" formControlName="rxcui" />
            </div>

            <div class="col-md-3">
              <label>Days Supply</label>
              <input type="number" class="form-control" placeholder="Enter Days Supply" min="0"
                formControlName="days_supply" />
              <div class="invalid-feedback"
                *ngIf="kit.get('days_supply')?.invalid && (kit.get('days_supply')?.dirty || kit.get('days_supply')?.touched)"
                class="text-danger font-weight-bold">
                <div *ngIf="kit.get('days_supply')?.errors?.required">Days Supply is required.</div>
              </div>
            </div>
          </div><br />

          <div class="form-row">
            <div class="col-md-3">
              <label class="d-block">Is Shippable?</label>
              <mat-checkbox color="primary" formControlName="is_shippable">is shippable?</mat-checkbox>
            </div>

            <div class="col-md-3" *ngIf="kit.get('is_shippable')?.value==true">
              <label>Shipping Weight</label>
              <input type="number" class="form-control" placeholder="Enter Shipping Weight" formControlName="shipping_weight" />
              <div class="invalid-feedback" *ngIf="kit.get('shipping_weight')?.invalid && (kit.get('shipping_weight')?.dirty || kit.get('shipping_weight')?.touched)"
                class="text-danger font-weight-bold">
                <div *ngIf="kit.get('shipping_weight')?.errors?.required">Shipping Weight is required.</div>
              </div>
            </div>

            <div class="col-md-3" *ngIf="kit.get('is_shippable')?.value==true">
              <label>Shipping Weight Unit</label>
              <input type="text" class="form-control" placeholder="Enter Days Supply" min="0" formControlName="shipping_weight_unit" />
              <div class="invalid-feedback" *ngIf="kit.get('shipping_weight_unit')?.invalid && (kit.get('shipping_weight_unit')?.dirty || kit.get('shipping_weight_unit')?.touched)"
                class="text-danger font-weight-bold">
                <div *ngIf="kit.get('shipping_weight_unit')?.errors?.required">Shipping Weight Unit is required.</div>
              </div>
            </div>
          </div><br />

          <div class="form-row">

            <div class="col-md-3">
              <label>Substitutions</label><br />
              <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                formControlName="substitutions" required>
                <mat-radio-button class="example-radio-button" [value]="true" color='primary'>
                  Allow Substitutions
                </mat-radio-button> &nbsp;
                <mat-radio-button class="example-radio-button" [value]="false" color='primary'>
                  No Substitutions
                </mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="col-md-3">
              <label>Doseform</label>
              <input type="text" class="form-control" placeholder="Enter Doseform" formControlName="doseform" />
            </div>
            <div class="col-md-3">
              <label>NCIT Code</label>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Enter NCIT Code" formControlName="ncpdp_unit_code" />
                <div class="input-group-prepend">
                  <button type="button" class="m-0 btn btn-outline-primary" (click)="NCITCodeSearch(medicineIndex)"><i
                      class="fa fa-search" aria-hidden="true"></i></button>
                </div>
              </div>
            </div>
          </div><br />

          <div class="form-row">
            <div class="col-md-6">
              <label class="d-block">Active</label>
              <mat-checkbox formControlName="is_active" color="primary">Active</mat-checkbox>
            </div>
            <div class="col-md-6">
              <label class="d-block"></label>
              <button class="btn-sm btn-danger float-right" (click)="removeMedicine(medicineIndex)"><i
                  class="fa fa-trash"></i> Remove</button>
            </div>
          </div>
        </div>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <button type="button" class="btn btn-sm btn-success" (click)="addNewMedicine()">Add New Medicine</button>
      </div>
    </div>
  </div>

  <div class="text-center mt-3">
      <button class="btn btn-block btn-success" type="submit">Create Medicine Kit</button>
  </div>

</form>
