<div class="w-100 p-3 bg-dark-grey">
    <h4 class="text-white font-weight-bold mb-0">Edit Technician</h4>
</div>
<div class="p-3">
  <form  (ngSubmit)="saveTechnician()" [formGroup]="addTechnician">
    <div class="form-group">
      <div class="form-row">
        <div class="col-md-6">
          <label class="float-left">First Name</label>
          <input type="text" id="first_name" class="form-control" placeholder="Enter First Name" formControlName="first_name" />
          <div class="invalid-feedback" *ngIf="first_name?.invalid && (first_name?.dirty || first_name?.touched)" class="text-danger">
            <div *ngIf="first_name?.errors?.required">First name is required.</div>
          </div>
        </div>
        <div class="col-md-6">
          <label class="float-left">Last Name</label>
          <input type="text" id="last_name" formControlName="last_name" class="form-control input-lg" placeholder="Enter Last Name"/>
          <div class="invalid-feedback" *ngIf="last_name?.invalid && (last_name?.dirty || last_name?.touched)" class="text-danger">
            <div *ngIf="last_name?.errors?.required">Last name is required.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="form-row">
        <div class="col-md-6">
          <label class="d-block">Gender</label>
          <div class="form-check">
            <input formControlName="gender" class="form-check-input" type="radio" name="gender" id="genderMale" value="male">
            <label class="form-check-label" for="genderMale"> Male </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            <input formControlName="gender" class="form-check-input" type="radio" name="gender" id="genderFemale" value="female">
            <label class="form-check-label" for="genderFemale"> Female </label>
          </div>

          <div class="invalid-feedback" *ngIf="gender?.invalid && (gender?.dirty || gender?.touched)" class="text-danger">
            <div *ngIf="gender?.errors?.required">Gender is required.</div>
          </div>
        </div>
        <div class="col-md-6">
          <label class="float-left">Email</label>
          <input type="email" id="email" formControlName="email" class="form-control input-lg" placeholder="Enter Email" />
          <div class="invalid-feedback" *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="text-danger">
            <div *ngIf="email?.errors?.required">Email is required.</div>
            <div *ngIf="email?.errors?.email">Email must be a valid email address.</div>
          </div>
        </div>
        <div class="col-md-6">
          <label class="float-left">Cell Phone Number</label>
          <input type="text" id="cell_phone_number" formControlName="cell_phone_number" class="form-control input-lg" placeholder="Enter Cell Phone Number"
            [(ngModel)]="technicianObj.cell_phone_number" />
          <div class="invalid-feedback" *ngIf="cell_phone_number?.invalid && (cell_phone_number?.dirty || cell_phone_number?.touched)"
            class="text-danger">
            <div *ngIf="cell_phone_number?.errors?.required">Cell phone number is required.</div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="form-row">

        <div class="col-md-4">
          <label class="d-block">Notifications for Email and Text </label>
          <mat-checkbox id="email_phone_consent" formControlName="email_phone_consent" color="primary">Notifications
            for Email and Text</mat-checkbox>

        </div>
        <div class="col-md-4">
          <label class="d-block">Active </label>
          <mat-checkbox id="is_active" formControlName="is_active" color="primary">Active</mat-checkbox>
        </div>
        <div class="col-md-4">
          <label class="d-block">Add Memo Tab</label>
          <mat-checkbox color="primary" formControlName="add_memo_tab" [checked]="true">
            Add Memo Tab
          </mat-checkbox>
        </div>
      </div>
    </div>

    <div class="form-group mt-1">
      <div class="row">
        <div class="col">
          <div class="text-center">
            <button type="submit" class="btn btn-info mr-2">Submit</button>
            <a routerLink="/admin/technicians/list" routerLinkActive="active" class="btn btn-primary">Back</a>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
