<section>
  <div class="row mt-3 p-3">
    <div class="col-xl-3 col-md-6 mb-r">
      <a href="javascript:void(0)" routerLink="/admin/states">
        <div class="card classic-admin-card purple-darken-4">
          <div class="card-body">
            <div class="pull-right">
              <i class="fa fa-3x fa-globe" style="opacity:0.1; transform: rotate(-35deg);"></i>
            </div>
            <p class="white-text">STATES</p>
            <h4>
              <strong>{{ counts.total_state }}</strong>
            </h4>
          </div>
        </div>
      </a>
      <div *ngIf="counts">
        <table class="table table-hover table-sm">
          <tr class="cursor-pointer" (click)="goToDetails('STATE','is_active', 1)">
            <td class="font-weight-normal">Active</td>
            <td class="text-right">
              <span class="badge badge-primary badge-pill py-2 px-3">{{ counts?.total_state_active }}</span>
            </td>
          </tr>
          <tr class="cursor-pointer" (click)="goToDetails('STATE','is_active', 0)">
            <td  class="font-weight-normal">Inactive</td>
            <td class="text-right">
              <span class="badge badge-primary badge-pill py-2 px-3">{{ counts?.total_state_inactive }}</span>
            </td>
        </table>
        </div>
    </div>


    <div class="col-xl-3 col-md-6 mb-r">
      <a href="javascript:void(0)" routerLink="/admin/medicine-kits/list">
        <div class="card classic-admin-card purple-darken-3">
          <div class="card-body">
            <div class="pull-right">
              <i class="fa fa-3x fa-medkit" style="opacity:0.1; transform: rotate(-35deg);"></i>
            </div>
            <p>MEDICINE KITS</p>
            <h4>
              <strong>{{ counts.total_medicinekits }}</strong>
            </h4>
          </div>
        </div>
      </a>
      <div *ngIf="counts">
        <table class="table table-hover table-sm">
          <tr class="cursor-pointer" (click)="goToDetails('MEDICINE_KIT', 'is_special_kit', 0)">
            <td  class="font-weight-normal">Regular</td>
            <td class="text-right">
              <span class="badge badge-primary badge-pill py-2 px-3">{{ counts?.total_medicinekits_regular }}</span>
            </td>
          </tr>
          <tr class="cursor-pointer" (click)="goToDetails('MEDICINE_KIT', 'is_special_kit', 1)">
            <td class="font-weight-normal">Special</td>
            <td class="text-right">
              <span class="badge badge-primary badge-pill py-2 px-3">{{ counts?.total_medicinekits_special }}</span>
            </td>
          </tr>
          <tr class="cursor-pointer" (click)="goToDetails('MEDICINE_KIT','is_active', 1)">
            <td class="font-weight-normal">Active</td>
            <td class="text-right">
              <span class="badge badge-primary badge-pill py-2 px-3">{{ counts?.total_medicinekits_active }}</span>
            </td>
          </tr>
          <tr class="cursor-pointer" (click)="goToDetails('MEDICINE_KIT','is_active', 0)">
            <td class="font-weight-normal">Inactive</td>
            <td class="text-right">
              <span class="badge badge-primary badge-pill py-2 px-3">{{ counts?.total_medicinekits_inactive }}</span>
            </td>
          </tr>
          <tr class="cursor-pointer" (click)="goToDetails('MEDICINE_KIT', 'is_coming_soon', 1)">
            <td class="font-weight-normal">Coming Soon</td>
            <td class="text-right">
              <span class="badge badge-primary badge-pill py-2 px-3">{{ counts?.total_medicinekits_coming_soon }}</span>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-r">
      <a href="javascript:void(0)" routerLink="/admin/druginfo/list">
        <div class="card classic-admin-card purple-darken-1">
          <div class="card-body">
            <div class="pull-right">
              <i class="fa fa-3x fa-shopping-cart" style="opacity:0.1; transform: rotate(-35deg);"></i>
            </div>
            <p>MASTER DRUGS (RX + OTC)</p>
            <h4>
              <strong>{{ counts.total_master_drugs }}</strong>
            </h4>
          </div>
        </div>
      </a>
      <div *ngIf="counts">
        <table class="table table-hover table-sm">
          <tr class="cursor-pointer" (click)="goToDetails('DRUGS', 'is_active', 1)">
            <td class="font-weight-normal">Master Active</td>
            <td class="text-right">
              <span class="badge badge-primary badge-pill py-2 px-3">{{ counts?.total_master_drugs_active }}</span>
            </td>
          </tr>
          <tr class="cursor-pointer" (click)="goToDetails('DRUGS', 'is_active', 0)">
            <td class="font-weight-normal">Master Inactive</td>
            <td class="text-right">
              <span class="badge badge-primary badge-pill py-2 px-3">{{ counts?.total_master_drugs_inactive }}</span>
            </td>
          </tr>
          <tr class="cursor-pointer" (click)="goToDetails('DRUGS',null,null)">
            <td class="font-weight-normal">Total Dosage</td>
            <td class="text-right">
              <span class="badge badge-primary badge-pill py-2 px-3">{{ counts?.total_drugs }}</span>
            </td>
          </tr>
          <tr class="cursor-pointer" (click)="goToDetails('DRUGS','is_active', 1)">
            <td class="font-weight-normal">Total Dosage Active</td>
            <td class="text-right">
              <span class="badge badge-primary badge-pill py-2 px-3">{{ counts?.total_drugs_active }}</span>
            </td>
          </tr>
          <tr class="cursor-pointer" (click)="goToDetails('DRUGS','is_active', 0)">
            <td class="font-weight-normal">Total Dosage Inactive</td>
            <td class="text-right">
              <span class="badge badge-primary badge-pill py-2 px-3">{{ counts?.total_drugs_inactive }}</span>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="row mt-3 p-3">
    <div class="col-xl-3 col-md-6 mb-r">
      <a href="javascript:void(0)" routerLink="/admin/doctors/list">
        <div class="card classic-admin-card amber-darken-4">
          <div class="card-body">
            <div class="pull-right">
              <i class="fa fa-3x fa-user-md" style="opacity:0.1; transform: rotate(-35deg);"></i>
            </div>
            <p>DOCTORS</p>
            <h4>
              <strong>{{ counts.total_doctor }}</strong>
            </h4>
          </div>
        </div>
      </a>
      <div *ngIf="counts">
        <table class="table table-hover table-sm">
          <tr class="cursor-pointer" (click)="goToDetails('DOCTOR','is_active', 1)">
            <td class="font-weight-normal">Active</td>
            <td class="text-right">
              <span class="badge badge-primary badge-pill py-2 px-3">{{ counts?.total_doctor_active }}</span>
            </td>
          </tr>
          <tr class="cursor-pointer" (click)="goToDetails('DOCTOR','is_active', 0)">
            <td class="font-weight-normal">Inactive</td>
            <td class="text-right">
              <span class="badge badge-primary badge-pill py-2 px-3">{{ counts?.total_doctor_inactive }}</span>
            </td>
          </tr>
        </table>
      </div>
    </div>
    
  </div>


  <div class="row mt-3 p-3">
    <div class="col-xl-3 col-md-6 mb-r">
      <a href="javascript:void(0)" routerLink="/admin/categories">
        <div class="card classic-admin-card red-darken-4">
          <div class="card-body">
            <div class="pull-right">
              <i class="fa fa-3x fa-list" style="opacity:0.1; transform: rotate(-35deg);"></i>
            </div>
            <p>CATEGORIES</p>
            <h4>
              <strong>{{ counts.total_otc_categories }}</strong>
            </h4>
          </div>
        </div>
      </a>
      <div *ngIf="counts">
        <table class="table table-hover table-sm">
          <tr class="cursor-pointer" (click)="goToDetails('OTC_CATEGORIES','is_active',1)">
            <td class="font-weight-normal">Active</td>
            <td class="text-right">
              <span class="badge badge-primary badge-pill py-2 px-3">{{ counts?.total_otc_categories_active }}</span>
            </td>
          </tr>
          <tr class="cursor-pointer" (click)="goToDetails('OTC_CATEGORIES','is_active',0)">
            <td class="font-weight-normal">Inactive</td>
            <td class="text-right">
              <span class="badge badge-primary badge-pill py-2 px-3">{{ counts?.total_otc_categories_inactive }}</span>
            </td>
          </tr>
          <tr class="cursor-pointer" (click)="goToDetails('OTC_CATEGORIES','is_coming_soon',1)">
            <td class="font-weight-normal">Coming Soon</td>
            <td class="text-right">
              <span class="badge badge-primary badge-pill py-2 px-3">{{ counts?.total_otc_categories_coming_soon }}</span>
            </td>
          </tr>
        </table>
      </div>
    </div>
     <div class="col-xl-3 col-md-6 mb-r">
      <a href="javascript:void(0)" routerLink="/admin/categories">
        <div class="card classic-admin-card red-darken-4">
          <div class="card-body">
            <div class="pull-right">
              <i class="fa fa-3x fa-list" style="opacity:0.1; transform: rotate(-35deg);"></i>
            </div>
            <p>OTC SUBCATEGORIES</p>
            <h4>
              <strong>{{ counts.total_otc_subcategories }}</strong>
            </h4>
          </div>
        </div>
      </a>
      <div *ngIf="counts">
        <table class="table table-hover table-sm">
          <tr class="cursor-pointer" (click)="goToDetails('OTC_CATEGORIES','is_active',1)">
            <td class="font-weight-normal">Active</td>
            <td class="text-right">
              <span class="badge badge-primary badge-pill py-2 px-3">{{ counts?.total_otc_subcategories_active }}</span>
            </td>
          </tr>
          <tr class="cursor-pointer" (click)="goToDetails('OTC_CATEGORIES','is_active',0)">
            <td class="font-weight-normal">Inactive</td>
            <td class="text-right">
              <span class="badge badge-primary badge-pill py-2 px-3">{{ counts?.total_otc_subcategories_inactive }}</span>
            </td>
          </tr>
          <tr class="cursor-pointer" (click)="goToDetails('OTC_CATEGORIES','is_coming_soon',1)">
            <td class="font-weight-normal">Coming Soon</td>
            <td class="text-right">
              <span class="badge badge-primary badge-pill py-2 px-3">{{ counts?.total_otc_subcategories_coming_soon }}</span>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-r">
      <a href="javascript:void(0)" routerLink="/admin/otc-drugs">
        <div class="card classic-admin-card red-darken-3">
          <div class="card-body">
            <div class="pull-right">
              <i class="fa fa-3x fa-shopping-cart" style="opacity:0.1; transform: rotate(-35deg);"></i>
            </div>
            <p>OTC DRUGS</p>
            <h4>
              <strong>{{ counts.total_otc_drugs }}</strong>
            </h4>
          </div>
        </div>
      </a>
      <div *ngIf="counts">
        <table class="table table-hover table-sm">
          <tr class="cursor-pointer" (click)="goToDetails('OTC','is_active',1)">
            <td class="font-weight-normal">Active</td>
            <td class="text-right">
              <span class="badge badge-primary badge-pill py-2 px-3">{{ counts?.total_otc_drugs_active }}</span>
            </td>
          </tr>
          <tr class="cursor-pointer" (click)="goToDetails('OTC','is_active',0)">
            <td class="font-weight-normal">Inactive</td>
            <td class="text-right">
              <span class="badge badge-primary badge-pill py-2 px-3">{{ counts?.total_otc_drugs_inactive }}</span>
            </td>
          </tr>
           <tr class="cursor-pointer" (click)="goToDetails('OTC','is_coming_soon',1)">
            <td class="font-weight-normal">Coming Soon</td>
            <td class="text-right">
              <span class="badge badge-primary badge-pill py-2 px-3">{{ counts?.total_otc_drugs_coming_soon }}</span>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-r">
      <a href="javascript:void(0)" routerLink="/admin/druginfo/list">
        <div class="card classic-admin-card red-darken-2">
          <div class="card-body">
            <div class="pull-right">
              <i class="fa fa-3x fa-shopping-cart" style="opacity:0.1; transform: rotate(-35deg);"></i>
            </div>
            <p>RX DRUGS</p>
            <h4>
              <strong>{{ counts.total_rx_drugs }}</strong>
            </h4>
          </div>
        </div>
      </a>
      <div *ngIf="counts">
        <table class="table table-hover table-sm">

          <tr class="cursor-pointer" (click)="goToDetails('DRUGS_INFO','is_active',1)">
            <td class="font-weight-normal">Rx Drugs Active</td>
            <td class="text-right">
              <span class="badge badge-primary badge-pill py-2 px-3">{{ counts?.total_rx_drugs_active }}</span>
            </td>
          </tr>
          <tr class="cursor-pointer" (click)="goToDetails('DRUGS_INFO','is_active',0)">
            <td class="font-weight-normal">Rx Drugs Inactive</td>
            <td class="text-right">
              <span class="badge badge-primary badge-pill py-2 px-3">{{ counts?.total_rx_drugs_inactive }}</span>
            </td>
          </tr>
           <tr class="cursor-pointer" (click)="goToDetails('DRUGS_INFO','is_coming_soon',1)">
            <td class="font-weight-normal">Rx Drugs Coming Soon</td>
            <td class="text-right">
              <span class="badge badge-primary badge-pill py-2 px-3">{{ counts?.total_rx_drugs_coming_soon }}</span>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  
</section>
