 <div class="modal-content">
    <div class="modal-header">
        <h4 class="font-weight-bold modal-title w-100" id="VoiceCallModalTitle">
            {{ details.event_type=='VOICE_CALL'?'Voice Call ?':'' }}
            {{ details.event_type=='VIDEO_CALL'?'Video Call ?':'' }}
            {{ details.event_type=='INCOMING_VOICE_CALL'?'New Incoming Voice Call':'' }}
            {{ details.event_type=='INCOMING_VIDEO_CALL'?'New Incoming Video Call':'' }}
        </h4>
        <button (click)="closeModal()" type="button" id="closeVoiceCallModalBtn" class="close float-right" aria-label="Close" data-dismiss="modal">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body" *ngIf="details">
        <p class="text-center">
            <i *ngIf="details.event_type=='VOICE_CALL'" class="fas fa-4x fa-phone-alt"></i>
            <i *ngIf="details.event_type=='VIDEO_CALL'" class="fas fa-4x fa-video"></i>
            <img *ngIf="details.event_type=='INCOMING_VOICE_CALL' || details.event_type=='INCOMING_VIDEO_CALL'" src="assets/img/call.gif" alt="Calling.." style="width: 200px;" />
        </p>
        <h6 class="text-center" *ngIf="details.event_type=='VOICE_CALL' || details.event_type=='VIDEO_CALL'">Do you want to call {{details.call_to_name}} ?</h6>
        <h6 class="text-center" *ngIf="details.event_type=='INCOMING_VOICE_CALL' || details.event_type=='INCOMING_VIDEO_CALL'"><strong>TeleDaddy Team</strong> is calling...</h6>

    </div>
      <div class="modal-footer justify-content-center">
            <a  *ngIf="(details.event_type=='VOICE_CALL' || details.event_type=='VIDEO_CALL') && details.event_link" class="btn btn-success" [href]="details.event_link" target="_blank" (click)="closeModal()">Yes , Call Now</a>


            <a *ngIf="details.event_type=='INCOMING_VOICE_CALL'"  href="javascript:void(0)"  type="button" class="btn btn-success"  (click)="acceptIncomingCall()"><i class="fas check-circle mr-2"></i>Accept</a>
            <a *ngIf="details.event_type=='INCOMING_VOICE_CALL'"  href="javascript:void(0)"  type="button" class="btn btn-danger" (click)="rejectIncomingCall()"><i class="fas fa-ban mr-2"></i>Reject</a>

            <a *ngIf="details.event_type=='INCOMING_VIDEO_CALL'"  href="javascript:void(0)"  type="button" class="btn btn-success"  (click)="acceptIncomingVideoCall()"><i class="fas check-circle mr-2"></i>Accept</a>
            <a *ngIf="details.event_type=='INCOMING_VIDEO_CALL'"  href="javascript:void(0)"  type="button" class="btn btn-danger" (click)="rejectIncomingVideoCall()"><i class="fas fa-ban mr-2"></i>Reject</a>

      </div>

</div>
