<ul class="nav nav-tabs" *ngIf="!hideNav">
    <li class="nav-item">
        <a class="nav-link" routerLinkActive='active' routerLink='details'>Details</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLinkActive='active' routerLink='user-management'>User Management</a>
    </li>
</ul>
<router-outlet></router-outlet>
<div class="text-center mt-3">
    <a routerLink="/admin/pharmacies/list" routerLinkActive="active" class="btn btn-primary"><i class="fa fa-arrow-left mr-2" aria-hidden="true"></i>Back</a>
</div>