<div class="p-3">
        <!-- <div class="bg-primary text-white font-weight-bold">Family History</div> -->
    <div class="col-sm-12">
        <h5 class="p-2 bg-primary text-white font-weight-bold">Family History</h5>
    </div>
    <div class="col-sm-12 mb-3" *ngIf="familyHistory; else noFamilyHistory;">
        <app-quiz-answers [maxHeight]="4000" [details]="familyHistory"></app-quiz-answers>
        <hr>
    </div>
    <ng-template #noFamilyHistory>
        <div class="col-sm-12 text-center text-muted">
            <h2><i class="fa fa-info-circle"></i></h2>
            <h4>Family History Data Not Available</h4>
            <hr>
        </div>
    </ng-template>

    <!-- <div class="bg-primary text-white font-weight-bold">Surgical History</div> -->
    <div class="col-sm-12">
        <h5 class="p-2 bg-primary text-white font-weight-bold">Surgical History</h5>
    </div>
    <div class="col-sm-12 mb-3" *ngIf="surgicalHistory; else noSurgicalHistory;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let item of surgicalHistory">
                <h6 class="mb-0 font-weight-bold">{{item.surgery_problem}} - {{ item.surgery_time | date: 'MMMM yyyy' }}
                </h6>
                <p class="mb-0 font-weight-normal">{{item.surgery_description}}</p>
            </li>
        </ul>
    </div>
    <ng-template #noSurgicalHistory>
        <div class="col-sm-12 text-center text-muted">
            <h2><i class="fa fa-info-circle"></i></h2>
            <h4>Surgical History Data Not Available</h4>
            <hr>
        </div>
    </ng-template>


    <!-- <div class="bg-primary text-white font-weight-bold">Social History</div> -->
    <div class="col-sm-12">
        <h5 class="p-2 bg-primary text-white font-weight-bold">Social History</h5>
    </div>
    <div class="col-sm-12 mb-3" *ngIf="socialHistory; else noSocialHistory">
        <app-quiz-answers [maxHeight]="600" [details]="socialHistory"></app-quiz-answers>
        <hr>
    </div>
    <ng-template #noSocialHistory>
        <div class="col-sm-12 text-center text-muted">
            <h2><i class="fa fa-info-circle"></i></h2>
            <h4>Social History Data Not Available</h4>
            <hr>
        </div>
    </ng-template>
</div>