<!-- Page content -->
<div class="container pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card my-5 shadow border-0">
        <div class="card-header bg-dark-blue text-center">
          <h4 class="text-white">Forgot Password ?</h4>
          <p class="text-white">Please provide your email id so that we can send you the link for resetting your
            password</p>
        </div>
        <div class="card-body px-lg-5 py-lg-5">
          <form role="form" [formGroup]="forgotPasswordForm" (ngSubmit)="handleSubmit(forgotPasswordForm.valid)">
            <div class="form-group mb-3">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                </div>
                <input class="form-control" placeholder="Email" type="email" formControlName="email">
              </div>
               <div class="invalid-feedback" *ngIf="email?.invalid && (email?.dirty || email?.touched)"
                  class="text-danger">
                  <div *ngIf="email?.errors?.required">Email is required.</div>
                  <div *ngIf="email?.errors?.email">Invalid Email.</div>
                </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary btn-block my-4">
                <span *ngIf="!saving">Send Password Reset Link</span>
                <span *ngIf="saving">Sending ...</span>
              </button>

              <a href="javascript:void(0)" class="btn btn-link btn-block" routerLinkActive="active"
                routerLink="/account/login"><small><i class="fas fa-angle-left mr-2"></i>Back To Login</small></a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
