<div *ngIf="showHeaderAndFilter" class="w-100 p-3 bg-dark-grey">
  <h4 class="text-white font-weight-bold mb-0">Question Preview</h4>
</div>
<div *ngIf="showHeaderAndFilter" class="p-3">
  <div class="row border-bottom">
    <div class="col-md-4">
      <label>Question Category</label>
      <mat-form-field class="w-100">
        <mat-select placeholder="Select Question Category" (selectionChange)="handleChange($event.value)" [(ngModel)]="selectedCategory">
          <mat-option *ngFor="let flow of categoryList" [value]="flow.value">{{flow.type}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-4" *ngIf="selectedCategory == 'ORDER'">
      <label for="kits">Medicine Kits</label>
        <mat-form-field class="w-100">
          <mat-select placeholder="Select Medicine Kits" [(ngModel)]="selectedKitId">
            <mat-option color="primary" *ngFor="let mk of medicineKits" [value]="mk._id">{{mk.name}}</mat-option>
          </mat-select>
        </mat-form-field>
    </div>
    <div class="col-md-4" *ngIf="selectedCategory == 'CONSULTATION'">
      <label for="chc">Health Condition</label>
      <mat-form-field class="w-100">
        <mat-select placeholder="Select Health Condition" [(ngModel)]="selectedConditionId">
          <mat-option *ngFor="let condition of conditions" [(value)]="condition._id">{{condition.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    
    <div class="col-sm-2">
      <label for="state">States</label>
      <mat-select placeholder="States" [(ngModel)]="selectedStateId" multiple>
        <mat-checkbox class="mat-option ckb1" (click)="$event.stopPropagation()" color="primary" (change)="handleCheckAll($event, 'STATE')"
        [indeterminate]="selectedStateId.length && notSelectedStates"
        [checked]="!notSelectedStates">All</mat-checkbox>
        <mat-option color="primary" *ngFor="let st of stateList" [value]="st._id">{{st.name}}</mat-option>
      </mat-select>
    </div>
    <div class="col-sm-2">
      <button type="button" class="m-0 btn btn-outline-primary" (click)="getQuestionsList()">Get Preview</button>
    </div>
  </div>
</div>

<!-- Default form register -->
<ng-container *ngIf="questions.length; else noQuestions">
<div class="row registration-wrapper mt-3 mb-5 pb-5 mx-2">
  <div class="col-md-12 col-lg-7">
    <div class="card shadow-light" *ngIf="screen_mode=='QUESTION_ANSWER'">
      <div class="card-header bg-dark-grey">
        <div class="row">
          <div class="col-8 text-white font-weight-normal">Health Questionnaire</div>
          <div class="col-4 text-white font-weight-normal text-right">
            {{ currentQuestionIndex + 1 }}/{{ questions.length?questions.length:0 }}
          </div>
        </div>
      </div>
      <div class="progress-container border-0">
      <progressbar [value]="((currentQuestionIndex + 1)/(questions.length))*100"></progressbar>
      </div>

      <div class="card-body" *blockUI="'question'">
        <p class="text-muted" *ngIf="currentQuestion && currentQuestion.question_id.category">
          Category :  <span class="mr-3 py-1 px-2 badge badge-pill" [ngClass]="currentQuestion.question_id.category=='Generic'?'badge-warning':'badge-primary'">
            {{ currentQuestion.question_id.category }}
          </span>
        </p>
        <p class="card-title font-weight-bold" style="transition: 0.5s ease; " *ngIf="currentQuestion && currentQuestion.question_id.text">
          {{ (currentQuestionIndex + 1) + ". " + currentQuestion.question_id.text }}
        </p>

        <ul class="list-group list-group-flush" *ngIf="!currentQuestion.question_id.is_multi_select && !currentQuestion.question_id.has_input">
          <li *ngFor="let option of currentQuestion.question_id.choices" class="mb-2">
            <div class="p-2">
              <div class="custom-control custom-radio">
                <input type="radio" name="radioName" (click)="updateIschecked(option)" [checked]="option.isChecked" class="custom-control-input cursor-pointer"
                id="radio{{ option.id }}" [disabled]="switchQuestion" />
                <label class="custom-control-label cursor-pointer" for="radio{{ option.id }}">
                  {{ option.text }}
                  <span *ngIf="option.result == 1" class="ml-3 p-1 badge badge-pill badge-danger"><i class="fa fa-times" aria-hidden="true"></i></span>
                  <span *ngIf="option.result == 2" class="ml-3 p-1 badge badge-pill badge-success"><i class="fa fa-check" aria-hidden="true"></i></span>
                  <span *ngIf="option.result == 3" class="ml-3 p-1 badge badge-pill badge-warning"><i class="fa fa-info-circle" aria-hidden="true"></i></span>

                </label>
                <div id='file-uploader-gallery-{{option.id}}'></div>
                <p *ngIf="option.consent_message" class="text-muted"><small>Consent message : {{option.consent_message}}</small></p>

              </div>
            </div>
          </li>
        </ul>
        <ul class="list-group list-group-flush" *ngIf="currentQuestion.question_id.type =='sub' && currentQuestion.question_id.has_input">
              <input style="width: 100%;" type="text" [(ngModel)]="currentQuestion.question_id.custom_input"/><br>
        </ul>

        <ul class="list-group list-group-flush" *ngIf="currentQuestion.question_id.is_multi_select">
          <li *ngFor="let option of currentQuestion.question_id.choices">
            <div class="p-2 mb-2">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" [(ngModel)]="option.isChecked" class="custom-control-input cursor-pointer" value="true" id="checkbox{{ option.id }}"
                  [disabled]="switchQuestion" (change)="checkAnsIsValidForCheckboxQuestion(currentQuestion)" />
                <label class="custom-control-label cursor-pointer" for="checkbox{{ option.id }}">
                  {{ option.text }}
                  <span *ngIf="option.result == 1" class="ml-3 p-1 badge badge-pill badge-danger"><i class="fa fa-times" aria-hidden="true"></i></span>
                  <span *ngIf="option.result == 2" class="ml-3 p-1 badge badge-pill badge-success"><i class="fa fa-check" aria-hidden="true"></i></span>
                  <span *ngIf="option.result == 3" class="ml-3 p-1 badge badge-pill badge-warning"><i class="fa fa-info-circle" aria-hidden="true"></i></span>
                </label>
                <div id='file-uploader-gallery-{{option.id}}'></div>
                <p *ngIf="option.consent_message" class="text-muted"><small>Consent message : {{option.consent_message}}</small></p>
              </div>
            </div>
          </li>
        </ul>

        <div [ngClass]="{ fadeIn: showValidationMsg }" *ngIf="showValidationMsg" class="error-container">
          <div class="error-header">
            <img src="/assets/img/error-icon.png" />
            <h2>Sorry</h2>
          </div>
          <div class="error-content">
            <p>Based on your selected health answers, you are not eligible for ED treatment. If you have made wrong selection
              by mistake then please correct your answer.</p>
          </div>
        </div>

        <div *ngIf="showSelectAnsMsg" class="error-container">
          <div class="error-content">
            <p class="m-0">Please answer the question !!!</p>
          </div>
        </div>
      </div>
      <div class="card-footer  bg-white">
        <button class="btn btn-sm btn-outline-primary" (click)="goToPreviousQuestion()">Previous</button>
        <div class="float-right">
          <button *ngIf="currentQuestion.question_id.type == 'main'" type="button" (click)="getNextQuestion(currentQuestion)" class="btn btn-sm btn-primary">
            Next
          </button>
          <button  *ngIf="currentQuestion.question_id.type=='sub' && currentQuestion.question_id.has_input" type="button" (click)="_saveSubQuestionAnswer(currentQuestion)" class="btn btn-sm btn-primary">
            Next
          </button>
        </div>
        <div class="mt-2 d-flex justify-content-center">
          <button type="button" (click)="skipAndGotoNextQuestion()" class="btn btn-outline-success btn-sm btn-block">
            Go To Next Question Without Answer
          </button>
        </div>
      </div>
    </div>
    <div class="card shadow-light" *ngIf="screen_mode=='QUESTION_COMPLETED'">
       <div class="card-header bg-dark-grey">
          <h5 class="text-white font-weight-normal">Questionnaire Completed</h5>
       </div>
       <div class="card-body">
             <button class="text-center btn btn-primary" type="button" (click)="restartQuestionnaire()"><i class="fa fa-refresh mr-2" aria-hidden="true"></i>Restart Questionnaire Again</button>
       </div>
    </div>
  </div>
  <div class="col-md-12 col-lg-5">
    <div class="card shadow-light">
      <div class="card-header bg-dark-grey">
        <div class="row">
          <div class="col-8 text-white font-weight-normal">State wise avaibility</div>
          <div class="col-4 text-white font-weight-normal text-right" *ngIf="currentQuestion && currentQuestion.question_id.states">
            {{ currentQuestion.question_id.states.length }}/{{ stateList.length?stateList.length:0 }}
          </div>
        </div>
      </div>
      <div class="card-body" *blockUI="'statesAvaibility'">
          <span *ngFor="let state of tempStateList" class="m-1 py-1 px-2 badge badge-pill" [ngClass]="state.isAvailable?'badge-success':'badge-danger'">{{state.name}}</span>
      </div>
    </div>
  </div>
</div>
</ng-container>
<ng-template #noQuestions>
  <div class="text-center text-muted">
    <h2><i class="fa fa-info-circle"></i></h2>
    <h4>No Questions!</h4>
  </div>
</ng-template>
