<div class="modal-content">
    <div class="modal-header">
        <div class="w-100 d-flex flex-row justify-content-between align-items-center">
            <p class="font-weight-bold mb-0">{{ modalEvent =='EDIT' ? 'Edit Subscription Plan' : 'Add Subscription Plan' }}</p>
            <button (click)="closeModal()" type="button"  class="close float-right" aria-label="Close" data-dismiss="modal">
                <span aria-hidden="true">x</span>
            </button>
        </div>
    </div>
    <div class="modal-body">
        <form (ngSubmit)="saveTreatmentCondition(subscriptionPlanForm.valid)"
            [formGroup]="subscriptionPlanForm" autocomplete="off">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Name</label><br />
                        <input type="hidden" id="id" formControlName="id" />
                        <input type="text" id="name" class="form-control" placeholder="Enter Name" formControlName="name" />
                        <div class="invalid-feedback" *ngIf="name?.invalid && (name?.dirty || name?.touched)"
                            class="text-danger">
                            <div *ngIf="name?.errors?.required">Name is required.</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <input type="number" id="duration" class="form-control" placeholder="Enter duration" formControlName="duration" />
                            <div class="invalid-feedback" *ngIf="duration?.invalid && (duration?.dirty || duration?.touched)"
                                class="text-danger">
                                <div *ngIf="duration?.errors?.required">Duration is required.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <select class="form-control"  placeholder="Duration Unit"  formControlName="duration_unit">
                                <option value="hours">Hours</option>
                                <option value="days">Days</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <input type="number" id="charge" class="form-control" placeholder="Enter charge" formControlName="charge" />
                            <div class="invalid-feedback" *ngIf="charge?.invalid && (charge?.dirty || charge?.touched)"
                                class="text-danger">
                                <div *ngIf="charge?.errors?.required">charge is required.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <select class="form-control"  placeholder="Currency"  formControlName="currency">
                                <option *ngFor="let item of countriesList" [value]="item.currency">{{ item.currency_name +'   ('+item.currency_symbol+')'+'   '+item.currency }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <mat-checkbox id="is_active" formControlName="is_active" color="primary">Active</mat-checkbox>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-success btn-block btn-sm mt-2" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>
