<div class="w-100 p-3 bg-dark-blue">
    <h4 class="text-white font-weight-bold mb-0">Add Policy</h4>
</div>

<div class="p-3">
    <form (ngSubmit)="saveFAQ()" [formGroup]="FAQForm">
      
        <div class="form-group">
            <div class="form-row">
                <div class="col-md-12">
                    <label class="float-left">Policy Title</label>
                    <input type="text" id="title" formControlName="title" class="form-control input-lg" placeholder="Enter title"
                    />
                    <div class="invalid-feedback" *ngIf="title?.invalid && (title?.dirty || title?.touched)" class="text-danger">
                        <div *ngIf="title?.errors?.required">title is required</div>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" formControlName="policy_text"/>
        <div class="form-group">
            <div class="form-row">
                <div class="col-md-12">
                    <label class="float-left">Text</label><br><br>
                    <div class="NgxEditor__Wrapper">
                        <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
                        <ngx-editor
                            [editor]="editor"
                            [(ngModel)]="answerText"
                            [ngModelOptions]="{standalone: true}"
                            [placeholder]="'Enter answer'"
                            [spellcheck]="true"
                            (input)='patchAnswer()'
                            minHeight='530px'></ngx-editor>
                    </div>
                    <div class="invalid-feedback" *ngIf="policy_text?.invalid && (policy_text?.dirty || policy_text?.touched)" class="text-danger">
                        <div *ngIf="policy_text?.errors?.required">Policy Text is required</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-row">
                <div class="col-md-6">
                    <mat-checkbox color="primary" formControlName="is_active">Active</mat-checkbox>
                </div>
            </div>
        </div>
        <div class="form-group mt-1">
            <div class="row">
                <div class="col">
                    <div class="text-center">
                        <button type="submit" class="btn btn-info mr-2">Submit</button>
                        <a routerLink="/admin/policy/list" routerLinkActive="active" class="btn btn-primary">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
