<div class="modal-content">
    <div class="modal-header">
        <div class="w-100 d-flex flex-row justify-content-between align-items-center">
            <p class="font-weight-bold mb-0">{{ modalEvent =='EDIT' ? 'Edit Drug form' : 'Add Drug form' }}</p>
            <button (click)="closeModal()" type="button" class="close float-right" aria-label="Close"
                data-dismiss="modal">
                <span aria-hidden="true">x</span>
            </button>
        </div>
    </div>
    <div class="modal-body">
        <form (ngSubmit)="saveDrugForm(drugForm.valid)" [formGroup]="drugForm" autocomplete="off">

            <div class="form-group">
                <label>Name</label><br />
                <input type="hidden" id="id" formControlName="id" />
                <input type="text" id="name" class="form-control" placeholder="Enter Name"
                    formControlName="name" />
                <div class="invalid-feedback" *ngIf="name?.invalid && (name?.dirty || name?.touched)"
                    class="text-danger">
                    <div *ngIf="name?.errors?.required">Name is required.</div>
                </div>
            </div>

            <div class="form-group">
                <label>Singular</label>
                <input type="text" id="singular" formControlName="singular"  class="form-control"
                    placeholder="Singular" />
                <div class="invalid-feedback"
                    *ngIf="singular?.invalid && (singular?.dirty || singular?.touched)" class="text-danger">
                    <div *ngIf="singular?.errors?.required">singular is required</div>
                </div>
            </div>

            <div class="form-group">
                <label>Plural</label>
                <input type="text" id="plural" formControlName="plural"  class="form-control"  placeholder="plural" />
                <div class="invalid-feedback"
                    *ngIf="plural?.invalid && (plural?.dirty || plural?.touched)" class="text-danger">
                    <div *ngIf="plural?.errors?.required">plural is required</div>
                </div>
            </div>

            <div class="form-group">
                <button class="btn btn-success btn-block btn-sm mt-2" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>
