<div class="w-100 p-2 bg-dark-grey d-flex justify-content-between align-items-center">
  <h4 class="text-white font-weight-bold mb-0">Coupon Codes
   <span class="ml-2 badge badge-success p-2">{{recordsCount}}</span>
  </h4>
  <div>
    <a routerLink="/admin/coupon-code/create-coupon-code" routerLinkActive="active" class="btn btn-primary mr-2"><i class="fa fa-plus"></i> Create </a>
    <a routerLink="/admin/coupon-code/bulk-create-coupon-code" routerLinkActive="active" class="btn btn-primary mr-2"><i class="fa fa-plus"></i> Bulk Create</a>
    <a class="btn btn-success mr-2" (click)="getSelectedCouponCodes('EDIT')" data-toggle="modal"><i class="fa fa-edit"></i>Bulk Edit</a>
    <a class="btn btn-danger" (click)="getSelectedCouponCodes('DELETE')" data-toggle="modal"><i class="fa fa-trash-o"></i> Bulk Delete</a>
  </div>
</div>

<!-- Filter Fields Box -->
<div class="card-body bg-transparent">
  <div class="row">
    <div class="col-md-2">
      <mat-label>Status</mat-label>
      <mat-select placeholder="Status" [(ngModel)]="couponcode_config.filter.STATUS"
        (selectionChange)="handleChange('STATUS', $event.value)">
        <mat-option color="primary" *ngFor="let cs of couponCodeStatusList" [value]="cs.id">{{cs.name}}</mat-option>
      </mat-select>
    </div>
    <div class="col-md-2">
      <mat-label>Coupon Type</mat-label>
      <mat-select placeholder="Coupon Type" [(ngModel)]="couponcode_config.filter.COUPON_TYPE"
        (selectionChange)="handleChange('TYPE', $event.value)">
        <mat-option color="primary" value="">--- SELECT ---</mat-option>
        <mat-option color="primary" value="YEARLY">YEARLY</mat-option>
        <mat-option color="primary" value="REGULAR">REGULAR</mat-option>
      </mat-select>
    </div>
    <div class="col-md-2">
      <mat-label>Coupon Category</mat-label>
      <mat-select placeholder="Coupon Category" [(ngModel)]="couponcode_config.filter.CATEGORY"
        (selectionChange)="handleChange('CATEGORY', $event.value)">
        <mat-option color="primary" value="">--- SELECT ---</mat-option>
        <mat-option color="primary" value="ORDER">ORDER</mat-option>
        <mat-option color="primary" value="CONSULTATION">CONSULTATION</mat-option>
        <mat-option color="primary" value="DRUG_ORDER">DRUG ORDER</mat-option>
      </mat-select>
    </div>
    <div class="col-md-5">
      <mat-label>Search Date In Field</mat-label>
      <mat-select placeholder="Field Name" [(ngModel)]="couponcode_config.filter.dateRangeField">
        <mat-option color="primary" value="expiry">Expiry</mat-option>
        <mat-option color="primary" value="created_at">Created</mat-option>
      </mat-select>
      <input matInput ngxDaterangepickerMd (change)="setDateRangeFilter($event)" [ranges]="ranges" [alwaysShowCalendars]="true" autocomplete="off"
      [locale]="{applyLabel: 'ok', format: 'MM-DD-YYYY'}" placeholder="Select Date Range" name="subscriptionDateRange" type="text" class="form-control input-sm"
        startKey="start" endKey="end" />
    </div>
    <div class="col-md-1">
      <button type="button" (click)="clearFilter()" class="btn btn-danger">Clear</button>
    </div>
  </div>
</div>

<div class="p-3">
  <div class="table-responsive">
    <table mdbTable hover="true" id="coupanCodeList" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"></table>
  </div>
</div>
