<div class="w-100 p-2 bg-dark-grey d-flex justify-content-between align-items-center">
  <h4 class="text-white font-weight-bold mb-0">Coupon Codes
   <span class="ml-2 badge badge-success p-2">{{recordsCount}}</span>
  </h4>
  <div>
    <a routerLink="/admin/coupon-code/create-coupon-code" routerLinkActive="active" class="btn btn-primary mr-2"><i
        class="fa fa-plus"></i> Create </a>
    <a routerLink="/admin/coupon-code/bulk-create-coupon-code" routerLinkActive="active" class="btn btn-primary mr-2"><i
        class="fa fa-plus"></i> Bulk Create</a>
    <a class="btn btn-success mr-2" (click)="getSelectedCouponCodes('EDIT')" data-toggle="modal"><i class="fa fa-edit"></i>
      Bulk Edit</a>
    <a class="btn btn-danger" (click)="getSelectedCouponCodes('DELETE')" data-toggle="modal"><i
        class="fa fa-trash-o"></i> Bulk Delete</a>
  </div>
</div>

<!-- Filter Fields Box -->
<div class="card-body bg-transparent">
  <div class="row">
    <div class="col-md-2">
      <mat-label>Status</mat-label>
      <mat-select placeholder="Status" [(ngModel)]="couponcode_config.filter.STATUS"
        (selectionChange)="handleChange('STATUS', $event.value)">
        <mat-option color="primary" *ngFor="let cs of couponCodeStatusList" [value]="cs.id">{{cs.name}}</mat-option>
      </mat-select>
    </div>
    <div class="col-md-2">
      <mat-label>Coupon Type</mat-label>
      <mat-select placeholder="Coupon Type" [(ngModel)]="couponcode_config.filter.COUPON_TYPE"
        (selectionChange)="handleChange('TYPE', $event.value)">
        <mat-option color="primary" value="">--- SELECT ---</mat-option>
        <mat-option color="primary" value="YEARLY">YEARLY</mat-option>
        <mat-option color="primary" value="REGULAR">REGULAR</mat-option>
      </mat-select>
    </div>
    <div class="col-md-2">
      <mat-label>Coupon Category</mat-label>
      <mat-select placeholder="Coupon Category" [(ngModel)]="couponcode_config.filter.CATEGORY"
        (selectionChange)="handleChange('CATEGORY', $event.value)">
        <mat-option color="primary" value="">--- SELECT ---</mat-option>
        <mat-option color="primary" value="ORDER">ORDER</mat-option>
        <mat-option color="primary" value="CONSULTATION">CONSULTATION</mat-option>
        <mat-option color="primary" value="DRUG_ORDER">DRUG ORDER</mat-option>
        <mat-option color="primary" value="DIGITAL_THERAPY_ORDER">DIGITAL THERAPY ORDER</mat-option>
      </mat-select>
    </div>
    <div class="col-md-4">
      <mat-label>Search Date In Field</mat-label>
      <mat-select placeholder="Field Name" [(ngModel)]="couponcode_config.filter.dateRangeField">
        <mat-option color="primary" value="expiry">Expiry</mat-option>
        <mat-option color="primary" value="created_at">Created</mat-option>
      </mat-select>
      <input matInput ngxDaterangepickerMd (change)="setDateRangeFilter($event)" autocomplete="off"
        placeholder="Select Expiry Date Range" name="subscriptionDateRange" type="text" class="form-control input-sm"
        startKey="start" endKey="end" />
    </div>
    <div class="col-md-2">
      <button type="button" (click)="clearFilter()" class="btn btn-danger">Clear</button>
    </div>
  </div>
</div>

<div class="p-3">
  <div class="table-responsive">
    <table mdbTable hover="true" id="coupanCodeList" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"></table>
  </div>
</div>


<!-- <div mdbModal #bulkEditCouponCodesModal="mdbModal" class="modal fade" id="bulkEditCouponCodesModal"
  tabindex="-1" role="dialog" aria-labelledby="bulkEditCouponCodesModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-info" role="document" style="max-width: 1080px;">
    <div class="modal-content">
      <div class="modal-header text-center d-flex justify-content-center">
        <h5 class="font-weight-bold text-white">Bulk Edit Coupon Codes</h5>
        <button type="button" class="close" (click)="closeModal(bulkEditCouponCodesModal)" aria-label="Close">
          <span aria-hidden="true" class="text-white">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="updateCouponCode(bulkEditCouponCodesModal)" [formGroup]="bulkUpdateCouponCode" autocomplete="off">
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                  <label class="float-left">Expiry Date</label>
                  <input type="text" formControlName="expiry" placeholder="Enter Expiry Date" class="form-control" bsDatepicker [bsConfig]="{ isAnimated: true }">
                  <div class="invalid-feedback" *ngIf="expiry.invalid && (expiry.dirty || expiry.touched)" class="text-danger">
                      <div *ngIf="expiry.errors.required">Expiry Date is required</div>
                  </div>
              </div>
              <div class="col-sm-6 mt-5 pl-2">
                <mat-checkbox id="is_change_amount" formControlName="is_change_amount" color="primary" [(ngModel)]="is_change_amount_flag" (change)="setDiscountValidators()">Want to change amount?</mat-checkbox>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-row" *ngIf="is_change_amount_flag">
              <div class="col-md-6">
                <label class="d-block">Discount Type</label>
                <mat-radio-group formControlName="disccount_type" [(ngModel)]="discount_type" (change)="setDiscountValidators()">
                    <mat-radio-button value="0" color='primary'>Discount In Amount</mat-radio-button> &nbsp;&nbsp;
                    <mat-radio-button value="1" color='primary'>Discount In Percentage</mat-radio-button>
                </mat-radio-group>
              </div>
              <div class="col-md-6">
                <div id="divDiscountAmount" *ngIf="divDiscountAmount">
                  <label class="float-left"> Discount Amount</label>
                  <input type="text" id="discount_amount" formControlName="discount_amount" class="form-control input-lg"
                      placeholder="Enter Discount Amount" />
                  <div class="invalid-feedback" *ngIf="discount_amount.invalid && (discount_amount.dirty || discount_amount.touched)" class="text-danger">
                      <div *ngIf="discount_amount.errors.required">Discount Amount is required</div>
                  </div>
                </div>

                <div id="divDiscountPercentage" *ngIf="divDiscountPercentage">
                  <label class="float-left">Discount Percentage</label>
                  <input type="text" id="discount_percent" formControlName="discount_percent"
                      class="form-control input-lg" placeholder="Enter Discount Percent">
                  <div class="invalid-feedback" *ngIf="discount_percent.invalid && (discount_percent.dirty || discount_percent.touched)" class="text-danger">
                      <div *ngIf="discount_percent.errors.required">Discount Percent is required</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-sm-6">
                <mat-checkbox id="is_active" color="primary" formControlName="is_active">Active</mat-checkbox>
              </div>
            </div>
          </div>

          <div class="form-group float-right">
            <button class="btn btn-success btn-sm mt-2" type="submit">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> -->
