<div class="modal-content">
    <div class="modal-header">
        <h4>Select Parameters</h4>
    </div>
    <div class="modal-body" style="max-height:500px;overflow-y:scroll;">
         <table class="table table-bordered">
              <thead>
                <tr>
                  <th *ngIf="selectedParamNameForModal=='POWER'" colspan="2">Power</th>
                  <th *ngIf="selectedParamNameForModal=='DIAMETER'">Diameter</th>
                  <th *ngIf="selectedParamNameForModal=='BASE_CURVE'">Base Curve</th>
                  <th *ngIf="selectedParamNameForModal=='CYLINDER'">Cylinder</th>
                  <th *ngIf="selectedParamNameForModal=='COLOR'">Color</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                    <td *ngIf="selectedParamNameForModal=='POWER'">
                      <div class="custom-control custom-checkbox" *ngFor="let item of negativePowerDefaultOptions;let npIndex=index;">
                        <input type="checkbox" class="custom-control-input" [id]="'np_'+npIndex"  value="{{ item }}" (change)="handleChangeParameterOptionsFromModal($event,item,'POWER')" [checked]="checkParameterIsChecked(item,'POWER')">
                        <label class="custom-control-label" [htmlFor]="'np_'+npIndex">{{item}}</label>
                      </div>
                    </td>
                    <td *ngIf="selectedParamNameForModal=='POWER'">

                      <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="select_all_power" (change)="handleSelectAllParametersFromModal($event,'POWER')"  [checked]="(negativePowerDefaultOptions.length+positivePowerDefaultOptions.length) == selectedPowersOptions.length">
                          <label class="custom-control-label" for="select_all_power">Select All</label>
                      </div>

                      <div class="custom-control custom-checkbox" *ngFor="let item of positivePowerDefaultOptions;let ppIndex=index;">
                        <input type="checkbox" class="custom-control-input" [id]="'pp_'+ppIndex" value="{{ item }}"  (change)="handleChangeParameterOptionsFromModal($event,item,'POWER')" [checked]="checkParameterIsChecked(item,'POWER')">
                        <label class="custom-control-label" [htmlFor]="'pp_'+ppIndex">{{item}}</label>
                      </div>
                    </td>
                    <td  *ngIf="selectedParamNameForModal=='DIAMETER'">

                      <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="select_all_diameter" (change)="handleSelectAllParametersFromModal($event,'DIAMETER')" [checked]="diameterDefaultOptions.length == selectedDiameterOptions.length">
                          <label class="custom-control-label" for="select_all_diameter">Select All</label>
                      </div>

                      <div class="custom-control custom-checkbox" *ngFor="let item of diameterDefaultOptions;let diaIndex=index;">
                        <input type="checkbox" class="custom-control-input" [id]="'dia_'+diaIndex" value="{{ item }}"  (change)="handleChangeParameterOptionsFromModal($event,item,'DIAMETER')" [checked]="checkParameterIsChecked(item,'DIAMETER')">
                        <label class="custom-control-label" [htmlFor]="'dia_'+diaIndex">{{item}}</label>
                      </div>
                    </td>
                    <td  *ngIf="selectedParamNameForModal=='BASE_CURVE'">

                      <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="select_all_basecurve" (change)="handleSelectAllParametersFromModal($event,'BASE_CURVE')"  [checked]="basecurveDefaultOptions.length == selectedBasecurveOptions.length">
                          <label class="custom-control-label" for="select_all_basecurve">Select All</label>
                      </div>

                      <div class="custom-control custom-checkbox" *ngFor="let item of basecurveDefaultOptions;let bcIndex=index;">
                        <input type="checkbox" class="custom-control-input" [id]="'basecurve_'+bcIndex"  value="{{ item }}" (change)="handleChangeParameterOptionsFromModal($event,item,'BASE_CURVE')" [checked]="checkParameterIsChecked(item,'BASE_CURVE')">
                        <label class="custom-control-label" [htmlFor]="'basecurve_'+bcIndex">{{item}}</label>
                      </div>
                    </td>
                    <td  *ngIf="selectedParamNameForModal=='CYLINDER'">

                      <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="select_all_cyl" (change)="handleSelectAllParametersFromModal($event,'CYLINDER')"  [checked]="basecurveDefaultOptions.length == selectedCylinderOptions.length">
                          <label class="custom-control-label" for="select_all_cyl">Select All</label>
                      </div>

                      <div class="custom-control custom-checkbox" *ngFor="let item of cylinderDefaultOptions;let cylIndex=index;">
                        <input type="checkbox" class="custom-control-input" [id]="'cyl_'+cylIndex"  value="{{ item }}"  (change)="handleChangeParameterOptionsFromModal($event,item,'CYLINDER')" [checked]="checkParameterIsChecked(item,'CYLINDER')">
                        <label class="custom-control-label" [htmlFor]="'cyl_'+cylIndex">{{item}}</label>
                      </div>
                    </td>
                    <td  *ngIf="selectedParamNameForModal=='COLOR'">

                      <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="select_all_color" (change)="handleSelectAllParametersFromModal($event,'COLOR')"  [checked]="colorsList.length == selectedColorOptions.length">
                          <label class="custom-control-label" for="select_all_color">Select All</label>
                      </div>

                      <div class="custom-control custom-checkbox" *ngFor="let item of colorsList;let colorIndex=index;">
                        <input type="checkbox" class="custom-control-input" [id]="'color_'+colorIndex"  value="{{ item.name }}"  (change)="handleChangeParameterOptionsFromModal($event,item.name,'COLOR')" [checked]="checkParameterIsChecked(item.name,'COLOR')">
                        <label class="custom-control-label" [htmlFor]="'color_'+colorIndex">{{item.name}}</label>
                      </div>
                    </td>
                </tr>
              </tbody>
          </table>
    </div>
    <div class="modal-footer">
        <div class="text-center">
               <button  (click)="addSelectedValueForParameter('DIAMETER')"  *ngIf="selectedParamNameForModal=='DIAMETER' && selectedDiameterOptions.length>0" type="button" class="btn btn-sm btn-success waves-effect m-0 mr-2">Add</button>
               <button  (click)="addSelectedValueForParameter('BASE_CURVE')" *ngIf="selectedParamNameForModal=='BASE_CURVE' && selectedBasecurveOptions.length>0" type="button" class="btn btn-sm btn-success waves-effect m-0 mr-2">Add</button>
               <button  (click)="addSelectedValueForParameter('POWER')" *ngIf="selectedParamNameForModal=='POWER' && selectedPowersOptions.length>0" type="button" class="btn btn-sm btn-success waves-effect m-0 mr-2">Add</button>
               <button  (click)="addSelectedValueForParameter('CYLINDER')" *ngIf="selectedParamNameForModal=='CYLINDER' && selectedCylinderOptions.length>0" type="button" class="btn btn-sm btn-success waves-effect m-0 mr-2">Add</button>
               <button  (click)="addSelectedValueForParameter('COLOR')" *ngIf="selectedParamNameForModal=='COLOR' && selectedColorOptions.length>0" type="button" class="btn btn-sm btn-success waves-effect m-0 mr-2">Add</button>
        </div>
    </div>
</div>
