
<div class="w-100 p-2 bg-dark-grey d-flex justify-content-between align-items-center">
       <h4 class="text-white font-weight-bold mb-0">All Clinics</h4>
        <div>
            <a routerLink="/admin/clinic/add" routerLinkActive="active" class="btn btn-primary"><i class="fa fa-plus mr-2"></i>Add</a>
        </div>
</div>
<!-- Filter Fields Box -->
<div class="card-body bg-transparent">
  <div class="row">
    <div class="col-md-3">
    <mat-label>State</mat-label>
    <mat-form-field class="w-100">
      <mat-select placeholder="Select State" (selectionChange)="handleChange('STATE', $event.value)" [(ngModel)]="clinic_config.filter.STATE" multiple>
        <mat-checkbox class="mat-option ckb1" (click)="$event.stopPropagation()" color="primary" (change)="handleCheckAll($event, 'STATE')"
        [indeterminate]="clinic_config.filter.STATE.length && notSelectedStates"
        [checked]="!notSelectedStates">All</mat-checkbox>
        <mat-option color="primary" *ngFor="let st of stateList" [value]="st.abbreviation">{{st.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    </div>
  </div>
</div>
<div class="p-3">
    <div class="table-responsive-md">
      <table mdbTable hover="true" id="administrativeList" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table"></table>
    </div>
</div>
