<div class="pad">
  <h4>Select Category to Continue</h4>
  <hr>
  <div class="row">
    <div class="col-sm-3">
      <mat-select placeholder="Condition" [(ngModel)]="selectedCategory">
        <mat-option *ngFor="let category of categories" [value]="category.value">
          {{category.name}}
        </mat-option>
      </mat-select>
    </div>
 
    <div class="col-sm-3">
      <button class="btn btn-primary" [disabled]="!selectedCategory " (click)="getQuestionsList()">Get
        Sequence
      </button>
    </div>
  </div>
</div>
<ng-container *ngIf="questions.length;">
  <hr>
  <div class="pad">
    <div class="row">
      <div class="col-sm-6 text-left">
        <button class="btn btn-primary" [disabled]="!isPriorityUpdated" (click)="resetSequence()">Reset Sequence</button>
      </div>
      <div class="col-sm-6 text-right">
        <button class="btn btn-primary" [disabled]="!isPriorityUpdated" (click)="saveUpdatedSequence()">Save Sequence</button>
      </div>
    </div>
    <br>
    <div class="row text-center heading">
      <div class="col-sm-2">
        <h6>New Sequence</h6>
      </div>
      <div class="col-sm-8">
        <h6>Question</h6>
      </div>
      <div class="col-sm-2">
        <h6>Previous Sequence</h6>
      </div>
    </div>
    <div cdkDropList class="questions-list" (cdkDropListDropped)="drop($event)">
      <div class="questions-box" *ngFor="let item of questions;let i = index" cdkDrag>
        <div class="row">
          <div class="col-sm-2 text-center">
            <h4>{{(i+1)}}</h4>
          </div>
          <div class="col-sm-8">
            <h6>{{item.question}}</h6>
          </div>
          <div class="col-sm-2 text-center">
            <h4>{{item.priority}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>