.row {
    margin: 0px -15px 15px -15px;
}

.mat-form-field {
    width: 100%;
}

.question-options {
    display: inline-block;
    vertical-align: middle;
}

.danger {
    border: red !important;
}

.ckb1 .mat-checkbox-layout {
    width: 100%!important;
    display: inline-block!important;
}