<ng-container *ngIf="conditionDetails">

        <table class="table">
          <tbody>
            <tr><td class="font-weight-normal border-top-0"> ID</td><td class="font-weight-normal border-top-0">{{conditionDetails._id}}</td></tr>
            <tr><td class="font-weight-normal">Name</td><td class="font-weight-normal">{{conditionDetails.name }} <span class="ml-2 badge badge-success badge-pill p-2" *ngIf="conditionDetails.is_coming_soon==1">Comming Soon</span></td></tr>
            <tr><td class="font-weight-normal">URL</td><td class="font-weight-normal">{{ conditionDetails.slug  }}</td></tr>
            <tr><td class="font-weight-normal">For Gender</td><td class="font-weight-normal">{{conditionDetails.for_gender }}</tr>
            <tr><td class="font-weight-normal">Active</td><td class="font-weight-normal"><h5><i class="fa fa-check text-success" *ngIf="conditionDetails.is_active"></i><i class="fa fa-times text-danger" *ngIf="!conditionDetails.is_active"></i></h5></td></tr>
            <tr><td class="font-weight-normal">Description</td><td class="font-weight-normal">{{conditionDetails.description}}</td></tr>
            <tr>
              <td class="font-weight-normal">Image</td>
              <td class="font-weight-normal">
                  <app-image-preview [imgPath]="conditionDetails.image_url" height="200" width="200" caption="Image"></app-image-preview>
              </td>
            </tr>
          </tbody>
        </table>

      <h6 class="bg-light text-dark p-2 mt-3">Attributes</h6>
      <div class="row" *ngIf="conditionDetails?.attributes.length > 0; else noAttributes">
        <div class="col-md-12">
          <app-change-sequence [mode]="'ATTRIBUTES'" [data]="conditionDetails.attributes" (onSequenceChange)="updateSequence($event)"></app-change-sequence>
          </div>
      </div>
      <ng-template #noAttributes>
        <div class="text-center text-muted">
          <h2><i class="fa fa-info-circle"></i></h2>
          <h4>No Attributes!</h4>
        </div>
      </ng-template>

      <h6 class="bg-light text-dark p-2 mt-3">FAQ</h6>
      <div class="row" *ngIf="conditionDetails?.faqs.length > 0; else noFaqs">
        <div class="col-md-12">
          <app-change-sequence [mode]="'FAQS'" [data]="conditionDetails.faqs" (onSequenceChange)="updateSequence($event)"></app-change-sequence>
        </div>
      </div>
      <ng-template #noFaqs>
        <div class="text-center text-muted">
          <h2><i class="fa fa-info-circle"></i></h2>
          <h4>No FAQs!</h4>
        </div>
      </ng-template>


</ng-container>
<ng-template #noconditionDetails>
    No Treatment Condition Details
</ng-template>
