<div class="w-100 p-2 bg-dark-blue d-flex justify-content-between align-items-center">
    <h4 class="text-white font-weight-bold mb-0">Dealer Details</h4>
</div>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link font-weight-bold" routerLinkActive="active" routerLink="/admin/dealers/view/{{dealerId}}/info">Details</a>
    </li>
    <li class="nav-item">
        <a class="nav-link font-weight-bold" routerLinkActive="active" routerLink="/admin/dealers/view/{{dealerId}}/products">Products</a>
    </li>
    <li class="nav-item">
        <a class="nav-link font-weight-bold" routerLinkActive="active" routerLink="/admin/dealers/view/{{dealerId}}/order-history">Order History</a>
    </li>
    <li class="nav-item">
        <a class="nav-link font-weight-bold" routerLinkActive="active" routerLink="/admin/dealers/view/{{dealerId}}/orders">Orders Received</a>
    </li>
    <li class="nav-item">
        <a class="nav-link font-weight-bold" routerLinkActive="active" routerLink="/admin/dealers/view/{{dealerId}}/subscription-payment-history">Subscription Payment</a>
    </li>
</ul>
<div class="tab-content">
    <router-outlet></router-outlet>
</div>
<div class="text-center">
    <a routerLink="/admin/dealers/list" routerLinkActive="active" class="btn btn-primary">Back</a>
</div>
