@import '~@angular/material/theming';
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker hue.
$app-primary: mat-palette($mat-indigo);
$app-accent: mat-palette($mat-green);
// The warn palette is optional (defaults to red).
$app-warn: mat-palette($mat-red);
// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);
:host {
    display: flex;
    flex-direction: column;
    outline: none;
    width: 100%;
    .mat-list-item.active {
        // background-color: mat-color($app-primary, 50);
        background-color: #00897b;
        border-color: #00897b;
        color: #fff;
    }
    &:hover,
    &:focus {
        >.mat-list-item:not(.expanded) {
            border-radius: 5px;
            background-color: #b2dfdb; //mat-color($app-primary, 100) !important;
        }
    }
}

.menu-list-item {
    color: #212121;
    padding: 0.5rem;
    display: block;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    .routeIcon {
        margin-right: 16px;
    }
    .mat-list-item-content {
        padding: 0 8px 0 8px;
    }
}

.menu-list-item:hover {
    cursor: pointer;
    text-decoration: none;
}