<mat-tab-group>
    <mat-tab label="Info">
        <div class="container-fluid details">
            <ng-container *ngIf="orderDetails; else noOrderDetails">
                <div class="row">
                    <div class="col-md-4">
                        <h5 class="mb-3">Order : #{{orderDetails.order_number + ' ('+orderDetails.order_number_text+')'}}</h5>
                        <p class="mb-1"><strong class="mr-2">Order Type : </strong>{{orderDetails.order_type}}</p>
                        <p class="mb-1"><strong class="mr-2">Order Created By : </strong> <span [innerHTML]="_orderHelper.getOrderCreatedWay(orderDetails.created_by)"></span></p>
                        <p class="mb-1"><strong class="mr-2">Created Date : </strong>{{orderDetails.created_at |  date:'dd-MM-yyyy hh:mm:ss a'}}</p>
                        <p class="mb-1"><strong class="mr-2">Completed Date :</strong>{{orderDetails.order_place_datetime | date:'dd-MM-yyyy hh:mm:ss a'}}</p>
                        <p>
                            <strong class="mr-2">System Status: </strong>
                            <span class="m-0" [innerHTML]="_orderHelper.getSystemStatus(orderDetails.system_status)"></span>
                            <span class="mt-2 badge badge-pill badge-warning p-2"
                                *ngIf="orderDetails.is_payment_authorization_required">Payment Authorization
                                Required</span>
                        </p>

                        <p *ngIf="orderDetails.system_status == 'NONE'"
                            class="float-right">
                            <button (click)="sendMail(orderDetails._id)" type="button"
                                [ngClass]="{'btn btn-primary': true, 'disabled': loadingReminderButton}">
                                <span class="pr-2"><i class="fa fa-envelope-o" *ngIf="!loadingReminderButton"></i><i
                                        class="fa fa-spinner" *ngIf="loadingReminderButton"></i></span>{{
                                !loadingReminderButton ? 'Send Remineder Mail' : 'Sending...'}} </button>
                        </p>


                    </div>
                    <div class="col-md-4">
                        <h5 class="mb-3">Patient Details</h5>
                        <h6 class="mb-2">{{patient.first_name}} {{patient.last_name}}</h6>
                        <p class="mb-1"><strong> DOB: </strong>{{ patient.date_of_birth | date:'dd-MM-yyyy' }} | Age: {{patient.age}}</p>
                        <p class="mb-0"><strong>Email: </strong>{{patient.email}}</p>
                        <p class="mb-0"><strong>Phone: </strong>{{patient.cell_phone_number}}
                        </p>
                    </div>

                    <div class="col-md-4">
                        <h5 class="mb-3">Shipping Address</h5>
                        <div *ngIf="orderDetails.shipping_address">
                            <p class="mb-0">{{ orderDetails.shipping_address.contact_name}}</p>
                            <p class="mb-0">{{ orderDetails.shipping_address.contact_number}}</p>
                            <p class="mb-0">{{ orderDetails.shipping_address.address_line_1 }}</p>
                            <p class="mb-0">{{ orderDetails.shipping_address?.address_line_2}}</p>

                            <p class="mb-0">
                                {{  orderDetails.shipping_address.city+' , '+orderDetails.shipping_address.state + ' - '+orderDetails.shipping_address.zip_code }}
                            </p>
                        </div>
                        <div *ngIf="!orderDetails.shipping_address">
                            <p class="mb-0">Address not added yet.</p>
                        </div>
                        <div class="text-500"><strong> Shipping Method : </strong>{{ orderDetails.shipping_method }} </div>
                        <button *ngIf="showChangeAddressBtn" class="btn btn-outline-primary btn-sm" type="button" (click)="openEditAddressModal()"><i class="fas fa-pencil-alt mr-2"></i>Change Address</button>
                    </div>
                </div>

                <div class="d-flex flex-row justify-content-end align-items-center  mt-2">
                    <button type="button"
                        *ngIf="!orderDetails.is_payment_authorization_required && orderDetails.system_status && orderDetails.system_status != 'NONE'"
                        class="btn btn-sm btn-success" (click)="downloadReceipt('billing_statement')"><i
                            class="mr-2 fa fa-download"></i>Billing Statement</button>
                    <button type="button" *ngIf="orderDetails.system_status && orderDetails.system_status =='REFUND_PROCESSED'"
                        class="btn btn-sm btn-primary" (click)="downloadReceipt('refund_receipt')"><i
                            class="mr-2 fa fa-download"></i>Refund Receipt</button>
                    <button type="button" *ngIf="orderDetails.order_type == 'main' && orderDetails.prescribed_on"
                        class="btn btn-sm btn-primary" (click)="downloadOrderSummary()"><i
                            class="mr-2 fa fa-download"></i>Order Summary</button>
                    <button type="button" *ngIf="orderDetails.system_status != 'REFUND_REQUESTED' && orderDetails.system_status !='REFUND_PROCESSED'" (click)="openRefundOrderModal()" class="btn btn-sm btn-danger"><i class="fas fa-sync-alt mr-2" aria-hidden="true"></i>Refund</button>
                </div>

                <div class="d-flex flex-row justify-content-start align-items-center  mt-2">
                    <div *ngIf="orderDetails.is_closed" class="ml-2 alert alert-dark">This Order has been Closed on date
                        {{orderDetails.order_closed_datetime | date: 'dd-MM-yyyy  hh:mm:ss a' }} , Reason :
                        {{orderDetails.order_closed_reason }}</div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-12">
                        <table class="table table-sm">
                            <thead class="thead-light">
                                <tr>
                                    <th>Consent Given</th>
                                    <th>Address Selected</th>
                                    <th>Payment Completed</th>
                                    <th>Face Photo</th>
                                    <th>License Photo</th>
                                    <th>Health Questions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <i class="fa fa-check text-success"
                                            *ngIf="orderDetails.is_consent_completed"></i>
                                        <i class="fa fa-times text-danger"
                                            *ngIf="!orderDetails.is_consent_completed"></i>
                                    </td>

                                    <td>
                                        <i class="fa fa-check text-success"
                                            *ngIf="orderDetails.is_address_selected"></i>
                                        <i class="fa fa-times text-danger"
                                            *ngIf="!orderDetails.is_address_selected"></i>
                                    </td>

                                    <td>
                                        <i class="fa fa-check text-success"
                                            *ngIf="orderDetails.is_payment_completed"></i>
                                        <i class="fa fa-times text-danger"
                                            *ngIf="!orderDetails.is_payment_completed"></i>
                                    </td>

                                    <td>
                                        <i class="fa fa-check text-success"
                                            *ngIf="orderDetails.is_profile_upload_completed"></i>
                                        <i class="fa fa-times text-danger"
                                            *ngIf="!orderDetails.is_profile_upload_completed"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-check text-success"
                                            *ngIf="orderDetails.is_license_upload_completed"></i>
                                        <i class="fa fa-times text-danger"
                                            *ngIf="!orderDetails.is_license_upload_completed"></i>
                                    </td>

                                    <td>
                                        <i class="fa fa-check text-success"
                                            *ngIf="orderDetails.is_questions_completed"></i>
                                        <i class="fa fa-times text-danger"
                                            *ngIf="!orderDetails.is_questions_completed"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table border-bottom table-borderless table-sm">
                                <thead class="thead-light">
                                    <tr>
                                        <th class="border-0">Products</th>
                                        <th class="border-0 text-center">Quantity</th>
                                        <th class="border-0 text-right">Rate</th>
                                        <th class="border-0 text-right">Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="align-middle">
                                            <h6 class="mb-0 text-nowrap font-weight-bold">
                                                {{orderDetails.medicine_kit_name}}</h6>
                                        </td>
                                        <td class="align-middle text-center">{{orderDetails.quantity}}</td>
                                        <td class="align-middle text-right">{{ orderDetails.medicine_kit_price |
                                            currency:'INR'}}</td>
                                        <td class="align-middle text-right">{{ orderDetails.medicine_kit_price |
                                            currency:'INR'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="row no-gutters justify-content-end">
                            <div class="col-auto" *ngIf="orderDetails.is_payment_completed==1">
                                <table class="table table-sm table-borderless text-right">
                                    <tbody>
                                        <tr>
                                            <th class="text-900">Coupon Discount {{ orderDetails.payment &&
                                                orderDetails.payment.coupon_code?'( Coupon Code Used :
                                                '+orderDetails.payment.coupon_code+' )':'' }}</th>
                                            <td class="font-weight-semi-bold text-right">
                                                {{(orderDetails.coupon_discount||0) | currency:'INR'}}</td>
                                        </tr>
                                        <tr>
                                            <th class="text-900">Referral Discount {{ orderDetails.referral_code_details
                                                ? '( Referral Code Used :
                                                '+orderDetails.referral_code_details.referral_code+' )':''}}</th>
                                            <td class="font-weight-semi-bold text-right">
                                                {{(orderDetails.referral_discount||0) | currency:'INR'}}</td>
                                        </tr>
                                        <tr>
                                            <th class="text-900">Shipping Charges</th>
                                            <td class="font-weight-semi-bold text-right">{{(orderDetails.shipping_charge
                                                || 0) | currency:'INR'}}</td>
                                        </tr>
                                        <tr class="border-top">
                                            <th class="font-weight-bold">Total</th>
                                            <td class="font-weight-bold text-right">{{orderDetails.total_amount |
                                                currency:'INR' }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table border-bottom table-borderless table-sm">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Charged From Payment Gateway</th>
                                        <th>Charged From Wallet</th>
                                        <th class="text-right">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <p class="font-weight-bold">{{orderDetails.charged_from_paymentgateway | currency:'INR'}}</p>
                                            <div  *ngIf="orderDetails.payment_transactions && orderDetails.payment_transactions[0]">
                                                    <div class="media">
                                                        <div class="media-body" *ngIf="orderDetails.payment_transactions[0].payment_source == 'PAYMENT_GATEWAY'">
                                                            <p class="mb-0"><strong>Payment Method : </strong>{{ orderDetails.payment_transactions[0].details.method | titlecase }}</p>
                                                            <div *ngIf="orderDetails.payment_transactions[0].details.method=='netbanking'">
                                                              <p class="mb-0"><strong>Bank : </strong>{{ orderDetails.payment_transactions[0].details.bank }}</p>
                                                              <p class="mb-0"><strong>Bank Transaction ID : </strong>{{ orderDetails.payment_transactions[0].details.acquirer_data.bank_transaction_id }}</p>
                                                            </div>
                                                            <div *ngIf="orderDetails.payment_transactions[0].details.method=='upi'">
                                                              <p class="mb-0"><strong>RRN : </strong>{{ orderDetails.payment_transactions[0].details.acquirer_data.rrn }}</p>
                                                              <p class="mb-0"><strong>UPI Transaction ID : </strong>{{ orderDetails.payment_transactions[0].details.acquirer_data.upi_transaction_id }}</p>
                                                            </div>
                                                            <div *ngIf="orderDetails.payment_transactions[0].details.method=='wallet'">
                                                              <p class="mb-0"><strong>Wallet Name : </strong>{{ orderDetails.payment_transactions[0].details.wallet | titlecase }}</p>
                                                              <p class="mb-0" *ngIf="orderDetails.payment_transactions[0].details.acquirer_data.transaction_id"><strong>Transaction ID : </strong>{{ orderDetails.payment_transactions[0].details.acquirer_data.transaction_id }}</p>
                                                            </div>
                                                            <div *ngIf="orderDetails.payment_transactions[0].details.method=='card'">
                                                              <p class="mb-0" *ngIf="orderDetails.payment_transactions[0].details.card_id"><strong>Card ID : </strong>{{ orderDetails.payment_transactions[0].details.card_id }}</p>
                                                              <p class="mb-0"><strong>Authorization Code : </strong>{{ orderDetails.payment_transactions[0].details.acquirer_data.auth_code }}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                            </div>
                                        </td>
                                        <td class="font-weight-bold">{{orderDetails.charged_from_wallet | currency:'INR'}}
                                        </td>
                                        <td class="font-weight-bold text-right">{{orderDetails.total_amount | currency:'INR'}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="table-responsive" *ngIf="orderDetails.refunded_total > 0">
                            <table class="table border-bottom table-borderless table-sm">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Refunded to PaymentGateway</th>
                                        <th>Refunded to Wallet</th>
                                        <th class="text-right">Refunded Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="font-weight-bold">{{orderDetails.refunded_in_paymentgateway | currency:'INR'}}
                                        </td>
                                        <td class="font-weight-bold">{{orderDetails.refunded_in_wallet | currency:'INR'}}
                                        </td>
                                        <td class="font-weight-bold text-right">{{orderDetails.refunded_total | currency:'INR'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <h5 class="mt-3">All Payment Transactions</h5>
                        <div class="table-responsive" *ngIf="orderDetails.payment_transactions">
                            <table class="table table-sm">
                                <thead class="thead-light">
                                    <tr>
                                        <th>#</th>
                                        <th>Transaction Type</th>
                                        <th>Payment Source</th>
                                        <th>Amount Charged</th>
                                        <th>Charge Id</th>
                                        <th>Amount Refund</th>
                                        <th>Refund Id</th>
                                        <th>Datetime</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr [ngClass]="{'alert-success':transaction.transaction_type=='CHARGE' || transaction.transaction_type=='AUTHORIZE_AND_CAPTURE'}"
                                        *ngFor="let transaction of orderDetails.payment_transactions;let i=index;">
                                        <td>{{i+1}}</td>
                                        <td>{{transaction.transaction_type}}</td>
                                        <td>{{transaction.payment_source}}</td>
                                        <td>{{transaction.charged_amount | currency:'INR'}}</td>
                                        <td>
                                            <a *ngIf="transaction.payment_source=='PAYMENT_GATEWAY'" target="_blank"  href="https://dashboard.razorpay.com/app/payments/{{transaction.charge_id}}">{{transaction.charge_id}}</a>
                                            <span *ngIf="transaction.payment_source=='WALLET'"> {{transaction.charge_id ? 'Wallet Transaction #'+transaction.charge_id :''}}</span>
                                        </td>
                                        <td>{{transaction.refunded_amount | currency:'INR'}}</td>
                                        <td>
                                            <span
                                                *ngIf="transaction.refund_id && transaction.payment_source=='PAYMENT_GATEWAY'">{{transaction.refund_id}}</span>
                                            <span
                                                *ngIf="transaction.refund_id && transaction.payment_source=='WALLET'">{{'Wallet Transaction #'+transaction.refund_id}}</span>
                                        </td>
                                        <td>{{transaction.created_at | date:'dd-MM-yyyy hh:mm:ss a'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>


                        <div class="table-responsive">
                            <table class="table table-sm">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Customer Status</th>
                                        <th>Technician Status</th>
                                        <th>Doctor Status</th>
                                        <th>Pharmacy Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <p class="m-0"
                                                [innerHTML]="_orderHelper.getCustomerStatus(orderDetails.customer_status)">
                                            </p>
                                        </td>
                                        <td>
                                            <p class="m-0"
                                                [innerHTML]="_orderHelper.getTechnicianStatus(orderDetails.technician_status)">
                                            </p>
                                        </td>
                                        <td>
                                            <p class="m-0"
                                                [innerHTML]="_orderHelper.getDoctorStatus(orderDetails.doctor_status)">
                                            </p>
                                        </td>
                                        <td>
                                            <p class="m-0"
                                                [innerHTML]="_orderHelper.getPharmacyStatus(orderDetails.pharmacy_status)">
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p class="mb-1"><strong class="mr-2">Created Date :
                                                </strong>{{orderDetails.created_at | date:'dd-MM-yyyy hh:mm:ss a'}}</p>
                                            <p class="mb-1"><strong class="mr-2">Completed Date :
                                                </strong>{{orderDetails.order_place_datetime | date:'dd-MM-yyyy hh:mm:ss a'}}</p>
                                        </td>
                                        <td>
                                                <p class="mb-1"><strong class="mr-2">Reviewed On : </strong>{{
                                                (orderDetails.reviewed_on | date:'dd-MM-yyyy hh:mm:ss a') || '--' }}</p>
                                        </td>
                                        <td>
                                            <p class="mb-1"><strong class="mr-2">Prescribed On : </strong>{{
                                                (orderDetails.prescribed_on | date:'dd-MM-yyyy hh:mm:ss a') || '--' }}</p>
                                        </td>
                                        <td>
                                            <p class="mb-1"><strong class="mr-2">Shipped On : </strong>{{
                                                (orderDetails.shipped_on | date:'dd-MM-yyyy hh:mm:ss a') || '--' }}</p>
                                            <p class="mb-1"><strong class="mr-2">Pickedup On : </strong>{{
                                                (orderDetails.picked_up_on | date:'dd-MM-yyyy hh:mm:ss a') || '--' }}</p>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <p class="mb-1" *ngIf="orderDetails.tracking_url"><strong
                                                    class="mr-2">Tracking Id : </strong><a
                                                    class="btn btn-sm btn-outline-primary"
                                                    [href]="orderDetails.tracking_url" target="_blank">{{
                                                    orderDetails.tracking_id }}</a></p>
                                            <p class="mb-1" *ngIf="orderDetails.label_url"><strong class="mr-2">Shipping
                                                    Label : </strong><button class="btn btn-sm btn-primary"
                                                    type="button"
                                                    (click)="openShippingLabelToPrint(orderDetails.label_url)">View
                                                    Label</button></p>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <ng-container *ngIf="orderDetails.reviewed_by_id; else elseNoTemplate">
                                                <p class="mb-1"><strong class="mr-2">Name :</strong>{{orderDetails.reviewed_by_id.first_name+' '+orderDetails.reviewed_by_id.last_name}}</p>
                                            </ng-container>
                                            <ng-template #elseNoTemplate>
                                                <div class="text-center text-muted">
                                                    <h4><i class="fa fa-info-circle"></i></h4>
                                                    <h6>Not Assigned Yet</h6>
                                                </div>
                                            </ng-template>
                                        </td>
                                        <td>
                                            <ng-container *ngIf="orderDetails.assigned_to_id; else elseTemplate">
                                                <p class="mb-1"><strong class="mr-2">Name :
                                                    </strong>{{orderDetails.assigned_to_id.professional_details.display_name}}</p>
                                                <p class="mb-1"><strong class="mr-2">Email :
                                                    </strong>{{orderDetails.assigned_to_id.email}}</p>
                                                <p class="mb-1"><strong class="mr-2">Phone :
                                                    </strong>{{orderDetails.assigned_to_id.cell_phone_number | mask:
                                                    '(000) 000-0000' || '-'}}</p>
                                                <p class="mb-1"><strong class="mr-2">Registration Number
                                                        :</strong>{{orderDetails.assigned_to_id.professional_details.registration_number}}</p>
                                            </ng-container>
                                            <ng-template #elseTemplate>
                                                <div class="text-center text-muted">
                                                    <h4><i class="fa fa-info-circle"></i></h4>
                                                    <h6>Not Assigned Yet</h6>
                                                </div>
                                            </ng-template>
                                        </td>
                                        <td>
                                            <ng-container
                                                *ngIf="orderDetails.assigned_to_pharmacy_id && orderDetails.assigned_to_pharmacy_id">
                                                <p class="mb-1"><strong class="mr-2">Name :
                                                    </strong>{{orderDetails.assigned_to_pharmacy_id.pharmacy_name}}</p>
                                                <p class="mb-1"><strong class="mr-2">Phone:
                                                    </strong>{{orderDetails.assigned_to_pharmacy_id.phone_number | mask: '(000)
                                                    000-0000' || '-'}}</p>
                                                <p class="mb-1"><strong class="mr-2">Fax:
                                                    </strong>{{orderDetails.assigned_to_pharmacy_id.fax_number | mask: '(000)
                                                    000-0000' || '-'}}</p>
                                                <p class="mb-1"><strong class="mr-2">NPI Number:
                                                    </strong>{{orderDetails.assigned_to_pharmacy_id.npi_number}}</p>
                                                <p class="mb-1"><strong class="mr-2">DEA Number:
                                                    </strong>{{orderDetails.assigned_to_pharmacy_id.dea_number}}</p>
                                            </ng-container>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </ng-container>
            <ng-template #noOrderDetails>
                <div class="text-center text-muted">
                    <h2><i class="fa fa-info-circle"></i></h2>
                    <h4>No Order Details!</h4>
                </div>
            </ng-template>
        </div>
    </mat-tab>
    <mat-tab label="Patient">
        <div class="container-fluid details">
            <ng-container *ngIf="patient; else noDetails ">
                <div class="row">
                    <div class="col-md-6">
                        <h3>Patient Details</h3>
                    </div>
                    <div class="col-md-6">
                        <a href="javascript:void(0);" class="link" (click)="gotoPatientDetails()">
                            <h5># {{patient._id}}</h5>
                        </a>
                    </div>
                </div>
                <hr>
                <div class="row">
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>First Name</label>
                        <h5>{{patient.first_name}}</h5>
                    </div>
                    <div class="col-md-6">
                        <label>Last Name</label>
                        <h5>{{patient.last_name}}</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Gender</label>
                        <h5>{{patient.gender | titlecase}}</h5>
                    </div>
                    <div class="col-md-6">
                        <label>Date Of Birth</label>
                        <h5>{{ patient.dob_formatted }}
                            <br> Age: {{patient.age}}
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Email</label>
                        <h5>{{patient.email}}</h5>
                    </div>
                    <div class="col-md-6">
                        <label>Mobile No</label>
                        <h5>{{patient.cell_phone_number}}</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Shipping Addresses</label>

                        <div *ngIf="orderDetails && orderDetails.shipping_address">
                            <h5 class="m-0">
                                {{orderDetails.shipping_address.address_line_1}}
                                {{orderDetails.shipping_address.address_line_2 ? ', ' + orderDetails.shipping_address.address_line_2:''}}
                            </h5>
                            <h5 class="m-0">{{orderDetails.shipping_address.city + ' , '+orderDetails.shipping_address.state + ' - '+orderDetails.shipping_address.zip_code}}</h5>
                        </div>

                        <button class="btn btn-primary" (click)="loadMapIframe()" data-toggle="collapse"
                            data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">View
                            Shipping Address on Map<i class="ml-2 fa fa-map-marker" aria-hidden="true"></i></button>
                        <div class="collapse" id="collapseExample">
                            <iframe #mapIframe style="display: none;" width="100%" height="450" frameborder="0"
                                style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="accordion td-accordian mt-4" id="licenseAccordian">
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h3 class="mb-0">
                                        <button class="btn btn-link waves-effect waves-light" type="button"
                                            data-toggle="collapse" data-target="#license" aria-expanded="true"
                                            aria-controls="collapseTwo">License</button>
                                    </h3>
                                </div>
                                <div id="license" class="collapse show" aria-labelledby="headingTwo" data-parent="#licenseAccordian">
                                    <div class="card-body">
                                        <div class="mt-2" *ngIf="orderDetails && orderDetails.customer_license_photo">
                                            <div class="allergies">
                                                <app-image-preview [imgPath]="orderDetails.customer_license_photo" height="250" width="350" caption="License Image"></app-image-preview>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="accordion td-accordian mt-4" id="fullFaceAccordian">
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h3 class="mb-0"><button class="btn btn-link waves-effect waves-light" type="button"
                                            data-toggle="collapse" data-target="#license" aria-expanded="true"
                                            aria-controls="collapseTwo">Full Face Image</button></h3>
                                </div>
                                <div id="license" class="collapse show" aria-labelledby="headingTwo"
                                    data-parent="#fullFaceAccordian">
                                    <div class="card-body">
                                        <div class="mt-2" *ngIf="orderDetails && orderDetails.customer_profile_photo">
                                            <div class="allergies">
                                                <app-image-preview [imgPath]="orderDetails.customer_profile_photo" height="250" width="350" caption="Full Face Image"></app-image-preview>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-template #noDetails>
                <div class="text-center text-muted">
                    <h2><i class="fa fa-info-circle"></i></h2>
                    <h4>No Details!</h4>
                </div>
            </ng-template>
        </div>
    </mat-tab>
    <mat-tab label="Kit" *ngIf="orderDetails">
           <app-order-medicine-kit [orderDetails]="orderDetails"></app-order-medicine-kit>
    </mat-tab>
    <mat-tab label="Questionnaire">
        <div class="container-fluid doctorDetails">
            <app-order-question-answer [orderDetails]="orderDetails" (reloadOrderDetails)="getOrderDetailsAgain()"></app-order-question-answer>
        </div>
    </mat-tab>
    <mat-tab label="Logs">
        <app-order-logs></app-order-logs>
    </mat-tab>
</mat-tab-group>

<div class="form-group mt-1">
    <div class="text-center">
        <a routerLink="/admin/orders/list" routerLinkActive="active" class="btn btn-primary"><i  class="fa fa-arrow-left mr-2" aria-hidden="true"></i>Back To Orders</a>
    </div>
</div>
