
<ng-container *ngIf="healthconditions && healthconditions.length">
  <hr>
  <div class="pad">
    <div class="row">
      <div class="col-sm-6 text-left">
        <button class="btn btn-default" [disabled]="!isSequenceUpdated" (click)="resetSequence()">Reset Priority</button>
      </div>
      <div class="col-sm-6 text-right">
        <button class="btn btn-primary" [disabled]="!isSequenceUpdated" (click)="saveUpdatedSequence()">Save Priority</button>
      </div>
    </div>
    <br>
    <div class="row text-center heading">
      <div class="col-sm-2  text-center">
        <h6>New Priority</h6>
      </div>
      <div class="col-sm-8  text-center">
        <h6>Health Conditions</h6>
      </div>
      <div class="col-sm-2  text-center">
        <h6>Previous Priority</h6>
      </div>
    </div>
    <div cdkDropList class="questions-list" (cdkDropListDropped)="drop($event)">
      <div class="questions-box" *ngFor="let healthcondition of healthconditions;let i = index" cdkDrag>
        <div class="row">
          <div class="col-sm-2 text-center">
            <h4>{{(i+1)}}</h4>
          </div>
          <div class="col-sm-8  text-center">
            <h6>{{healthcondition.name}}</h6>
          </div>
          <div class="col-sm-2 text-center">
            <h4>{{healthcondition.priority}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>