<div class="modal-content">
    <div class="modal-body text-center">
        <h3 style="color: rgb(243, 180, 62)"><i class="fa fa-exclamation-circle"></i></h3>
        <h4 style="font-weight: bold;">Are you sure?</h4>
        <h6>You won't be able to revert this!</h6>
    </div>
    <div class="modal-footer">
        <button type="button" id="closeDeleteCouponBtn" class="btn btn-primary" (click)="closeModal()">No, cancel!</button>
        <button type="button" (click)="deleteSelectedCouponCode()" class="btn btn-danger">Yes, delete it!</button>
    </div>
</div>