.practice-address {
    .row {
        margin-bottom: 10px;
        div {
            display: inline-block;
            vertical-align: middle;
            div {
                padding: 0px;
            }
        }
    }
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.example-radio-button {
    margin: 5px;
}