<div class="w-100 p-3 bg-dark-blue d-flex justify-content-between align-items-center">
      <h4 class="text-white font-weight-bold mb-0"><i class="fas fa-newspaper mr-2"></i>Article</h4>
      <div>
        <a routerLink="/admin/articles/create" routerLinkActive="active" class="btn btn-primary mr-2"><i class="fa fa-plus"></i> Add Article</a>
      </div>
</div>

<div class="p-3"  *blockUI="'datatable'">
    <div class="table-responsive">
      <table  hover="true" id="articlesList" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"></table>
    </div>
</div>
