<!-- Page content -->
<div class="container mt-5 pb-5">
    <div class="row justify-content-center">
          <div class="col-lg-5 col-md-7">
              <div class="card shadow border-0">
                    <div class="card-header bg-dark-blue text-center">
                        <h4 class="text-white">Reset Password</h4>
                    </div>
                    <div class="card-body px-lg-5">
                        <div class="alert alert-danger" role="alert" *ngIf="invalidToken">
                          Invalid token. Please contact administrator for further details
                        </div>
                          <!-- Reset password -->
                          <form [formGroup]="resetPasswordForm" class="p-2" (ngSubmit)="resetPassword()" novalidate>

                            <!-- New Password -->
                            <div class="form-group">
                              <label class="float-left">New Password</label>
                              <input [disabled]="invalidToken" type="password" class="form-control input-lg" placeholder="Enter Password" formControlName="password" name="password" autocomplete="off" required />
                              <small class="text-muted form-text">Your password must be 8-30 characters long</small>
                              <span class="text-danger small" *ngIf="password?.errors?.required">Password is required</span>
                              <span class="text-danger small" *ngIf="password?.errors?.pattern">Password must conatain Following:
                                <ul class="list-group list-group-flush">
                                  <li class="list-group-item">At least 8 to 30 characters in length</li>
                                  <li class="list-group-item">Lowercase letters</li>
                                  <li class="list-group-item">Uppercase letters</li>
                                  <li class="list-group-item">Numbers</li>
                                  <li class="list-group-item">Special characters(@,$,!,%,*,?,&)</li>
                                </ul>
                              </span>
                            </div>

                            <!-- Confirm Password -->
                            <div class="form-group">
                              <label class="float-left">Confirm Password</label>
                              <input [disabled]="invalidToken" type="password" id="password" class="form-control input-lg" placeholder="Confirm password" formControlName="confirmPassword" name="confirmPassword"required />
                              <span class="text-danger small" *ngIf="password != confirmPassword && submitted">Password does not match</span>
                            </div>

                            <!-- Login in button -->
                            <div class="text-center">
                              <button [disabled]="invalidToken" class="btn btn-sm btn-primary" type="submit" *ngIf="!saving">Reset Password</button>
                              <button class="btn btn-sm btn-primary" type="button" disabled *ngIf="saving"><i class="fas fa-spinner"></i>&nbsp; Resetting</button>
                            </div>
                          </form>
                    </div>
              </div>
          </div>
    </div>
</div>
