<div class="w-100 p-2 bg-dark-grey">
  <div class="d-flex justify-content-between align-items-center">
    <h4 class="text-white font-weight-bold mb-0">Medicine Kit Details</h4>
    <div>
      <a routerLink="/admin/medicine-kits/edit/{{medicineKitId}}" routerLinkActive="active"
        class="btn btn-primary">Edit</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-12">
      <div class="form-group">
        <mat-label class="text-white font-weight-bold">Treatment Condition</mat-label>
        <mat-select class="form-control" placeholder="Treatment Condition" (selectionChange)="getMedicineKits($event.value)" [(ngModel)]="treatmentConditionId">
          <mat-option color="primary" *ngFor="let tc of treatmentConditionList" [value]="tc.id">{{tc.name}}</mat-option>
        </mat-select>
      </div>
    </div>
    <div class="col-md-9 col-12">
      <div class="form-group">
        <mat-label class="text-white font-weight-bold">Medicine Kit</mat-label>
        <mat-select class="form-control" placeholder="Medicine Kit" (selectionChange)="onKitChange($event.value)" [(ngModel)]="medicineKitId">
          <mat-option *ngFor="let kit of medicineKits" [value]="kit.id">
            {{kit.name}}
          </mat-option>
        </mat-select>
      </div>
    </div>
  </div>
</div>
<ul class="nav nav-tabs">
  <li class="nav-item">
      <a class="nav-link font-weight-bold" routerLinkActive="active" routerLink="./info">Info</a>
  </li>
  <li class="nav-item">
      <a class="nav-link font-weight-bold" routerLinkActive="active" routerLink="./question-list">Question List</a>
  </li>
  <li class="nav-item">
      <a class="nav-link font-weight-bold" routerLinkActive="active" routerLink="./question-sequence">Question Sequence</a>
  </li>
  <li class="nav-item">
      <a class="nav-link font-weight-bold" routerLinkActive="active" routerLink="./question-preview">Question Preview</a>
  </li>
  <li class="nav-item">
    <a class="nav-link font-weight-bold" routerLinkActive="active" routerLink="./kit-orders">Orders</a>
  </li>
  <li class="nav-item">
      <a class="nav-link font-weight-bold" routerLinkActive="active" routerLink="./statistics">Statistics</a>
  </li>
</ul>

<div class="tab-content p-3">
  <router-outlet></router-outlet>
</div>

<div class="row">
  <div class="col-sm-12 text-center">
    <a routerLink="/admin/medicine-kits/" [replaceUrl]="true" class="btn btn-primary">Back</a>
  </div>
</div>
