<div class="modal-content">
    <div class="modal-header">
        <h4 class="font-weight-bold modal-title w-100" id="hippaModalLabel">
            HIPAA Notice of Privacy Practices
        </h4>
         <button (click)="closeModal()" type="button" id="closeHippaBtn" class="close float-right" aria-label="Close" data-dismiss="modal">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
      <div class="overflow-y-auto content-inner">
        <div class="text-container">
          <p>TeleDaddy<br>HIPAA Notice of Privacy Practices<br>Effective Date: March 3, 2019</p>
          <p>THIS NOTICE DESCRIBES HOW MEDICAL INFORMATION ABOUT YOU MAY BE USED AND DISCLOSED AND HOW YOU CAN GET ACCESS TO THIS
            INFORMATION. &nbsp;PLEASE REVIEW IT CAREFULLY.</p>
          <p>This notice covers services and medical information for all TeleDaddy services.&nbsp;Our pledge about health information:
            We are required by law to maintain the privacy of your health information. &nbsp;We will provide you with a notice
            of our legal duties and privacy practices.&nbsp;“Protected health information” is your health information or other
            individually identifiable information, such as demographic data, that may identify you. &nbsp;Protected health information
            relates to your past, present or future physical or mental health or condition related to healthcare services.&nbsp;Uses
            and disclosures of health information that do not require your authorization:&nbsp;The categories below describe ways
            that we use and disclose your health information. &nbsp;For each category we will explain what we mean and give an
            example. &nbsp;Not every use or disclosure in a category will be listed. &nbsp;All of the ways we are allowed to use
            and disclose information will fall within one of the categories. Information may be disclosed in writing, orally, or
            by computer.</p>
          <p>TREATMENT – We will use your medical information to treat you, provide you with services, or organize the things you
            need.&nbsp;We may give your medical information to doctors and technicians.&nbsp;We may use and disclose your health
            information to run our business. &nbsp;We need this information to make sure that all of our patients get quality care.
            For example, we may use health information to review our treatment and services to check how we are doing.&nbsp;We
            may combine health information about many patients to decide what services we should offer, what services are not needed,
            and what new treatments would be useful. We may combine this health information with medical information from other
            healthcare places. This helps us to see how we are doing compared to others and where we can improve. We may remove
            information that tells who you are. Others may use it to study health care and health care delivery without learning
            who you are.</p>
          <p>Business Associates – We hire outside organizations, called business associates, who perform some services for us.TeleDaddy
            has written contracts with its business associates to protect the privacy of your protected health information, and
            business associates are also required by law to comply with the same privacy and security requirements that apply to
            TeleDaddy.</p>
          <p>Treatment Options – We may use and disclose medical information to tell you about treatment options.</p>
          <p>Health Benefits and Services – We may use and disclose medical information to tell you about health benefits or services.
            &nbsp;For example, a new medical kit program that we offer.&nbsp;</p>
          <p>THE FOLLOWING AREAS ARE REQUIRED OR ALLOWED BY LAW</p>
          <p>To Avert a Serious Threat to Health or Safety – We may use and disclose your health information when needed to prevent
            a serious threat to your health and safety. &nbsp;This includes the health and safety of the public or another person.
            &nbsp;We would only give this information to someone that can help stop the threat. &nbsp;</p>
          <p>Organ and Tissue Donation – TeleDaddy may release medical information to organizations that handle organ procurement
            or organ, eye or tissue transplantation, or to an organ-donation bank as necessary to facilitate organ or tissue donation
            and transplantation.&nbsp;</p>
          <p>Workers’ Compensation – We may release your health information for workers’ compensation or such programs. &nbsp;These
            programs provide benefits for work-related injuries or illness.&nbsp;</p>
          <p>Public Health Risks and Patient Safety Issues – We may disclose your health information to public health programs
            or to keep you safe. &nbsp;For example: purposes of preventing &nbsp;or controlling disease, disability or injury;
            to report births and &nbsp;deaths; to report reactions to medications or problems with products; and to notify people
            of recalls of products that they maybe be using.&nbsp;</p>
          <p>Health Oversight Activities – We may disclose your health information to a health group that oversees activities allowed
            by law. &nbsp;This might include having someone check to see how we are doing or a licensure to make sure that we can
            treat patients. &nbsp;The government needs to do this to check the health care system, government benefit programs
            and compliance with civil rights laws. Examples of health oversight activities are: &nbsp;audits, investigations and
            inspections.</p>
          <p>Communicable diseases – TeleDaddy may disclose medical information to notify a person who may have been exposed to
            a disease or may be at risk for contracting or spreading a disease or condition, and to comply with stat-mandatory
            disease reporting, such as cancer registries.&nbsp;</p>
          <p>Abuse and Neglect – TeleDaddy may disclose your medical information to a public health authority authorized by law
            to receive reports of child abuse or neglect, and to notify the appropriate government authority if TeleDaddy believes
            a patient has been the victim of abuse, neglect or domestic violence. TeleDaddy will only make this disclosure when
            required or authorized by law.&nbsp;</p>
          <p>Food and Drug Administration (FDA) – TeleDaddy may disclose your medical information to a person or company required
            by the Food and Drug Administration for the purpose of quality, safety, or effectiveness of FDA-regulated products
            or activities, which include; to report adverse events, product defects or problems; biologic product deviations; to
            track products; to enable product recalls; to make repairs or replacements; or to conduct post-marketing surveillance,
            as required.&nbsp;</p>
          <p>Legal Proceedings – TeleDaddy may disclose medical information in the course of any judicial or administrative proceeding,
            in response to an order of a court or administrative tribunal (to the extent such disclosure is expressly authorized)
            or, in certain conditions, in response to a subpoena, discovery request or other lawful process.</p>
          <p>Law Enforcement – TeleDaddy may disclose medical information for certain law-enforcement purposes, such as: in response
            to a court order, subpoena, warrant, summons or similar process; to identify or locate a suspect, fugitive, material
            witness or missing person; about the victim of a crime, if under certain limited circumstances, it is unable &nbsp;to
            obtain the person’s agreement; about a death it believes may be the result of criminal conduct; about criminal conduct
            at the facility; and, in emergency circumstances, to report a crime, the location of the crime or victims, or the identity,
            description or location of the person who committed the crime.&nbsp;</p>
          <p>Coroners, Medical Examiners and Funeral Directors – We may release health information to a coroner or medical examiner.
            &nbsp;This may be needed to identify a deceased person or find the cause of death. &nbsp;We may also release health
            information to funeral directors when asked to do so. &nbsp;</p>
          <p>Military Activity and National Security&nbsp; – We may use or disclose medical information of individuals who are
            armed forces personnel for activities deemed necessary by appropriate military-command authorities, for the purpose
            of a determination by the Department of Veterans Affairs of your eligibility for benefits or to a foreign military
            authority if you are member of that foreign military service. &nbsp;It may also disclose your medical information to
            authorized federal officials for conducting national security and intelligence activities, including for the provision
            of protective services to the president or others legally authorized.&nbsp;</p>
          <p>Inmates – If you are in custody, we may release your health information to law enforcement. &nbsp;The release would
            be for them to treat you, protect your health and safety, or the health and safety of others.</p>
          <p>USES AND DISCLOSURES OF PROTECTED HEALTH INFORMATION THAT DO REQUIRE YOUR AUTHORIZATION – As described above, TeleDaddy
            may use or disclose your protected health information to third parties for treatment, payment, healthcare operations
            and when permitted or required by law. &nbsp;Teledaddy will not disclose your protected health information for marketing
            purposes or the sale of protected health information. &nbsp;In addition, certain disclosures of your psychotherapy
            notes, mental health records and drug and alcohol abuse treatment records may require your prior written authorization.</p>
          <p>YOUR RIGHTS REGARDING YOUR PROTECTED HEALTH INFORMATION – Although your health record belongs to TeleDaddy, the information
            belongs to you. Unless you are an inmate, you have the:</p>
          <p>Right to Look Over and Copy. – You have the right to request to look over and/or get an electronic or paper copy of
            your medical information. This includes medical and billing records but does not include psychotherapy notes. You can
            look over or copy this information as long as we keep it.&nbsp;Your request must be given in writing. If there is a
            fee for these services, you will be told in advance. In some cases, we may deny your request to look over and copy
            your records. &nbsp;If this happens, you may ask that the denial be reviewed. &nbsp;A manager chosen by TeleDaddy will
            review your request and the denial. &nbsp;The person doing the review will not be the person who denied your request.
            &nbsp;We will comply with the outcome of the review.&nbsp;&nbsp;</p>
          <p>Right to Amend. – If you feel that your health information is wrong, you may ask to change the information. You have
            the right to ask for a change for as long as we keep the information. Your request must be given in writing and include
            a reason. We may deny your request if:</p>
          <ul>
            <li>
              <p>It is not in writing or does not include a reason;</p>
            </li>
            <li>
              <p>We did not create the information, unless the provider that created it is no longer available;</p>
            </li>
            <li>
              <p>It is not part of the health information kept by TeleDaddy;</p>
            </li>
            <li>
              <p>It is not part of the information which you would be allowed to look over and copy; or</p>
            </li>
            <li>
              <p>It is accurate and complete.</p>
            </li>
          </ul>
          <p>Right to Receive Notification – Individuals will receive notifications of their unsecured protected health information
            that is breached.</p>
          <p>Right to an Accounting of Disclosures. – You have the right to request a list of the disclosures we made that are
            not related to treat you, get paid for services, to run our business, or that you authorized. &nbsp;To request an accounting
            of disclosures, submit your request in writing and include the specific time period to TeleDaddy’s Privacy Officer.&nbsp;Your
            request must be given in writing. &nbsp;It must state a time period that may not be longer than seven years and may
            not include dates before March 5, 2012. &nbsp;You may receive one free list each year. &nbsp;For extra lists, we may
            charge you. &nbsp;If there is a fee for this, we will tell you in advance. We will mail you a list of disclosures within
            90 days.</p>
          <p>Right to Request Restrictions – You have the right to ask us to give your health information only to the people that
            are helping with your care or in the payment for your care. &nbsp;For example, you could ask that we not use or give
            information about a surgery you had to a family member or friend. To request a restriction, submit your restriction
            in writing to TeleDaddy’s Privacy Officer. &nbsp;The request should include what information you want to limit, whether
            you want to limit use or disclosure, or both, and to whom you want the limits to apply. &nbsp;TeleDaddy is not required
            to agree to your request. &nbsp;If it does agree, it will comply with your restrictions unless the information is needed
            to provide emergency medical treatment.&nbsp;TeleDaddy will agree to restrict disclosures of your health information
            to your health insurance plan for payment and healthcare operations (not for treatment) if the disclosure pertains
            solely to a healthcare item or service for which you paid in full.</p>
          <p>Right to Request Confidential Communications – You have the right to request that we communicate with you about health
            matters in a certain way or at a certain location. &nbsp;For example, you can ask that we only contact you at work
            or by mail. &nbsp;Your request must be in writing. We will not ask you the reason for your request. &nbsp;We will try
            to comply with your request. Your request must state how or where you wish to be contacted.</p>
          <p>Right to a Paper Copy of This Notice – You have the right to a paper copy of this notice. &nbsp;You may ask us to
            give you a copy of this notice at any time. &nbsp;Even if you have agreed to receive this notice electronically – by
            computer, you can still get a paper copy of this notice. &nbsp;A copy of this notice is on our website at www.teledaddy.com</p>
          <p>OTHER USES OF MEDICAL INFORMATION. -Other uses and disclosures of health information not in this notice or allowed
            by law will be made only with your written consent. &nbsp;If you give us consent, you may cancel it in writing at anytime.
            &nbsp;If you cancel your consent, we will no longer use or disclose your health information for the reasons in your
            consent. &nbsp; This does not apply to any disclosures we have already made. &nbsp;We are required to keep your original
            records.</p>
          <p>CHANGES TO THIS PRIVACY NOTICE -We have the right to change this notice. &nbsp;We will post a copy of the current
            notice in all TeleDaddy locations. The notice will have the effective date. &nbsp;Each time you receive services, you
            can get a copy of the notice. &nbsp;You may also request that a revised copy be sent to you in the mail or obtain one
            at the time of an appointment.&nbsp;</p>
          <p>QUESTIONS OR COMPLAINTS&nbsp; – If you have a complaint about your privacy rights, please send us a certified mail
            at:&nbsp;Teledaddy 9907 8th Street, Suite 55, Gotha, FL 34734-9998</p>
        </div>
        <div class="alert alert-info" *ngIf="details">
            <p class="mb-0">Signed By : {{details.patient_name}}</p>
            <p class="mb-0">Signed On : {{details.signed_on}}</p>
        </div>
      </div>
    </div>
</div>

