<div class="modal-content">
    <div class="modal-header">
        <h4 class="font-weight-bold modal-title w-100" id="uploadMediaModalTitle">
          Upload Files
        </h4>
        <button (click)="closeModal()" type="button" id="uploadMediaModalBtn" class="close float-right" aria-label="Close" data-dismiss="modal">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="addMedia" (ngSubmit)="onMediaSubmit(addMedia.valid)">
          <div formArrayName="file_inputs">
              <div *ngFor="let fi of file_inputs().controls; let fiIndex=index">
                <div class="form-group" [formGroupName]="fiIndex">
                          <div class="form-row">
                              <div class="col">
                                  <input type="file" class="form-control" placeholder="Choose File" formControlName="files"  [accept]="mediaType=='IMAGE'?'.png, .jpg, .jpeg':'.doc,.docx,.pdf,.odt,.txt,.xlsx,xls'"  (change)="onFileChange(fiIndex,$event)" />
                                <div class="invalid-feedback" *ngIf="fi.get('files')?.invalid && (fi.get('files')?.dirty || fi.get('files')?.touched)" class="text-danger">
                                  <div *ngIf="fi.get('files')?.errors?.required"> File is required.</div>
                                </div>
                              </div>

                              <div class="col">
                                    <input type="text" class="form-control" placeholder="Enter File Description" formControlName="caption"   />
                                  <div class="invalid-feedback" *ngIf="fi.get('caption')?.invalid && (fi.get('caption')?.dirty || fi.get('caption')?.touched)" class="text-danger">
                                      <div *ngIf="fi.get('caption')?.errors?.required"> Description is required.</div>
                                  </div>
                              </div>

                              <div class="col">

                                <button *ngIf="fiIndex==0" class="btn btn-sm btn-primary" (click)="addFileInput()"><i class="fa fa-plus mr-2"></i>Add More</button>
                                <button *ngIf="fiIndex!=0" class="btn btn-sm btn-danger" (click)="removeFileInput(fiIndex)"><i class="fa fa-trash mr-2"></i>Remove</button>
                              </div>

                          </div>
                  </div>
              </div>
          </div>
          <button type="submit" class="btn btn-success" [disabled]="!addMedia.valid">Upload</button>
      </form>
    </div>
</div>
