<div class="w-100 p-3 bg-dark-grey">
      <h4 class="text-white font-weight-bold mb-0">Edit Coupon Code</h4>
</div>
<div class="p-5">
    <form  (ngSubmit)="saveCreateCouponCode()" [formGroup]="editCouponCode">
        <div class="form-group">
            <div class="form-row">
                <div class="col-3">
                    <label for="coupon_category">Category</label>
                    <mat-form-field class="w-100">
                        <mat-select (selectionChange)="handleCategoryChange($event)" formControlName="coupon_category"  [(ngModel)]="couponCodeObj.coupon_category" multiple>
                             <mat-checkbox class="mat-option ckb1" (click)="$event.stopPropagation()" color="primary" (change)="handleCheckAll($event, 'category')"
                           [indeterminate]="(couponCodeObj && couponCodeObj?.coupon_category?.length) && notSelectedCategory"
                           [checked]="!notSelectedCategory">All</mat-checkbox>
                            <mat-option *ngFor="let category of categoryList" [value]="category.value">{{category.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div class="invalid-feedback" *ngIf="coupon_category?.invalid && (coupon_category?.dirty || coupon_category?.touched)" class="text-danger">
                        <div *ngIf="coupon_category?.errors?.required">Please select category.</div>
                    </div>
                </div>
                <div class="col-3">
                        <label for="states">Coupon Type</label>
                        <mat-form-field class="w-100">
                            <mat-select formControlName="coupon_type"  [(ngModel)]="couponCodeObj.coupon_type">
                                <mat-option value="REGULAR">REGULAR</mat-option>
                                <mat-option value="YEARLY">YEARLY</mat-option>
                            </mat-select>
                        </mat-form-field>
                </div>
                <div class="col-3">
                    <label for="states">State</label>
                    <mat-form-field class="w-100">
                        <mat-select formControlName="states"  [(ngModel)]="couponCodeObj.states" multiple>
                            <mat-checkbox class="mat-option ckb1" (click)="$event.stopPropagation()" color="primary" (change)="handleCheckAll($event, 'state')"
                            [indeterminate]="(couponCodeObj && couponCodeObj?.states?.length) && notSelectedStates"
                            [checked]="!notSelectedStates">All</mat-checkbox>
                            <mat-option *ngFor="let st of statesList" [value]="st._id">{{st.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <div class="invalid-feedback" *ngIf="states?.invalid && (states?.dirty || states?.touched)" class="text-danger">
                        <div *ngIf="states?.errors?.required">Please select state.</div>
                    </div>
                </div>
            </div>
        </div>

         <div class="form-group">
            <div class="form-row">
                <div class="col-6" *ngIf="editCouponCode.get('kits')" >
                        <label for="kits">Kits</label>
                        <mat-form-field class="w-100">
                            <mat-select formControlName="kits" [(ngModel)]="couponCodeObj.kits" multiple>
                                <mat-checkbox class="mat-option ckb1" (click)="$event.stopPropagation()" color="primary" (change)="handleCheckAll($event, 'kit')"
                                [indeterminate]="(couponCodeObj && couponCodeObj?.kits?.length) && notSelectedKits"
                                [checked]="!notSelectedKits">All</mat-checkbox>
                                <mat-option *ngFor="let kit of kitList" [value]="kit._id">{{kit.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <div class="invalid-feedback" *ngIf="kits?.invalid && (kits?.dirty || kits?.touched)" class="text-danger">
                            <div *ngIf="kits?.errors?.required">Please select kit.</div>
                        </div>
                </div>
                 <div class="col-6" *ngIf="editCouponCode.get('health_conditions')">
                    <label for="health_conditions">Health Conditions</label>
                    <mat-form-field class="w-100">
                        <mat-select formControlName="health_conditions"  [(ngModel)]="couponCodeObj.health_conditions" multiple>
                             <mat-checkbox class="mat-option ckb1" (click)="$event.stopPropagation()" color="primary" (change)="handleCheckAll($event, 'health_conditions')"
                           [indeterminate]="(couponCodeObj && couponCodeObj?.health_conditions?.length) && notSelectedhealthKits"
                           [checked]="!notSelectedhealthKits">All</mat-checkbox>
                            <mat-option *ngFor="let kit of healthKitList" [value]="kit._id">{{kit.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <div class="invalid-feedback" *ngIf="health_conditions?.invalid && (health_conditions?.dirty || health_conditions?.touched)" class="text-danger">
                        <div *ngIf="health_conditions?.errors?.required">Please select health condition.</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="form-row">
                <div class="col-md-6">
                    <label class="float-left">Coupon Code</label>
                    <input type="text" id="coupon_code" class="form-control" placeholder="Enter Coupon Code" formControlName="coupon_code" [(ngModel)]="couponCodeObj.coupon_code"
                    />
                    <div class="invalid-feedback" *ngIf="coupon_code?.invalid && (coupon_code?.dirty || coupon_code?.touched)" class="text-danger">
                        <div *ngIf="coupon_code?.errors?.required">Coupon Code is required</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="float-left">Coupon Code Name</label>
                    <input type="text" id="coupon_name" formControlName="coupon_name" [(ngModel)]="couponCodeObj.coupon_name" class="form-control input-lg"
                        placeholder="Enter Coupon Code Name" />
                    <div class="invalid-feedback" *ngIf="coupon_name?.invalid && (coupon_name?.dirty || coupon_name?.touched)" class="text-danger">
                        <div *ngIf="coupon_name?.errors?.required">Coupon Name is required</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-row">
                <div class="col-md-6">
                    <label class="d-block">Discount Type</label>
                    <div class="mb-3">
                        <mat-radio-group formControlName="discount_type" [(ngModel)]="discountType" (change)="setDiscountValidators()">
                            <mat-radio-button value="AMOUNT" color='primary'>Discount In Amount</mat-radio-button> &nbsp;&nbsp;
                            <mat-radio-button value="PERCENTAGE" color='primary'>Discount In Percentage</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="divDiscountAmount" *ngIf="divDiscountAmount">
                        <label class="float-left"> Discount Amount</label>
                        <input type="text" id="discount_amount" formControlName="discount_amount" [(ngModel)]="couponCodeObj.discount_amount" class="form-control input-lg"
                            placeholder="Enter Discount Amount" />
                        <div class="invalid-feedback" *ngIf="discount_amount?.invalid && (discount_amount?.dirty || discount_amount?.touched)" class="text-danger">
                            <div *ngIf="discount_amount?.errors?.required">Discount Amount is required</div>
                        </div>
                    </div>

                    <div id="divDiscountPercentage" *ngIf="divDiscountPercentage">
                        <label class="float-left">Discount Percentage</label>
                        <input type="text" id="discount_percent" formControlName="discount_percent" [(ngModel)]="couponCodeObj.discount_percent"
                            class="form-control input-lg" placeholder="Enter Discount Percent">
                        <div class="invalid-feedback" *ngIf="discount_percent?.invalid && (discount_percent?.dirty || discount_percent?.touched)" class="text-danger">
                            <div *ngIf="discount_percent?.errors?.required">Discount Percent is required</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-row">
                <div class="col-md-6">
                    <label class="float-left">Single User</label>
                    <input type="number" id="use_count_single_user" min="0" formControlName="use_count_single_user" [(ngModel)]="couponCodeObj.use_count_single_user"
                        class="form-control input-lg" placeholder="Enter Counts For Single User" />
                    <p style="margin-bottom: 0;"><i class="fa fa-info-circle"></i> Number of times single user can use the
                        code
                    </p>
                    <div class="invalid-feedback" *ngIf="use_count_single_user?.invalid && (use_count_single_user?.dirty || use_count_single_user?.touched)"
                        class="text-danger">
                        <div *ngIf="use_count_single_user?.errors?.required">Count for Single User is required</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="float-left">All Users</label>
                    <input type="number" id="use_count_all_user"  min="0" formControlName="use_count_all_user" [(ngModel)]="couponCodeObj.use_count_all_user"
                        class="form-control input-lg" placeholder="Enter Count For All Users" />
                    <p style="margin-bottom: 0;"><i class="fa fa-info-circle"></i> Number of unique users that can use the
                        code
                    </p>
                    <div class="invalid-feedback" *ngIf="use_count_all_user?.invalid && (use_count_all_user?.dirty || use_count_all_user?.touched)"
                        class="text-danger">
                        <div *ngIf="use_count_all_user?.errors?.required">Count for All Users is required</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="form-row">
                <div class="col-md-6">
                    <label class="float-left">Start Date</label>
                    <input [owlDateTime]="dt1" placeholder="Date Time" [owlDateTimeTrigger]="dt1" id="start" formControlName="start" autocomplete="off"
                        [(ngModel)]="couponCodeObj.start" class="form-control input-lg">
                    <owl-date-time #dt1></owl-date-time>
                    <div class="invalid-feedback" *ngIf="start?.invalid && (start?.dirty || start?.touched)" class="text-danger">
                        <div *ngIf="start?.errors?.required">Start Date is required</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="float-left">Expiry Date</label>
                    <input [owlDateTime]="dt2" placeholder="Date Time" id="expiry" [owlDateTimeTrigger]="dt2" formControlName="expiry" autocomplete="off"
                        [(ngModel)]="couponCodeObj.expiry" class="form-control input-lg">
                    <owl-date-time #dt2></owl-date-time>
                    <div class="invalid-feedback" *ngIf="expiry?.invalid && (expiry?.dirty || expiry?.touched)" class="text-danger">
                        <div *ngIf="expiry?.errors?.required">Expiry Date is required</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="form-row">
                <div class="col-sm-6">
                        <mat-checkbox id="is_active" color="primary" formControlName="is_active" [(ngModel)]="couponCodeObj.is_active">Active</mat-checkbox>
                </div>
            </div>
        </div>
        <div class="form-group mt-1">
            <div class="form-row">
                <div class="col-sm-12">
                    <div class="text-center">
                        <button type="submit" class="btn btn-info mr-2">Update</button>
                        <a routerLink="/admin/coupon-code/list-coupon-code" routerLinkActive="active" class="btn btn-primary">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- Coupon Code End -->
