<div class="modal-content">
    <form (ngSubmit)="refundOrderFormSubmit(refundOrderForm)" [formGroup]="refundOrderForm" novalidate>
      <div class="modal-header p-2 pl-3">
        <h4 class="modal-title">Request for Refund Order</h4>
        <button type="button" class="close"  aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="order">
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="refund_all_checkbox"
                       [checked]="checkSelectAllOptionForEvent('REFUND')"
                       (change)="handleSelectAllDrugs('REFUND',$event)"/>
                      <label class="custom-control-label" for="refund_all_checkbox">Select All</label>
                  </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let drug of order.drugs">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="checkbox_{{drug.id}}"
                            (change)="selectDrug(drug,$event)"
                            [checked]="checkDrugSelectedForRefund(drug)"
                            [disabled]="checkDrugDisabledForRefund(drug)" />
                        <label class="custom-control-label " for="checkbox_{{drug.id}}">
                        {{drug.drug_name+' '+drug.drug_dosage+' '+drug.drug_quantity+'  '+drug.drug_form }}

                        <span *ngIf="drug.product_type && drug.product_type=='LENS'">{{ ' - '+drug.eye_type }}</span>
                        <span class="ml-2">- {{ drug.drug_quantity_price | currency:'INR' }} </span>

                        <span *ngIf="drug.tax_amount > 0" > + Tax {{ drug.tax_amount | currency:'INR' }} </span>

                        </label>
                    </div>
                </li>
            </ul>
            <div class="form-group mt-2">
              <label>Enter Reason For Refund Order</label>
              <textarea class="form-control" id="refund_reason" rows="3" formControlName="refund_reason"></textarea>
               <div class="invalid-feedback" *ngIf="refund_reason?.invalid && (refund_reason?.dirty || refund_reason?.touched)" class="text-danger">
                    <div *ngIf="refund_reason?.errors?.required">Reason is required</div>
                </div>
            </div>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="submit" [disabled]="refundOrderForm.invalid" class="btn btn-sm btn-success btn-block waves-effect m-0">Request Refund</button>
      </div>
    </form>
  </div>
