<div class="container-fluid" *ngIf="!loading && doctorDetails">
    <div class="row">
      <div class="col-md-8 p-3">
         <h4 class="font-weight-bold">Doctor Account Request #{{doctorId}}
         <span *ngIf="doctorDetails.status=='APPROVED'" class="p-2 badge badge-pill badge-success mr-2">Approved</span>
         <span *ngIf="doctorDetails.status=='REJECTED'" class="p-2 badge  badge-pill  badge-danger mr-2">Rejected</span>
         <span *ngIf="doctorDetails.status=='PENDING'" class="p-2 badge  badge-pill  badge-warning mr-2">Pending</span>
         <span *ngIf="doctorDetails.deleted==1" class="p-2 badge  badge-pill badge-danger mr-2">Deleted</span>
         </h4>

         <div class="alert alert-success" role="alert" *ngIf="doctorDetails.teledaddy_doctor_id">
         <h4 class="alert-heading">Physician Account Created in Teledaddy System</h4>
         <p><a routerLink="/admin/doctors/view/{{doctorDetails.teledaddy_doctor_id}}" routerLinkActive="active">View Account</a></p>
         </div>

      </div>
      <div class="col-md-4 text-right">
        <button class="btn btn-info mr-2"  *ngIf="!doctorDetails.teledaddy_doctor_id" (click)="gotoEditAccountRequest()">Edit</button>
        <a routerLink="/admin/account-request/registration/{{doctorId}}" class="btn btn-success mr-2" *ngIf="doctorDetails.status=='PENDING' && doctorDetails.deleted==0 && doctorDetails.updated_at && doctorDetails.portal_usage">Account Registration</a>
        <button class="btn btn-danger mr-2" *ngIf="doctorDetails.status=='PENDING' && doctorDetails.deleted==0 " (click)="reject()" [disabled]="btnLoading">Reject</button>
        <button class="btn btn-danger mr-2" *ngIf="doctorDetails.deleted==0" (click)="deleteRequest()" [disabled]="btnLoading">Delete</button>
      </div>
    </div>
  
   <div class="row">
      <div class="col-md-6">
         <table class="table table-hover table-borderless">
            <thead class="thead-dark">
            <tr>
            <th colspan="2"><h5 class="mb-0 text-white font-weight-bold">Personal Details</h5></th>
            </tr>
            </thead>
            <tbody>
            <tr><td>Company Name</td><td>{{doctorDetails?.company_name}}</td></tr>
            <tr><td>LLC Name</td><td>{{doctorDetails?.llc_name}}</td></tr>
            <tr><td>First Name</td><td>{{doctorDetails?.first_name}}</td></tr>
            <tr><td>Last Name</td><td>{{doctorDetails?.last_name}}</td></tr>
            <tr><td>Suffix</td><td>{{doctorDetails?.suffix}}</td></tr>
            <tr><td>Gender</td><td>{{getGender(doctorDetails?.gender)}}</td></tr>
            <tr><td>Date of Birth</td><td>{{doctorDetails?.dateOfBirth}}</td></tr>
            <tr><td>Email</td><td>{{doctorDetails?.email}}</td></tr>
            <tr><td>Cell Phone Number</td><td>{{doctorDetails?.cell_phone_number}}</td></tr>
            <tr><td>Fax</td><td>{{doctorDetails?.fax_number}}</td></tr>
            </tbody>
         </table>
      </div>

      <div class="col-md-6">
         <table class="table table-hover table-borderless">
            <thead class="thead-dark">
            <tr>
            <th colspan="2"><h5 class="mb-0 text-white font-weight-bold">Professional Details</h5></th>
            </tr>
            </thead>
            <tbody>
            <tr><td>Work area</td><td>{{ doctorDetails?.workarea }}</td></tr>
            <tr><td>Professional Liability Policy Number</td><td>{{doctorDetails?.professional_liability_policy_number}}</td></tr>
            <tr><td>NPI Number</td><td>{{doctorDetails?.npi_number}}</td></tr>
            <tr><td>DEA Number</td><td>{{doctorDetails?.dea_number}}</td></tr>
            <tr><td>Check Payable To Name</td><td>{{doctorDetails?.check_payable_to_name}}</td></tr>
            <tr><td>Professional Liability Document Expiry Date</td><td>{{doctorDetails?.professional_liability_document_expiry_date}}</td></tr>
            <tr><td>Professional Liability Document</td><td> <img class="img-responsive license-image" [src]="imageUrl" (click)="open()" height="250px" width="250px" /></td></tr>
            </tbody>
         </table>
      </div>
     
   </div>

         <div class="row">
            <div class="col-md-6 mb-3">
               <table class="table table-hover table-borderless">
                  <thead class="thead-dark">
                  <tr>
                     <th colspan="2">
                     <h5 class="mb-0 text-white font-weight-bold">Clinic Information
                        <span class="badge badge-success badge-pill" *ngIf="doctorDetails.selected_clinic_id==null">New Clinic</span>
                        <span class="badge badge-info badge-pill" *ngIf="doctorDetails.selected_clinic_id">Exising Clinic</span>
                     </h5>
                     </th>
                  </tr>
                  </thead>
                  <tbody *ngIf="doctorDetails.selected_clinic_id==null">
                        <tr><td>Clinic Name</td><td>{{doctorDetails?.clinic_name}}</td></tr>
                        <tr><td>Clinic Name Long Form</td><td>{{doctorDetails?.clinic_long_name}}</td></tr>
                        <tr><td>Clinic Phone</td><td>{{doctorDetails?.clinic_phone}}</td></tr>
                        <tr><td>Address Line 1</td><td>{{doctorDetails?.clinic_address_line_1}}</td></tr>
                        <tr><td>Address Line 2</td><td>{{doctorDetails?.clinic_address_line_2}}</td></tr>
                        <tr><td>City</td><td>{{doctorDetails?.clinic_city_name}}</td></tr>
                        <tr><td>State</td><td>{{doctorDetails?.clinic_state}}</td></tr>
                        <tr><td>Zipcode</td><td>{{doctorDetails?.clinic_zip}}</td></tr>
                  </tbody>
                   <tbody *ngIf="doctorDetails.selected_clinic_id">
                        <tr><td>Clinic Name</td><td>{{clinic?.clinic_name}}</td></tr>
                        <tr><td>Clinic Name Long Form</td><td>{{clinic?.clinic_name_long_form}}</td></tr>
                        <tr><td>Clinic Phone</td><td>{{clinic?.primary_phone}}</td></tr>
                        <tr><td>Address Line 1</td><td>{{clinic?.address_line_1}}</td></tr>
                        <tr><td>Address Line 2</td><td>{{clinic?.address_line_2}}</td></tr>
                        <tr><td>City</td><td>{{clinic?.city}}</td></tr>
                        <tr><td>State</td><td>{{clinic?.state}}</td></tr>
                        <tr><td>Zipcode</td><td>{{clinic?.zipcode}}</td></tr>
                  </tbody>
               </table>
            </div>
         </div>
  
         <div class="row">
         
            <div class="col-md-6 mb-3">
               <table class="table table-hover table-borderless">
                  <thead class="thead-dark">
                  <tr>
                  <th colspan="2"><h5 class="mb-0 text-white font-weight-bold">Residential Address</h5></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr><td>Address Line 1</td><td>{{doctorDetails?.residential_address_1}}</td></tr>
                  <tr><td>Address Line 2</td><td>{{doctorDetails?.residential_address_2}}</td></tr>
                  <tr><td>City</td><td>{{doctorDetails?.residential_city}}</td></tr>
                  <tr><td>State</td><td>{{findStateNameById(doctorDetails?.residential_state_id)}}</td></tr>
                  <tr><td>Zipcode</td><td>{{doctorDetails?.residential_zipcode}}</td></tr>
                  </tbody>
               </table>
            </div>

            <div class="col-md-6 mb-3"  *ngFor="let practice_address of practice_addresses;let i = index; ">
               <table class="table table-hover table-borderless">
                  <thead class="thead-dark">
                  <tr>
                  <th colspan="2"><h5 class="mb-0 text-white font-weight-bold">Practice Address #{{i+1}}</h5></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr><td>Address Line 1</td><td>{{practice_address.address_line_1}}</td></tr>
                  <tr><td>Address Line 2</td><td>{{practice_address.address_line_2}}</td></tr>
                  <tr><td>City</td><td>{{practice_address?.city_name}}</td></tr>
                  <tr><td>State</td><td>{{findStateNameById(practice_address.state_id)}}</td></tr>
                  <tr><td>Zipcode</td><td>{{practice_address.zip_code}}</td></tr>
                  </tbody>
               </table>
            </div>
         </div>
   <hr>
   <h5 class="font-weight-bold">Licenses</h5>
   <hr>
   <div *ngFor="let license of licenses;let i = index; ">
         <div class="row">
            <div class="col-md-4">
               <label class="">License Number</label>
               <div class="col-sm-8 p-1">
                  <h4 class="pt-2">{{license.license_number}}</h4>
               </div>
            </div>
            <div class="col-md-4">
               <label class="">Expiry Date</label>
               <div class="col-sm-8 p-1">
                  <h4 class="pt-2">{{license.expiry_date | date:'MM/dd/yyyy'}}</h4>
               </div>
            </div>
            <div class="col-md-4">
               <label class="">State</label>
               <div class="col-sm-8 p-1">
                  <h4 class="pt-2">{{findStateNameById(license.state_id)}}</h4>
               </div>
            </div>
         </div>
   </div>

   <div class="form-group mt-1">
      <div class="row">
         <div class="col">
            <div class="text-center">
               <a routerLink="/admin/account-request/list" routerLinkActive="active" class="btn btn-primary">Back</a>
            </div>
         </div>
      </div>
   </div>
</div>