<!-- Page content -->
<div class="container mt-5 pb-5">
    <div class="row justify-content-center">
          <div class="col-lg-5 col-md-7">
              <div class="card shadow border-0">
                    <div class="card-header bg-dark-grey text-center">
                        <h4 class="text-white">Change Password</h4>
                    </div>

                    <div class="card-body px-lg-5">
                      <form (ngSubmit)="changePassword()" novalidate autocomplete="off" [formGroup]="changePasswordForm">

                            <div [ngClass]="{'form-group':true,'d-none':otpGenerated}">
                              <label for='new-pwd-tb'>New password</label>
                              <input [(ngModel)]="password.new" type="password" id='new-pwd-tb' formControlName='newPassword' class="form-control" autocomplete="off">
                              <div class="invalid-feedback" *ngIf="newPassword?.invalid && (newPassword?.dirty || newPassword?.touched)" class="text-danger">
                                <div *ngIf="newPassword?.errors?.required">New password is required.</div>
                                <div *ngIf="newPassword?.errors?.pattern">Password must conatain Following:
                                  <ul>
                                    <li>
                                      At least 8 to 30 characters in length
                                    </li>
                                    <li>Lowercase letters</li>
                                    <li>Uppercase letters</li>
                                    <li>Numbers</li>
                                    <li>Special characters(@,$,!,%,*,?,&)</li>
                                  </ul>
                                </div>
                              </div>
                            </div>

                            <div class="form-group"  *ngIf="otpGenerated">
                              <label for='otp'>Enter OTP received on registred mobile number</label>
                              <input [(ngModel)]="password.otp" type="text" id='otp' formControlName='otp' class="form-control" autocomplete="off">
                              <div class="invalid-feedback" *ngIf="otp?.invalid && (otp?.dirty || otp?.touched)" class="text-danger">
                                <div *ngIf="otp?.errors?.required">OTP is required.</div>
                              </div>
                            </div>

                            <div class="form-group text-center">
                              <button type="button" class="btn btn-danger mr-2" routerLink="/admin/dashboard">Cancel</button>
                              <button type="button" (click)="getOTP()" *ngIf="!otpGenerated" class="btn btn-primary mr-2" [disabled]="changePasswordForm.invalid">Next</button>
                              <button type="submit" *ngIf="otpGenerated" class="btn btn-success" [disabled]="changePasswordForm.invalid">Verify OTP</button>
                            </div>

                      </form>
                    </div>
              </div>
          </div>
    </div>
</div>
