<div class="card mb-3">
          <div class="card-header bg-dark-grey">
            <div class="row">
              <div class="col-md-4 col-12">
                <div class="form-group">
                    <label class="text-white">Search Order</label>
                    <input type="text" class="form-control form-control-sm"  (keyup)="handleChange('SEARCH',$event)" [(ngModel)]="drug_orders_search" placeholder="OrderNumber, Customer, Drug , City , State" />
                </div>
              </div>
              <div class="col-md-2 col-12">
                <div class="form-group">
                <label class="text-white">Order Status</label>
                <select class="form-control form-control-sm"  (change)="handleChange('STATUS',$event)" [(ngModel)]="drug_orders_status">
                      <option *ngFor="let option of drug_orders_status_options" [value]="option">{{option}}</option>
                </select>
                </div>
              </div>

              <div class="col-md-3 col-12">
                <div class="form-group">
                <label class="text-white">Sorting</label>
                <select class="form-control form-control-sm" (change)="handleChange('SORT',$event)">
                      <option *ngFor="let option of drug_orders_sort_options" [value]="option.id">{{option.title}}</option>
                </select>
                </div>
              </div>

              <div class="col-md-2 col-12">
                <div class="form-group">
                  <label class="text-white">Limit</label>
                  <select class="form-control form-control-sm" (change)="handleChange('LIMIT',$event)" [(ngModel)]="drug_orders_limit">
                      <option *ngFor="let option of drug_orders_limit_options" [value]="option">{{option}}</option>
                  </select>
                </div>
              </div>

              <div class="col-md-1 col-12">
                <div class="form-group">
                  <label class="text-white">Records</label>
                  <p class="mb-0"><span class="badge badge-success p-2">{{drug_orders_collection.count}}</span></p>
                </div>
              </div>

            </div>
          </div>
      </div>

      <div class="row">
        <div class="col-12">
              <div *ngIf="drug_orders_collection.count > 0 ">
                        <div class="card mb-3"  *ngFor = "let order of drug_orders_collection.data | paginate: drug_orders_config">
                        <div class="bg-light-grey p-3">
                            <div class="d-flex flex-lg-row flex-md-row flex-sm-column  flex-column justify-content-between align-items-lg-top align-items-md-top align-items-sm-start align-items-start" style="border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;">
                                <div  class="magic-width d-flex flex-lg-row flex-md-row flex-sm-column flex-column justify-content-start align-items-lg-top align-items-md-top align-items-sm-start align-items-start">
                                    <div class="mini-magic-width-box text-left mb-lg-0 md-md-0 mb-sm-2 mb-2 d-flex flex-lg-column flex-md-column flex-sm-row flex-row justify-content-between align-items-start"><p class="mb-0"><small class="mb-0">ORDER NO.</small></p><p class="font-weight-bold mb-0">#{{order.order_number}}</p></div>
                                    <div class="mini-magic-width-box text-left mb-lg-0 md-md-0 mb-sm-2 mb-2  d-flex flex-lg-column flex-md-column flex-sm-row flex-row justify-content-between align-items-start"><p class="mb-0"><small class="mb-0">ORDER DATE</small></p><p class="font-weight-bold mb-0">{{order.order_created_datetime  | date: 'MM/dd/yyyy'}}</p></div>
                                    <div class="mini-magic-width-box text-left mb-lg-0 md-md-0 mb-sm-2 mb-2  d-flex flex-lg-column flex-md-column flex-sm-row flex-row justify-content-between align-items-start"><p class="mb-0"><small class="mb-0">TOTAL</small></p><p class="font-weight-bold mb-0">{{order.total_amount | currency:'INR'}}</p></div>
                                    <div class="magic-width-box text-center mb-lg-0 md-md-0 mb-sm-2 mb-2  d-flex flex-lg-column flex-md-column flex-sm-row flex-row justify-content-between align-items-start">
                                        <p class="mb-0"><small class="mb-0">ORDER STATUS</small></p>
                                        <p class="mb-0">
                                            <span [innerHtml]="_drugOrderHelper.getSystemStausDrugOrder(order.system_status)"></span>
                                        </p>
                                    </div>
                                    <div class="magic-width-box text-left mb-lg-0 md-md-0 mb-sm-2 mb-2 d-flex flex-lg-column flex-md-column flex-sm-row flex-row justify-content-between align-items-start" (click)="goToPatientDetails(order.user_id)"><p class="mb-0"><small class="mb-0 cursor-pointer">CUSTOMER NAME</small></p><p class="cursor-pointer font-weight-bold mb-0">{{order.user.first_name+' '+order.user.last_name}}</p></div>
                                    <div class="text-left mb-lg-0 md-md-0 mb-sm-2 mb-2">
                                        <p class="mb-0"><small class="mb-0">SHIP TO</small></p>
                                        <p *ngIf="order.shipping_address.address_line_1" class="font-weight-bold mb-0">{{order.shipping_address.address_line_1}}{{order.shipping_address.address_line_2 ? (' , '+order.shipping_address.address_line_2) : '' }}{{' , '+order.shipping_address.city+' , '+order.shipping_address.state+' , '+order.shipping_address.zip_code}}</p>
                                        <p *ngIf="!order.shipping_address" class="font-weight-bold mb-0">Address Not Added</p>
                                    </div>
                                </div>
                                <div>
                                    <button type="button" class="float-right btn btn-sm btn-outline-primary" (click)="goToDetailsPage(order._id)">View</button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                                <table class="table table-sm table-hover">
                                <thead>
                                    <tr>
                                        <th class="border-0 text-left">#</th>
                                        <th class="border-0 text-left">MEDICINE</th>
                                        <th class="border-0 text-left">QUANTITY</th>
                                        <th class="border-0 text-left">DRUG STATUS</th>
                                        <th class="border-0 text-right">PRICE</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let drug of order.products;let i=index;">
                                        <td class="align-middle text-left font-weight-bold">{{i+1}} .</td>
                                        <td class="align-middle text-left font-weight-bold">{{drug.product_name}}
                                            <span *ngIf="drug.product_type=='LENS'">{{ ' - '+drug.eye_type }}</span>
                                        </td>
                                        <td class="align-middle text-left font-weight-bold">{{drug.quantity}}</td>
                                        <td class="align-middle text-left">
                                            <strong [innerHTML]="_drugOrderHelper.getOrderDrugStatus(drug.order_drug_status)"></strong>
                                            <p class="mt-1 mb-0 font-weight-normal text-danger" *ngIf="drug.order_drug_status=='REFUND_REQUESTED'">Date time : {{drug.refund_requested_on | date: 'MM/dd/yyyy HH:mm a' }}</p>
                                            <p class="mb-0 font-weight-normal text-danger" *ngIf="drug.order_drug_status=='REFUND_REQUESTED'">Reason : {{drug.refund_reason}}</p>
                                        </td>
                                        <td class="align-middle text-right font-weight-bold">{{ drug.price | currency:'INR'}}</td>
                                    </tr>
                                </tbody>
                                </table>
                        </div>
                    </div>
                    <div class="text-center mt-2">
                        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
                    </div>
            </div>
              <div *ngIf="drug_orders_collection.count == 0 ">
                  <div class="card p-2">
                      <div class="text-center text-muted">
                          <h2><i class="fa fa-shopping-cart" aria-hidden="true"></i></h2>
                          <h4 class="font-weight-normal">No Orders </h4>
                      </div>
                  </div>
              </div>
        </div>
      </div>
