<div class="container-fluid" *ngIf="doctorDetails">
    <div class="row">
      <div class="col-md-12 p-3">
        <h4 class="font-weight-bold">Registration Process</h4>
          
          <table class="table">
            <thead class="thead-light">
                <tr>
                  <th [ngClass]="{'text-primary':currentWizard=='WIZARD_0'}">Physician Account Creation</th>
                  <th [ngClass]="{'text-primary':currentWizard=='WIZARD_1'}"*ngIf="!doctorDetails.selected_clinic_id">Clinic Creation</th>
                  <th [ngClass]="{'text-primary':currentWizard=='WIZARD_2'}">Link Physician With Clinic</th>
                  <th [ngClass]="{'text-primary':currentWizard=='WIZARD_3'}">Completed</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                   <td>
                      <ul class="list-group">
                        <li class="list-group-item">Doesspot Phyisician Account Creation <i *ngIf="doctorDetails.step_1_doesspot_account==1"  class="ml-3 fa fa-check text-success"></i><i *ngIf="doctorDetails.step_1_doesspot_account!=1" class="ml-3 fa fa-times text-danger"></i></li>
                        <li class="list-group-item">Teledaddy Phyisician Account Creation <i *ngIf="doctorDetails.step_1_teledaddy_account==1" class="ml-3 fa fa-check text-success"></i><i *ngIf="doctorDetails.step_1_teledaddy_account!=1" class="ml-3 fa fa-times text-danger"></i></li>
                      </ul>
                   </td>
                   <td *ngIf="!doctorDetails.selected_clinic_id">
                       <ul class="list-group">
                          <li class="list-group-item">Doesspot Clinic Creation <i *ngIf="doctorDetails.step_2_doesspot_clinic==1" class="ml-3 fa fa-check text-success"></i><i *ngIf="doctorDetails.step_2_doesspot_clinic!=1"  class="ml-3 fa fa-times text-danger"></i></li>
                          <li class="list-group-item">Teledaddy Clinic Creation <i *ngIf="doctorDetails.step_2_teledaddy_clinic==1"  class="ml-3 fa fa-check text-success"></i><i *ngIf="doctorDetails.step_2_teledaddy_clinic!=1"  class="ml-3 fa fa-times text-danger"></i></li>
                        </ul>
                   </td>
                   <td>
                        <ul class="list-group">
                          <li class="list-group-item">Doesspot Link Physician With Clinic  <i *ngIf="doctorDetails.step_3_doesspot_clinic_doctor_linking==1" class="ml-3 fa fa-check text-success"></i><i *ngIf="doctorDetails.step_3_doesspot_clinic_doctor_linking!=1" class="ml-3 fa fa-times text-danger"></i></li>
                          <li class="list-group-item">Teledaddy Link Physician With Clinic <i *ngIf="doctorDetails.step_3_teledaddy_clinic_doctor_linking==1" class="ml-3 fa fa-check text-success"></i><i *ngIf="doctorDetails.step_3_teledaddy_clinic_doctor_linking!=1" class="ml-3 fa fa-times text-danger"></i></li>
                        </ul>
                   </td>
                   <td></td>
                </tr>
            </tbody>
          </table>

          <div>
              <div *ngIf="currentWizard=='WIZARD_0'">
                <div class="alert alert-warning mb-2" role="alert" *ngIf="step1Response">
                   {{ step1Response }}
                </div>
                 
                  <form [formGroup]="form1" (ngSubmit)="registrationStep($event,1)">
                  <div class="text-center">
                      <button *ngIf="doctorDetails.step_1_doesspot_account!=1 || doctorDetails.step_1_teledaddy_account!=1 || doctorDetails.step_1_doesspot_teledaddy_linking!=1" class="btn btn-success" [disabled]="loading" type="submit">Create Account</button>
                      <button *ngIf="doctorDetails.step_1_doesspot_account==1 && doctorDetails.step_1_teledaddy_account == 1 && doctorDetails.step_1_doesspot_teledaddy_linking" class="btn btn-dark" type="button" (click)="gotoNextStep(1)">Next</button>
                  </div>
                  </form>
              </div>
              <div *ngIf="currentWizard=='WIZARD_1' && !doctorDetails.selected_clinic_id">
                <div class="alert alert-warning mb-2" role="alert" *ngIf="step2Response">
                   {{ step2Response }}
                </div>
                 
                  <form  [formGroup]="form2"  (ngSubmit)="registrationStep($event,2)">
                    <div class="text-center">      
                        <button *ngIf="doctorDetails.step_2_doesspot_clinic!=1 || doctorDetails.step_2_teledaddy_clinic!=1" class="btn btn-success" [disabled]="loading" type="submit">Create Clinic</button>
                        <button *ngIf="doctorDetails.step_2_doesspot_clinic==1 && doctorDetails.step_2_teledaddy_clinic == 1" class="btn btn-dark" type="button" (click)="gotoNextStep(2)">Next</button>
                    </div>
                  </form>
              </div>
              <div *ngIf="currentWizard=='WIZARD_2'">
               <div class="alert alert-warning mb-2" role="alert" *ngIf="step3Response">
                   {{ step3Response }}
                </div>
                
                   <form  [formGroup]="form3"  (ngSubmit)="registrationStep($event,3)">
                    <div class="text-center">   
                        <button *ngIf="doctorDetails.step_3_doesspot_clinic_doctor_linking!=1 || doctorDetails.step_3_teledaddy_clinic_doctor_linking!=1" class="btn btn-success" [disabled]="loading" type="submit">Link Physician with Clinic</button>
                        <button *ngIf="doctorDetails.step_3_doesspot_clinic_doctor_linking==1 && doctorDetails.step_3_teledaddy_clinic_doctor_linking == 1" class="btn btn-dark" type="button" (click)="gotoNextStep(3)">Next</button>
                    </div>
                    </form>
              </div>
              <div *ngIf="currentWizard=='WIZARD_3'">
                  <div class="text-center">
                      <h1>Registration Process Completed</h1>
                  </div>
              </div>
          </div>
      </div>
    </div>
</div>
