<div class="accordion td-accordian mt-4" id="illnessesAccordian">
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h3 class="mb-0">
        <button class="btn btn-link waves-effect waves-light" type="button" data-toggle="collapse" data-target="#illnesses" aria-expanded="true"
          aria-controls="collapseTwo">
          Illnesses
        </button>
      </h3>
    </div>
    <div id="illnesses" class="collapse show" aria-labelledby="headingTwo" data-parent="#illnessesAccordian">
      <div class="card-body">
        <div class="mt-2">
          <ng-container *ngIf="illnesses.length;else elseTemplate">
            <ng-container *ngIf="illnesses[0].illnesses != '';else elseTemplate">
              <div class="allergies">
                <h5>
                  <span>
                    {{illnesses[0].illnesses}}
                  </span>
                </h5>
              </div>
            </ng-container>
          </ng-container>
          <ng-template #elseTemplate>
            <h5>None</h5>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="accordion td-accordian mt-4" id="allergiesAccordian">
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h3 class="mb-0">
        <button class="btn btn-link waves-effect waves-light" type="button" data-toggle="collapse" data-target="#allergies" aria-expanded="true"
          aria-controls="collapseTwo">
          Allergies
        </button>
      </h3>
    </div>
    <div id="allergies" class="collapse show" aria-labelledby="headingTwo" data-parent="#allergiesAccordian">
      <div class="card-body">
        <div class="mt-2">
          <ng-container *ngIf="allergies.length;else elseTemplate">
            <ng-container *ngIf="allergies[0].allergies != '';else elseTemplate">
              <div class="allergies">
                <h5>
                  <span>
                    {{allergies[0].allergies}}
                  </span>
                </h5>
              </div>
            </ng-container>
          </ng-container>
          <ng-template #elseTemplate>
            <h5>None</h5>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>