<ul class="nav nav-tabs mb-3">
  <li class="nav-item">
    <a class="nav-link active" routerLink="/admin/orders/refund_requested">Refund Requested Orders</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/admin/orders/refund_processed">Refund Processed Orders</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"  routerLink="/admin/orders/refund/incomplete">Refund Incomplete Orders</a>
  </li>
</ul>
<div class="row p-3">
  <div class="col-sm-12">
    <h3>Refund Requested Orders</h3>
  </div>
</div>
<hr>

<div class="p-2">
    <div class="table-responsive-md" *blockUI="'datatable'">
      <table mdbTable hover="true" id="ordersList" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"></table>
    </div>
</div>



<!-- Refund Details Modal -->
<!-- <div  mdbModal #refundDetailsModal="mdbModal" class="modal fade" id="refundDetailsModal" tabindex="-1" role="dialog" aria-labelledby="refundDetailsModalLabel" aria-hidden="true"  [config]="{backdrop: 'static',keyboard:false}">
  <div class="modal-dialog modal-info" role="document">
    <div class="modal-content" *ngIf="selectedOrder">
        <div class="modal-header">
        <h5 class="modal-title"> Refund Order {{ '#'+selectedOrder.order_number }}</h5>
        <button type="button" class="close"  (click)="closeModal(refundDetailsModal)">
          <span aria-hidden="true">&times;</span>
        </button>
       
        </div>
        <div class="modal-body">
            <p class="font-weight-bold">Are you sure to process refund for order : {{ '#'+selectedOrder.order_number }} ?</p>
            <table class="table table-sm">
                <tbody>
                  <tr>
                      <td>Customer Name</td>
                      <td>{{selectedOrder.customer_name}}</td>
                  </tr>
                  <tr>
                      <td>Medicine Kit</td>
                      <td>{{selectedOrder.medicine_kit_name}}</td>
                  </tr>
                  <tr>
                      <td>Total Amount To Refund</td>
                      <td>{{'$'+selectedOrder.total_amount}}</td>
                  </tr>
                   <tr>
                      <td>Transaction Type</td>
                      <td>{{selectedOrder.transaction_type}}</td>
                  </tr>
                   <tr>
                      <td>Payment Date</td>
                      <td>{{selectedOrder.payment_date}}</td>
                  </tr>
                  <tr>
                      <td>
                        <p>Refund To Stripe</p>
                        <p class="font-weight-bold">{{'$'+selectedOrder.charged_from_stripe}}</p>
                      </td>
                      <td>
                         <p>Refund To Wallet</p>
                         <p class="font-weight-bold">{{'$'+selectedOrder.charged_from_wallet}}</p>
                      </td>
                  </tr>
                  <tr *ngIf="selectedOrder.charge_details && selectedOrder.charge_details.refunded">
                      <td colspan="2">
                        <div class="alert alert-danger font-weight-bold"> 
                            This Stripe Charge 
                            <a target="_blank" href="https://dashboard.stripe.com/payments/{{selectedOrder.charge_id}}">{{ selectedOrder.charge_id }}</a>
                             is Already Refunded , processing refund will just update order status
                        </div>
                      </td>
                  </tr>
                </tbody>
            </table>
            <div class="text-center" *ngIf="refund_processing">
                Processing ...
            </div>
            <div class="alert alert-success font-weight-bold" role="alert" *ngIf="selectedOrder.result && selectedOrder.result.refunded">
               Order Refunded Successfully. 
               <p class="mb-0">Refunded To Stripe : {{ selectedOrder.result.stripeRefund ? selectedOrder.result.stripeRefund.id:'N/A' }} </p>
               <p> Refunded To Wallet : {{ selectedOrder.result.walletRefund ? 'Yes':'N/A' }} </p>
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="selectedOrder.result && !selectedOrder.result.refunded">
               Unable to process refund order. Please Check Payment Method!
            </div>
            <p *ngIf="!selectedOrder.wallet_id" class="text-info">This customer doesn't have wallet , so wallet refund option is not available</p>
            <button *ngIf="!(selectedOrder.result && selectedOrder.result.refunded)" class="btn btn-block btn-success" [disabled]="refund_processing" (click)="refundOrder(selectedOrder.id,'only_refund',0)">PROCESS REFUND (REGULAR)</button>
            <button *ngIf="!(selectedOrder.result && selectedOrder.result.refunded) && selectedOrder.wallet_id &&  selectedOrder.charged_from_stripe > 0 && selectedOrder.charge_details && !selectedOrder.charge_details.refunded" class="mt-2 btn btn-block btn-outline-success" [disabled]="refund_processing" (click)="refundOrder(selectedOrder.id,'only_refund',1)">PROCESS REFUND IN WALLET</button>

            <button *ngIf="selectedOrder.result && selectedOrder.result.refunded" class="btn btn-block btn-dark"  (click)="closeModal(refundDetailsModal)">CLOSE</button>

        </div>
    </div>
  </div>
</div> -->
