<div class="p-3">
    <ng-container *ngIf="customerDetails; else noCustomerDetails">
        <div class="row">
            <div class="col-md-3">
                <label>PaymentGateway Customer</label>
                <h5>{{customerDetails.paymentgateway_customer_id ? customerDetails.paymentgateway_customer_id:'Not Found'}}</h5>
                <a *ngIf="customerDetails.paymentgateway_customer_id" class="btn btn-info" target="_blank"
                    [href]="'https://dashboard.stripe.com/customers/'+customerDetails.paymentgateway_customer_id">View Details</a>
            </div>

        </div>
        <hr class="my-2">

        <div class="row">
            <div class="col-md-12">
                <label>Account Actions</label><br />
                <button *ngIf="customerDetails.is_active == true" (click)="manageAccount(false)" type="button"
                    class="btn btn-danger"><i class="fa fa-ban m-1" aria-hidden="true"></i>Disable Account</button>
                <button *ngIf="customerDetails.is_active == false" (click)="manageAccount(true)" type="button"
                    class="btn btn-success"><i class="fa fa-play m-1" aria-hidden="true"></i>Enable Account</button>
                <a (click)="loginAsUser()" routerLinkActive="active" class="btn d-none btn-warning m-1">Login As
                    {{customerDetails?.first_name}} {{customerDetails?.last_name || '-' }} <i class="ml-2 fa fa-sign-in"
                        aria-hidden="true"></i></a>
                <a (click)="openChangePasswordModal()" class="btn btn-primary m-1">Change Account Password <i class="ml-2 fa fa-key" aria-hidden="true"></i></a>
            </div>
        </div>

        <hr class="my-2">

        <div class="row">
            <div class="col-md-6">
                <label>Full Name:</label>
                <h5>{{customerDetails.first_name}} {{customerDetails.last_name || '-' }}</h5>
            </div>
            <div class="col-md-6">
                <label>Gender</label>
                <h5>{{customerDetails.gender || '-'}}</h5>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <label>Date Of Birth </label>
                <h5>{{customerDetails.date_of_birth || '-' }}</h5>
            </div>
            <div class="col-md-6">
                <label>Cell Phone Number:</label>
                <h5>{{ customerDetails.cell_phone_number | mask: '(000) 000-0000' || '-'}}</h5>
            </div>

        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <label>Email:</label>
                <h5>{{customerDetails.email || '-'}}</h5>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <label>Registration Date</label>
                <h5>{{helper.getFormattedDateFromUnixTimestamp(customerDetails.created_at)}}</h5>
            </div>
            <div class="col-md-6">
                <label>Last Login At</label>
                <h5>{{helper.getFormattedDateFromUnixTimestamp(customerDetails.last_login)}}</h5>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <label>Email Phone Consent </label>
                <h5 class="ml-2">
                    <i class="fa fa-check text-success" *ngIf="customerDetails.email_phone_consent"></i>
                    <i class="fa fa-times text-danger" *ngIf="!customerDetails.email_phone_consent"></i>
                </h5>
            </div>
        </div>
        <br>
        <div class="row">
            <table class="table table-sm">
                <thead class="thead-light">
                    <tr>
                        <th>Address Line 1</th>
                        <th>Address Line 2</th>
                        <th>City</th>
                        <th>State</th>
                        <th>ZipCode</th>
                        <th>Default</th>
                        <th>Action
                            <button class="float-right btn btn-sm btn-outline-primary m-0" type="button"
                                (click)="openAddAddressModal()">Add New</button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let address of addresses">
                        <td>
                            <p class="font-weight-normal mb-0">{{address.address_line_1 }}
                                <span *ngIf="address.is_default==1" class="badge badge-pill badge-primary p-2 ml-2"><i
                                        class="fa fa-map-marker" aria-hidden="true"></i></span>
                            </p>
                        </td>
                        <td>
                            <p class="font-weight-normal mb-0" *ngIf="address.address_line_2">{{address.address_line_2
                                }}</p>
                        </td>
                        <td>
                            <p class="font-weight-normal mb-0">{{ address.city }}</p>
                        </td>
                        <td>
                            <p class="font-weight-normal mb-0">{{ address.state }}</p>
                        </td>
                        <td>
                            <p class="font-weight-normal mb-0">{{ address.zip_code }}</p>
                        </td>
                        <td>
                            <i class="fa fa-check text-success" *ngIf="address.is_default"></i>
                            <i class="fa fa-times text-danger" *ngIf="!address.is_default"></i>
                        </td>
                        <td>
                            <button type="button" class="btn btn-sm btn-primary mr-2"
                                (click)="openEditAddressModal(address)"><i class="fa fa-edit"
                                    aria-hidden="true"></i></button>
                            <button *ngIf="address.is_default!=true" type="button" class="btn btn-sm btn-danger"
                                (click)="deleteAddress(address._id)"><i class="fas fa-trash"
                                    aria-hidden="true"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div>
            <table class="table table-sm">
                <thead class="thead-light">
                    <tr>
                        <th class="font-weight-bold">Full Face Image
                            <div class="float-right">
                                <button class="btn btn-sm btn-outline-dark m-0"
                                    (click)="openImageCropperModal('PROFILE')" type="button">Edit</button>
                            </div>
                        </th>
                        <th class="font-weight-bold">License Image
                            <div class="float-right">
                                <button class="btn btn-sm btn-outline-dark m-0"
                                    (click)="openImageCropperModal('LICENSE')" type="button">Edit</button>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <app-image-preview [imgPath]="customerDetails.profile_picture" height="250" width="350"
                                caption="Full Face Image"></app-image-preview>
                        </td>
                        <td>
                            <app-image-preview [imgPath]="customerDetails.license_image" height="250" width="350"
                                caption="License Image"></app-image-preview>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr>
        <app-doument-list [userId]="customerId" [header]="'Patient Documents'"></app-doument-list>
    </ng-container>
    <ng-template #noCustomerDetails>
        <div class="text-center text-muted">
            <h2><i class="fa fa-info-circle"></i></h2>
            <h4>No Details!</h4>
        </div>
    </ng-template>
</div>
