<div class="p-3">
    <ng-container *ngIf="customerDetails; else noCustomerDetails">
        <div class="row">
            <div class="col-md-3">
                <label>Unique ID</label>
                <h5># {{customerUinqueNumber}}</h5>
            </div>
            <div class="col-md-3">
                <label>Stripe Customer</label>
                <h5>{{stripeCustomerId?stripeCustomerId:'Not Found'}}</h5>
                <a *ngIf="stripeCustomerId" class="btn btn-info" target="_blank"
                    [href]="'https://dashboard.stripe.com/customers/'+stripeCustomerId">View Details</a>
            </div>
            <div class="col-md-6 text-right">
                <label>DS Patient ID</label>
                <h5 *ngIf="customerDetails.doesspot_patient_id">{{customerDetails.doesspot_patient_id}}</h5>
                <a *ngIf="customerDetails.doesspot_patient_id" class="btn btn-success" target="_blank"
                    routerLink="/admin/patients/doesspot/{{customerId}}/{{ customerDetails.doesspot_patient_id }}">View
                    DS Details</a>
                <h5 *ngIf="!customerDetails.doesspot_patient_id">Patient is not registered on DS</h5>
                <div *ngIf="customerDetails.doesspot_error" class="alert alert-danger" role="alert">
                    {{ customerDetails.doesspot_error}}
                </div>
            </div>
        </div>
        <hr class="my-2">

        <div class="row">
            <div class="col-md-12">
                <label>Account Actions</label><br />
                <button *ngIf="customerDetails.is_active == 1" (click)="manageAccount('disable')" type="button"
                    class="btn btn-danger"><i class="fa fa-ban m-1" aria-hidden="true"></i>Disable Account</button>
                <button *ngIf="customerDetails.is_active == 0" (click)="manageAccount('enabled')" type="button"
                    class="btn btn-success"><i class="fa fa-play m-1" aria-hidden="true"></i>Enable Account</button>
                <a (click)="loginAsUser()" routerLinkActive="active" class="btn d-none btn-warning m-1">Login As
                    {{customerDetails?.firstName}} {{customerDetails?.lastName || '-' }} <i class="ml-2 fa fa-sign-in"
                        aria-hidden="true"></i></a>
                <a (click)="openChangePasswordModal()" class="btn btn-primary m-1">Change Account Password <i class="ml-2 fa fa-key" aria-hidden="true"></i></a>
            </div>
        </div>

        <hr class="my-2">

        <div class="row">
            <div class="col-md-6">
                <label>Full Name:</label>
                <h5>{{customerDetails.firstName}} {{customerDetails.lastName || '-' }}</h5>
            </div>
            <div class="col-md-6">
                <label>Gender</label>
                <h5>{{getGender(customerDetails.gender) || '-'}}</h5>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <label>Date Of Birth </label>
                <h5>{{customerDetails.dateOfBirth || '-' }}</h5>
            </div>
            <div class="col-md-6">
                <label>Cell Phone Number:</label>
                <h5>{{ customerDetails.phoneNumber | mask: '(000) 000-0000' || '-'}}</h5>
            </div>

        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <label>Email:</label>
                <h5>{{customerDetails.email || '-'}}</h5>
            </div>
            <div class="col-md-6">
                <label>User Name</label>
                <h5>{{customerDetails.name|| '-'}}</h5>
            </div>

        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <label>Registration Date</label>
                <h5>{{customerDetails.dateJoined | date:'MM/dd/yyyy'}}</h5>
            </div>
            <div class="col-md-6">
                <label>Last Login At</label>
                <h5>{{helper.getUTCtoLocalDateTime(customerDetails.lastLoginOn)}}</h5>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <label>Email Phone Consent </label>
                <h5 class="ml-2">
                    <i class="fa fa-check text-success" *ngIf="customerDetails.emailConsent"></i>
                    <i class="fa fa-times text-danger" *ngIf="!customerDetails.emailConsent"></i>
                </h5>
            </div>
        </div>
        <br>
        <div class="row">
            <table class="table table-sm">
                <thead class="thead-light">
                    <tr>
                        <th>Address Line 1</th>
                        <th>Address Line 2</th>
                        <th>City</th>
                        <th>State</th>
                        <th>ZipCode</th>
                        <th>Action
                            <button class="float-right btn btn-sm btn-outline-primary m-0" type="button"
                                (click)="openAddAddressModal()">Add New</button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let address of addresses">
                        <td>
                            <p class="font-weight-normal mb-0">{{address.address_line_1 }}
                                <span *ngIf="address.is_default==1" class="badge badge-pill badge-primary p-2 ml-2"><i
                                        class="fa fa-map-marker" aria-hidden="true"></i></span>
                            </p>
                        </td>
                        <td>
                            <p class="font-weight-normal mb-0" *ngIf="address.address_line_2">{{address.address_line_2
                                }}</p>
                        </td>
                        <td>
                            <p class="font-weight-normal mb-0">{{address.city_name }}</p>
                        </td>
                        <td>
                            <p class="font-weight-normal mb-0">{{address.state_name }}</p>
                        </td>
                        <td>
                            <p class="font-weight-normal mb-0">{{address.zip_code }}</p>
                        </td>
                        <td class="text-right">
                            <button type="button" class="btn btn-sm btn-primary"
                                (click)="openEditAddressModal(address)"><i class="fa fa-pencil"
                                    aria-hidden="true"></i></button>
                            <button *ngIf="address.is_default!=1" type="button" class="btn btn-sm btn-danger"
                                (click)="deleteAddress(address.id)"><i class="fas fa-trash"
                                    aria-hidden="true"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
        <label>Payment Details</label>
        <div *ngIf="userCards && userCards.length > 0 ; else noUserCards">
            <div class="card" *ngFor="let userCard of userCards"
                style="max-width:320px;background:linear-gradient(25deg, #011726, #045289)">
                <div class="card-body">
                    <h5 class="text-white">{{userCard.brand | titlecase}}
                        <span class="float-right"><i class="fa fa-credit-card-alt"></i></span>
                    </h5>
                    <div class="text-white d-flex align-items-center justify-content-between my-3">
                        <span class="payment-card-number">••••</span>
                        <span class="payment-card-number">••••</span>
                        <span class="payment-card-number">••••</span>
                        <span class="payment-card-number">{{userCard.last4}}</span>
                    </div>
                    <div>
                        <div class="d-flex justify-content-between align-items-center">
                            <div *ngIf="userCard.name">
                                <small class="text-white">Card Holder</small><br />
                                <b class="text-white text-uppercase">{{userCard.name}}</b>
                            </div>
                            <div>
                                <small class="text-white mb-1">Expires</small><br />
                                <b class="text-white">{{ userCard.exp_month | number: '2.0-0' }} /
                                    {{userCard.exp_year}}</b>
                            </div>
                            <h5 class="remove-card">
                                <!-- data-target="#confirmRemoveCard" -->
                                <span data-toggle="modal"  class="float-right"><i
                                        class="fa fa-trash-o"></i></span>
                            </h5>
                        </div>
                        <!-- Confirm Remove Card Modal -->
                        <!-- <div class="modal fade" id="confirmRemoveCard" tabindex="-1" role="dialog"
                            aria-labelledby="mySmallModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-body text-center">
                                        <h3 style="color: rgb(243, 180, 62)"><i class="fa fa-exclamation-circle"></i>
                                        </h3>
                                        <h4 style="font-weight: bold;">Are you sure?</h4>
                                        <h6>You won't be able to revert this!</h6>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" id="closeRemoveCardBtn" class="btn btn-primary"
                                            data-dismiss="modal">No, cancel!</button>
                                        <button type="button" (click)="deleteCard(userCard.id)"
                                            class="btn btn-danger">Yes, delete it!</button>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <ng-template #noUserCards>
            <div class="text-center text-muted">
                <h2><i class="fa fa-info-circle"></i></h2>
                <h4>No Cards!</h4>
            </div>
        </ng-template>
        <br />
        <div>
            <table class="table table-sm">
                <thead class="thead-light">
                    <tr>
                        <th class="font-weight-bold">Full Face Image
                            <div class="float-right">
                                <button class="btn btn-sm btn-outline-dark m-0"
                                    (click)="openImageCropperModal('PROFILE')" type="button">Edit</button>
                            </div>
                        </th>
                        <th class="font-weight-bold">License Image
                            <div class="float-right">
                                <button class="btn btn-sm btn-outline-dark m-0"
                                    (click)="openImageCropperModal('LICENSE')" type="button">Edit</button>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <app-image-preview [imgPath]="customerDetails.profileImage" height="250" width="350"
                                caption="Full Face Image"></app-image-preview>
                        </td>
                        <td>
                            <app-image-preview [imgPath]="customerDetails.licenseImage" height="250" width="350"
                                caption="License Image"></app-image-preview>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr>
        <app-doument-list [userId]="customerId" [header]="'Patient Documents'"></app-doument-list>
    </ng-container>
    <ng-template #noCustomerDetails>
        <div class="text-center text-muted">
            <h2><i class="fa fa-info-circle"></i></h2>
            <h4>No Details!</h4>
        </div>
    </ng-template>
</div>