<mat-tab-group>
    <mat-tab label="Info">
        <div class="container-fluid details">
          <ng-container *ngIf="orderDetails; else noOrderDetails">
                <div class="row">
                    <div class="col-md-4">
                            <h5 class="mb-3">Order : #{{orderDetails.order_number + '  ('+orderDetails.order_number_text+')'}}</h5>
                            <p class="mb-1 mr-2">Created Date  :{{ orderDetails.created_at|date:'dd-MM-yyyy hh:mm:ss a'}}</p>
                            <p class="mb-1 mr-2">Completed Date :{{ orderDetails.completed_at|date:'dd-MM-yyyy hh:mm:ss a'}}</p>
                            <p>
                                <span class="mr-2">System Status: </span>
                                <span class="m-0" [innerHTML]="_orderHelper.getSystemStausDrugOrder(orderDetails.system_status)"></span>
                            </p>

                            <div class="mt-3">
                                <button type="button" class="btn btn-sm btn-block btn-success mb-2" (click)="downloadReceipt('billing_statement')"><i class="mr-2 fas fa-download"></i>Billing Statement</button>
                                <button type="button" *ngIf="anyDrugRefunded" class="btn btn-sm btn-block btn-primary mb-2" (click)="downloadReceipt('refund_receipt')"><i class="mr-2 fas fa-download"></i>Refund Receipt</button>
                                <button type="button" class="btn btn-sm btn-block btn-danger mb-2" (click)="openRefundModal()" *ngIf="!(orderDetails.system_status == 'REFUND_PROCESSED' || orderDetails.system_status == 'REFUND_REQUESTED')"><i class="fas fa-sync-alt mr-2"></i>Refund Request</button>
                            </div>
                    </div>
                    <div class="col-md-4">
                       <h5 class="mb-3">Customer Details</h5>
                        <h6 class="mb-2 text-primary cursor-pointer"  (click)="gotoPatientDetails()">{{patient.first_name}} {{patient.last_name}}</h6>
                        <p class="mb-1"><strong> DOB:  </strong>{{patient.date_of_birth|date:'dd-MM-yyyy' }} | Age: {{patient.age}}</p>
                        <p class="mb-0"><strong>Email: </strong>{{patient.email}}</p>
                        <p class="mb-0"><strong>Phone: </strong>{{patient.cell_phone_number }}</p>

                        <div class="mt-4">
                            <h5 class="mb-3">Shipping Address</h5>
                            <div *ngIf="orderDetails.shipping_address">
                                <p class="mb-0">{{orderDetails.shipping_address.contact_name}}</p>
                                <p class="mb-2">{{orderDetails.shipping_address.contact_number}}</p>
                                <p class="mb-0">
                                {{ orderDetails.shipping_address.address_line_1 ? orderDetails.shipping_address.address_line_1:''}}
                                {{ orderDetails.shipping_address.address_line_2 ? ', ':'' }}<br/>{{orderDetails.shipping_address?.address_line_2}}</p>
                                <p class="mb-0">{{orderDetails.shipping_address.city +', '+orderDetails.shipping_address.state +' - '+orderDetails.shipping_address.zip_code}}</p>
                            </div>
                            <div *ngIf="!orderDetails.shipping_address">
                                <p class="mb-0">Address not added yet.</p>
                            </div>
                            <div class="text-500"><strong> Shipping Method : </strong>{{orderDetails.shipping_method}}</div>
                            <button *ngIf="showChangeAddressBtn" class="btn btn-outline-primary btn-sm" type="button" (click)="openEditAddressModal()"><i class="fas fa-pencil-alt mr-2"></i>Change Address</button>
                        </div>

                    </div>


                     <div class="col-md-4">
                        <h5 class="mb-2">Profile Photo</h5>
                        <app-image-preview *ngIf="orderDetails.customer_profile_photo" [imgPath]="orderDetails.customer_profile_photo" height="200" width="250" caption="Full Face Image"></app-image-preview>
                        <div *ngIf="!orderDetails.customer_profile_photo" class="text-center text-muted">
                            <h4><i class="fa fa-info-circle"></i></h4>
                            <h6>Not Added Yet</h6>
                        </div>

                        <h5 class="mt-3 mb-2">License Photo</h5>
                        <app-image-preview *ngIf="orderDetails.customer_license_photo"  [imgPath]="orderDetails.customer_license_photo" height="200" width="250" caption="License Image"></app-image-preview>
                        <div *ngIf="!orderDetails.customer_license_photo" class="text-center text-muted">
                            <h4><i class="fa fa-info-circle"></i></h4>
                            <h6>Not Added Yet</h6>
                        </div>

                    </div>

                </div>

                <div class="row mt-3">
                    <div class="col-md-12">
                            <div class="table-responsive">
                               <table class="table border-bottom table-sm table-borderless">
                                  <thead class="thead-light">
                                  <tr>
                                      <th class="border-0">Products</th>
                                      <th class="border-0 text-center">Quantity</th>
                                      <th class="border-0 text-center">Drug Status</th>
                                        <th class="border-0 text-right">Tax</th>
                                        <th class="border-0 text-right">Amount</th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                  <tr *ngFor="let drug of orderDetails.products">
                                      <td class="align-middle">
                                      <h6 class="mb-0 text-nowrap font-weight-bold">{{drug.product_name }}
                                          <span *ngIf="drug.product_type=='LENS'">{{ ' - '+drug.eye_type }}</span>
                                      </h6>
                                      </td>
                                      <td class="align-middle text-center">{{drug.quantity}}</td>
                                      <td class="align-middle text-center">
                                        <strong [innerHTML]="_orderHelper.getOrderDrugCustomerOption(drug.customer_drug_option)"></strong>
                                      </td>
                                    
                                      <td class="align-middle text-center">
                                            <strong [innerHTML]="_orderHelper.getOrderDrugStatus(drug.order_drug_status)"></strong>

                                            <p class="mt-1 mb-0 font-weight-normal text-success" *ngIf="drug.order_drug_status=='SHIPPED'">Shipped on : {{drug.shipped_on | date: 'dd-MM-yyyy HH:mm a' }}</p>
                                            <p class="mt-1 mb-0 font-weight-normal text-success" *ngIf="drug.order_drug_status=='SHIPPED'">Tracking Id  : <a target="_blank" class="text-primary" [href]="drug.tracking_url">{{ drug.tracking_id }}</a></p>
                                            <button  *ngIf="drug.order_drug_status=='SHIPPED' && drug.label_url" class="btn btn-sm btn-primary" type="button" (click)="openShippingLabelToPrint(drug.label_url)">View Shipping Label</button>

                                            <p class="mt-1 mb-0 font-weight-normal text-success" *ngIf="drug.order_drug_status=='PICKED_UP'">Pickedup on : {{drug.pickedup_on | date: 'dd-MM-yyyy HH:mm a' }}</p>
                                            <p class="mt-1 mb-0 font-weight-normal text-danger" *ngIf="drug.order_drug_status=='REFUND_REQUESTED'">Date time : {{drug.refund_requested_on | date: 'dd-MM-yyyy HH:mm a' }}</p>
                                            <p class="mt-1 mb-0 font-weight-normal text-danger" *ngIf="drug.order_drug_status=='REFUND_PROCESSED'">Date time : {{drug.refund_processed_on | date: 'dd-MM-yyyy HH:mm a' }}</p>
                                            <p class="mb-0 font-weight-normal text-danger" *ngIf="drug.order_drug_status=='REFUND_REQUESTED' || drug.order_drug_status=='REFUND_PROCESSED'">Reason : {{drug.refund_reason}}</p>

                                      </td>
                                      <td class="align-middle text-right">{{ drug.tax_amount | currency:'EUR'}}</td>
                                      <td class="align-middle text-right">
                                       <p class="mb-0 font-weight-bold">{{ drug.price | currency:'EUR'}}</p>
                                       <div *ngIf="drug.offer_applied">
                                         <p  class="mb-0 text-muted"><s>{{ drug.drug_quantity_original_price | currency:'EUR'}}</s></p>
                                         <a  class="text-decoration-none" [routerLink]="'/admin/offers/view-offer/'+drug.offer_applied"><span class="badge badge-danger p-2 badge-pill"><i class="fa fa-tag mr-2" aria-hidden="true"></i>OFFER {{ drug.offer_amount?(drug.offer_amount| currency:'EUR'): drug.offer_percentage+'%'}} DISCOUNT</span></a>
                                       </div>
                                      </td>
                                  </tr>
                                  </tbody>
                              </table>
                            </div>

                            <div class="row no-gutters justify-content-end">
                                <div class="col-auto">
                                    <table class="table table-sm table-borderless text-right">
                                    <tbody>
                                     <tr>
                                        <th class="text-900">GST</th>
                                        <td class="font-weight-semi-bold text-right">{{(orderDetails.tax_amount||0) | currency:'EUR'}}</td>
                                    </tr>
                                    <tr *ngIf="orderDetails.first_order_offer_discount>0">
                                        <th class="text-900 text-danger">First Order Offer Discount</th>
                                        <td class="font-weight-semi-bold text-danger text-right">{{(orderDetails.first_order_offer_discount||0) | currency:'EUR'}}</td>
                                    </tr>
                                    <tr>
                                        <th [ngClass]="{'text-900':true,'text-danger':orderDetails.coupon_discount>0?true:false}">Coupon Discount {{ orderDetails.coupon_details && orderDetails.coupon_details.coupon_code?'( Coupon Code Used : '+orderDetails.coupon_details.coupon_code+' )':'' }}</th>
                                        <td [ngClass]="{'font-weight-semi-bold text-right':true,'text-danger':orderDetails.coupon_discount>0?true:false}">{{(orderDetails.coupon_discount||0) | currency:'EUR'}}</td>
                                    </tr>
                                    <tr>
                                        <th [ngClass]="{'text-900':true,'text-danger':orderDetails.referral_discount>0?true:false}">Referral Discount {{ orderDetails.referral_code_details ? '( Referral Code Used : '+orderDetails.referral_code_details.referral_code+' )':''}}</th>
                                        <td [ngClass]="{'font-weight-semi-bold text-right':true,'text-danger':orderDetails.referral_discount>0?true:false}">{{(orderDetails.referral_discount||0) | currency:'EUR'}}</td>
                                    </tr>
                                    <tr>
                                         <th [ngClass]="{'text-900':true,'text-danger':orderDetails.shipping_charge>0?true:false}">Shipping Charges</th>
                                         <td [ngClass]="{'font-weight-semi-bold text-right':true,'text-danger':orderDetails.shipping_charge>0?true:false}">{{(orderDetails.shipping_charge || 0) | currency:'EUR' }}</td>
                                    </tr>
                                    <tr class="border-top">
                                        <th class="font-weight-bold">Total</th>
                                        <td class="font-weight-bold text-right">{{orderDetails.total_amount | currency:'EUR' }}</td>
                                    </tr>
                                    </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="table-responsive">
                                <table class="table border-bottom table-borderless table-sm">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>Charged From Payment Gateway</th>
                                            <th>Charged From Wallet</th>
                                            <th class="text-right">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                              <p class="font-weight-bold">{{orderDetails.charged_from_paymentgateway | currency:'EUR'  }}</p>
                                                <div  *ngIf="orderDetails.payment_transactions && orderDetails.payment_transactions[0]">
                                                    <div class="media">
                                                        <div class="media-body" *ngIf="orderDetails.payment_transactions[0].payment_source == 'PAYMENT_GATEWAY'">
                                                            <p class="mb-0"><strong>Payment Method : </strong>{{ orderDetails.payment_transactions[0].details.method | titlecase }}</p>
                                                            <div *ngIf="orderDetails.payment_transactions[0].details.method=='netbanking'">
                                                              <p class="mb-0"><strong>Bank : </strong>{{ orderDetails.payment_transactions[0].details.bank }}</p>
                                                              <p class="mb-0"><strong>Bank Transaction ID : </strong>{{ orderDetails.payment_transactions[0].details.acquirer_data.bank_transaction_id }}</p>
                                                            </div>
                                                            <div *ngIf="orderDetails.payment_transactions[0].details.method=='upi'">
                                                              <p class="mb-0"><strong>RRN : </strong>{{ orderDetails.payment_transactions[0].details.acquirer_data.rrn }}</p>
                                                              <p class="mb-0"><strong>UPI Transaction ID : </strong>{{ orderDetails.payment_transactions[0].details.acquirer_data.upi_transaction_id }}</p>
                                                            </div>
                                                            <div *ngIf="orderDetails.payment_transactions[0].details.method=='wallet'">
                                                              <p class="mb-0"><strong>Wallet Name : </strong>{{ orderDetails.payment_transactions[0].details.wallet | titlecase }}</p>
                                                              <p class="mb-0" *ngIf="orderDetails.payment_transactions[0].details.acquirer_data.transaction_id"><strong>Transaction ID : </strong>{{ orderDetails.payment_transactions[0].details.acquirer_data.transaction_id }}</p>
                                                            </div>
                                                            <div *ngIf="orderDetails.payment_transactions[0].details.method=='card'">
                                                              <p class="mb-0" *ngIf="orderDetails.payment_transactions[0].details.card_id"><strong>Card ID : </strong>{{ orderDetails.payment_transactions[0].details.card_id }}</p>
                                                              <p class="mb-0"><strong>Authorization Code : </strong>{{ orderDetails.payment_transactions[0].details.acquirer_data.auth_code }}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="font-weight-bold">{{orderDetails.charged_from_wallet | currency:'EUR' }}</td>
                                            <td class="font-weight-bold text-right">{{orderDetails.total_amount | currency:'EUR'}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="table-responsive" *ngIf="orderDetails.refunded_total > 0">
                                <table class="table border-bottom table-borderless table-sm">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>Refunded to Payment Gateway</th>
                                            <th>Refunded to Wallet</th>
                                            <th class="text-right">Refunded Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="font-weight-bold">{{orderDetails.refunded_in_paymentgateway | currency:'EUR' }}</td>
                                            <td class="font-weight-bold">{{orderDetails.refunded_in_wallet | currency:'EUR' }}</td>
                                            <td class="font-weight-bold text-right">{{orderDetails.refunded_total | currency:'EUR'}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <h5 class="mt-3">All Payment Transactions</h5>
                            <div class="table-responsive" *ngIf="orderDetails.payment_transactions">
                                <table class="table table-sm">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>#</th>
                                            <th>Transaction Type</th>
                                            <th>Payment Source</th>
                                            <th>Amount Charged</th>
                                            <th>Charge Id</th>
                                            <th>Amount Refund</th>
                                            <th>Refund Id</th>
                                            <th>Datetime</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr [ngClass]="{'alert-success':transaction.transaction_type=='CHARGE'}" *ngFor="let transaction of orderDetails.payment_transactions;let i=index;">
                                            <td>{{i+1}}</td>
                                            <td>{{transaction.transaction_type}}</td>
                                            <td>{{transaction.payment_source}}</td>
                                            <td>{{transaction.charged_amount | currency:'EUR'}}</td>
                                            <td>
                                               <a *ngIf="transaction.payment_source=='PAYMENT_GATEWAY'" target="_blank" href="https://dashboard.razorpay.com/app/payments/{{transaction.charge_id}}">{{transaction.charge_id}}</a>
                                               <span *ngIf="transaction.payment_source=='WALLET'">{{'Wallet Transaction #'+transaction.charge_id}}</span>
                                            </td>
                                            <td>{{transaction.refunded_amount | currency:'EUR'}}</td>
                                            <td>
                                               <span *ngIf="transaction.refund_id && transaction.payment_source=='PAYMENT_GATEWAY'">{{transaction.refund_id}}</span>
                                               <span *ngIf="transaction.refund_id && transaction.payment_source=='WALLET'">{{'Wallet Transaction #'+transaction.refund_id}}</span>
                                            </td>
                                            <td>{{transaction.created_at | date:'dd-MM-yyyy HH:mm a'}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="table-responsive">
                                <table class="table table-sm">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>Customer Status</th>
                                            <th>Technician Status</th>
                                            <th>Pharmacy Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><p class="m-0" [innerHTML]="_orderHelper.getCustomerStausDrugOrder(orderDetails.customer_status)"></p></td>
                                            <td><p class="m-0" [innerHTML]="_orderHelper.getTechnicianStatusDrugOrder(orderDetails.technician_status)"></p></td>
                                            <td>
                                                <p class="m-0" [innerHTML]="_orderHelper.getPharmacyStatusDrugOrder(orderDetails.pharmacy_status)"></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                 <p class="mb-1"><strong class="mr-2">Created Date  : </strong>{{orderDetails.created_at | date:'dd-MM-yyyy'}}</p>
                                            </td>
                                            <td>

                                            </td>
                                            <td>
                                                <p class="mb-1"><strong class="mr-2">Completed Date : </strong>{{orderDetails.order_completed_datetime | date:'dd-MM-yyyy'}}</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <ng-container *ngIf="orderDetails.assigned_to_pharmacy_id">
                                                     <p class="mb-1"><strong class="mr-2">Name : </strong>{{orderDetails.assigned_to_pharmacy_id.pharmacy_name}}</p>
                                                     <p class="mb-1"><strong class="mr-2">Phone: </strong>{{orderDetails.assigned_to_pharmacy_id.phone_number || '-'}}</p>
                                                     <p class="mb-1"><strong class="mr-2">Fax: </strong>{{orderDetails.assigned_to_pharmacy_id.fax_number || '-'}}</p>
                                              </ng-container>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                    </div>
                </div>
          </ng-container>
            <ng-template #noOrderDetails>
                <div class="text-center text-muted">
                    <h2><i class="fa fa-info-circle"></i></h2>
                    <h4>No Order Details!</h4>
                </div>
            </ng-template>
        </div>
    </mat-tab>

    <mat-tab label="Subscriptions" *ngIf="orderDetails">
        <div *ngIf="userSubscriptions && userSubscriptions.length>0">
          <button class="btn btn-sm btn-primary float-right" type="button" (click)="openCreateRefillOrderModal()">Create Refill Order</button>
        </div>
        <div class="container-fluid details">
             <div class="table-responsive">
                  <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th>RxDrug</th>
                            <th>Refill Count</th>
                            <th>Refill Duration</th>
                            <th>Amount To Charge</th>
                            <th>Next Refill Date</th>
                            <th>Subscription Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr  *ngFor="let subscription of orderDetails.subscription_details">
                          <td>{{subscription.drug_name+' '+subscription.drug_dosage+' '+subscription.subscription_quantity+' '+subscription.drug_form}}
                              <span *ngIf="subscription.product_type=='LENS'">{{ ' - '+subscription.eye_type }}</span>
                          </td>
                          <td>
                              <div>{{subscription.refill_count}} Original <span *ngIf="subscription.status!=='closed'">, {{subscription.refill_count-subscription.current_refill_count===0?'No ':subscription.refill_count-subscription.current_refill_count }} Refill Remaining</span></div>
                          </td>
                          <td>Every {{subscription.type==='default'?subscription.duration:subscription.custom_duration}} Days</td>
                          <td>{{subscription.subscription_price | currency:'EUR'}}</td>
                          <td>
                                <span *ngIf="subscription.next_refill_date">{{subscription.next_refill_date | date: 'dd-MM-yyyy'}}</span>
                                <span *ngIf="!subscription.next_refill_date"> - </span>
                          </td>
                          <td>{{subscription.status}}</td>
                          <td>
                            <button type="button" *ngIf="subscription.status=='active'" (click)="deactivateSubscription(subscription)" class="btn btn-sm btn-danger"><i class="fa fa-ban mr-2"></i>Cancel Subscription</button>
                            <button type="button" *ngIf="subscription.status=='cancelled'" (click)="openModal(subscription,'ACTIVATE','RX')" class="btn btn-sm btn-success"><i class="fa fa-check mr-2"></i>Activate Subscription</button>
                            <button type="button" *ngIf="subscription.status=='active'"  class="btn btn-sm btn-primary" (click)="openModal(subscription,'CHANGE','RX')"><i class="fa fa-cog mr-2" aria-hidden="true"></i>Settings</button>
                          </td>
                        </tr>
                    </tbody>
                    <tfoot *ngIf="orderDetails.subscription_details && orderDetails.subscription_details.length==0">
                        <tr>
                            <td colspan="7">
                                <div class="text-center text-muted">
                                    <h2><i class="fa fa-info-circle"></i></h2>
                                    <h4>No Subscriptions for RxDrug !</h4>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                  </table>
            </div>

              <div class="table-responsive">
                  <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th>OTC Drug</th>
                            <th>Refill Duration</th>
                            <th>Amount To Charge</th>
                            <th>Next Refill Date</th>
                            <th>Subscription Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr  *ngFor="let subscription of orderDetails.otc_subscriptions">
                          <td>{{subscription.otc_drug_name}}</td>
                          <td>Every {{subscription.type==='default'?subscription.duration:subscription.custom_duration}} Days</td>
                          <td>{{subscription.subscription_price_total | currency:'EUR'}}</td>
                          <td>
                                <span *ngIf="subscription.next_refill_date">{{subscription.next_refill_date | date: 'dd-MM-yyyy'}}</span>
                                <span *ngIf="!subscription.next_refill_date"> - </span>
                          </td>
                          <td>{{subscription.status}}</td>
                          <td>
                            <button type="button" *ngIf="subscription.status=='active'" (click)="deactivateOTCSubscription(subscription)" class="btn btn-sm btn-danger"><i class="fa fa-ban mr-2"></i>Cancel Subscription</button>
                            <button type="button" *ngIf="subscription.status=='cancelled'" (click)="openModal(subscription,'ACTIVATE','OTC')" class="btn btn-sm btn-success"><i class="fa fa-check mr-2"></i>Activate Subscription</button>
                            <button type="button" *ngIf="subscription.status=='active'"  class="btn btn-sm btn-primary" (click)="openModal(subscription,'CHANGE','OTC')"><i class="fa fa-cog mr-2" aria-hidden="true"></i>Settings</button>

                          </td>
                        </tr>
                    </tbody>
                    <tfoot *ngIf="orderDetails.otc_subscriptions && orderDetails.otc_subscriptions.length==0">
                        <tr>
                            <td colspan="7">
                                <div class="text-center text-muted">
                                    <h2><i class="fa fa-info-circle"></i></h2>
                                    <h4>No Subscriptions for OTC Drug !</h4>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                  </table>
              </div>
        </div>
    </mat-tab>
    <mat-tab label="Logs">
         <app-order-logs></app-order-logs>
    </mat-tab>
</mat-tab-group>
<div class="form-group mt-1">
   <div class="text-center">
        <a routerLink="/admin/drug-order/list" routerLinkActive="active" class="btn btn-primary"><i class="fa fa-arrow-left mr-2" aria-hidden="true"></i>Back To Orders</a>
    </div>
</div>


<!--<div mdbModal #changeSubscriptionModal="mdbModal" id="changeSubscriptionModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="changeSubscriptionModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form (ngSubmit)="changeSubscriptionSubmit(changeSubscriptionForm.valid,changeSubscriptionModal)" [formGroup]="changeSubscriptionForm" autocomplete="off">
                <div class="modal-header">
                    <button type="button" id="closechangeSubscriptionModalBtn" class="close pull-right" aria-label="Close" data-dismiss="modal" (click)="closeModal(changeSubscriptionModal)">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title w-100" id="mychangeSubscriptionModalLabel">
                        {{ ModalLabel }}
                    </h4>
                </div>
                <div class="modal-body">
                   <p *ngIf="selectedSubscription">{{ selectedSubscription.medicine_name }}</p>
                     <input type="hidden" formControlName="subscription_id" />
                     <input type="hidden" formControlName="medicine_name" />
                    <div class="form-group">
                        <label class="form-label">Refill Duration</label>
                        <select name="customFrequency" class="form-control input-lg" formControlName="custom_duration">
                            <option *ngFor="let option of customFrequencyOptions" [value]="option.days">{{ option.title }} </option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="submit" [disabled]="changeSubscriptionForm.invalid" class="btn btn-success">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>-->


<!--
<div mdbModal #createRefillOrderModal="mdbModal" class="modal fade" id="createRefillOrderModal" tabindex="-1" role="dialog"
    aria-labelledby="createRefillOrderModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-warning" role="document" style="max-width:1240px;">
        <div class="modal-content text-center">
                <div class="modal-header">
                    <h5 class="modal-title">Create Refill Order</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                        (click)="closeCreateRefillOrderModal(createRefillOrderModal)">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" *ngIf="orderDetails">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12">
                            <div *ngIf="!loadingCreateRefillOrder">

                                    <div>
                                    <h6>Select Drug From Active Subscription</h6>
                                    <ul class="list-group list-group-flush" style="max-height:450px;overflow-y:scroll;">
                                        <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let item of userSubscriptions">
                                            <div>{{ item.drug_name+' '+item.drug_dosage+' '+item.order_quantity+' '+item.drug_form}}
                                                <span *ngIf="item.product_type=='LENS'">{{ ' - '+item.eye_type }}</span>
                                            </div>
                                            <div>
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="{{'sub_'+item.id}}" (change)="handleChangeSubscription($event.target.checked,item,'RX')" [checked]="checkItemSelected(item.id,'RX')">
                                                    <label class="custom-control-label font-weight-normal" for="{{'sub_'+item.id}}">{{item.subscription_price| currency:'EUR'}}</label>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let item of userOTCSubscriptions">
                                            <div>{{ item.otc_drug_name}}
                                            </div>
                                            <div>
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="{{'otcsub_'+item.id}}" (change)="handleChangeSubscription($event.target.checked,item,'OTC')" [checked]="checkItemSelected(item.id,'OTC')">
                                                    <label class="custom-control-label font-weight-normal" for="{{'otcsub_'+item.id}}">{{item.subscription_price_total| currency:'EUR'}}</label>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    </div>
                            </div>
                            <div class="text-center my-auto" *ngIf="loadingCreateRefillOrder">
                                    <div class="spinner-border text-primary" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <p class="mt-3">Creating Order ...</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                                <h5>Order Summary</h5>
                                <table class="table table-sm" style="max-height:300px;overflow-y:scroll;">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>Product</th>
                                            <th>Tax</th>
                                            <th>Price</th>
                                            <th>Line Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of selectedSubscriptions">
                                            <td>
                                                <p class="mb-0 font-weight-normal">{{ item.drug_name+' '+item.drug_dosage+' '+item.order_quantity+' '+item.drug_form }}</p>
                                            </td>
                                            <td>
                                                <p class="mb-0 font-weight-normal">$0</p>
                                            </td>
                                            <td><p class="mb-0 font-weight-normal">{{item.subscription_price| currency:'EUR'}}</p></td>
                                            <td>
                                                <p class="mb-0 font-weight-normal">{{item.subscription_price| currency:'EUR'}}</p>
                                            </td>
                                        </tr>
                                        <tr *ngFor="let item of selectedOTCSubscriptions">
                                            <td>
                                                <p class="mb-0 font-weight-normal">{{ item.otc_drug_name }}</p>
                                            </td>
                                            <td>
                                                <p class="mb-0 font-weight-normal">{{item.subscription_tax| currency:'EUR'}}</p>
                                            </td>
                                            <td><p class="mb-0 font-weight-normal">{{item.subscription_price| currency:'EUR'}}</p></td>
                                            <td>
                                                <p class="mb-0 font-weight-normal">{{item.subscription_price_total| currency:'EUR'}}</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="4">
                                                <p class="mb-0 font-weight-bold text-right">Total : {{ refillOrderTotal| currency:'EUR' }}</p>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-center" *ngIf="(selectedSubscriptions.length>0 || selectedOTCSubscriptions.length>0) && !loadingCreateRefillOrder">
                    <button class="btn btn-primary" type="button" (click)="handleSubmitCreateRefillOrderForm(createRefillOrderModal)">Create Order</button>
                </div>
        </div>
    </div>
</div>-->
