<mat-tab-group (selectedIndexChange)="tabEvents($event)">
  <mat-tab label="Details">
    <div class="container-fluid tech-details">
      <ng-container *ngIf="techDetails; else noDetails ">
        <div class="row">
          <div class="col-md-12 text-right">
            <button *ngIf="techDetails.is_active" (click)="manageAccountLogin(false)" type="button" class="btn btn-danger mr-2"><i class="fa fa-ban mr-2" aria-hidden="true"></i>Disable Account Login</button>
            <button *ngIf="!techDetails.is_active" (click)="manageAccountLogin(true)" type="button" class="btn btn-success"><i class="fa fa-play mr-2" aria-hidden="true"></i>Enable Account Login</button>

            <a routerLink="/admin/technicians/edit/{{techId}}" routerLinkActive="active" class="btn btn-primary">Edit</a>
            <a (click)="loginAsUser()" routerLinkActive="active" class="d-none btn btn-warning float-right">Login To Account<i class="ml-2 fa fa-sign-in" aria-hidden="true"></i></a>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-3">
            <label>First Name</label>
            <h5>{{techDetails.first_name}}</h5>
          </div>
          <div class="col-md-3">
            <label>Last Name</label>
            <h5>{{techDetails.last_name}}</h5>
          </div>
          <div class="col-md-3">
            <label>Gender</label>
            <h5>{{techDetails.gender}}</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <label>Registration Date</label>
            <h5>{{helper.getFormattedDateFromUnixTimestamp(techDetails.created_at) }}</h5>
          </div>
          <div class="col-md-3">
            <label>Email</label>
            <h5>{{techDetails.email}}</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <label>Mobile No</label>
            <h5>{{techDetails.cell_phone_number | mask: '(000) 000-0000'}}</h5>
          </div>
          <div class="col-md-3">
            <label>Last Login At</label>
            <h5>{{helper.getFormattedDateFromUnixTimestamp(techDetails.last_login)}}</h5>
          </div>
          <div class="col-md-3">
            <label>Login Enabled?</label>
            <h5> <i class="fa fa-check text-success" *ngIf="techDetails.is_active"></i>
              <i class="fa fa-times text-danger" *ngIf="!techDetails.is_active"></i></h5>
          </div>
          <div class="col-md-3">
            <label>Account Service Enabled?</label>
            <h5> <i class="fa fa-check text-success" *ngIf="techDetails.account_service_enabled"></i>
              <i class="fa fa-times text-danger" *ngIf="!techDetails.account_service_enabled"></i></h5>
          </div>
        </div>
      </ng-container>
      <ng-template #noDetails>
        <div class="text-center text-muted">
          <h2><i class="fa fa-info-circle"></i></h2>
          <h4>No Details!</h4>
        </div>
      </ng-template>
    </div>
  </mat-tab>
  <mat-tab label="Orders" (click)="getDTOptions()">
    <div class="container-fluid techDetails">
      <ng-container>
        <div class="tab-pane-content">
          <div class="row wow fadeIn">
            <div class="col-lg-2 col-md-2 text-right mb-3">

            </div>
            <div class="col-lg-12 col-md-12 mb-3">
              <div class="table-responsive-md">
                <table mdbTable hover="true" width="100%" id="techOrderTableData" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                  class="order-list-table row-border hover"></table>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-template #noDetails>
        <div class="text-center text-muted">
          <h2><i class="fa fa-info-circle"></i></h2>
          <h4>No Order Details!</h4>
        </div>
      </ng-template>
    </div>
  </mat-tab>
  <mat-tab label="Consultations" (click)="getConsultationDTOptions()">
    <div class="container-fluid techDetails">
      <ng-container>
        <div class="tab-pane-content">
          <div class="row wow fadeIn">
            <div class="col-lg-12 col-md-12 mb-3">
              <div class="table-responsive-md">
              <table mdbTable hover="true"  width="100%" id="consultationList" datatable [dtOptions]="dtOptionsConsultation" [dtTrigger]="dtTrigger" class="order-list-table row-border hover"></table>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </mat-tab>
</mat-tab-group>
<hr>
<div class="form-group mt-1">
  <div class="row">
    <div class="col">
      <div class="text-right">
        <a routerLink="/admin/technicians/list" routerLinkActive="active" class="btn btn-primary">Back</a>
      </div>
    </div>
  </div>
</div>
