<div>
   <div class="w-100 p-3 bg-dark-grey">
      <h4 class="text-white font-weight-bold mb-0">Edit Pharmacy Information</h4>
   </div>
  <div class="form-container px-3 pt-3">
    <form [formGroup]="addPharmacyForm" (submit)="editPharmacySubmit()">

      <div class="mb-3 p-2">
          <div class="row">
            <div class="col-sm-6">
                  <div class="form-group">
                    <label for="pharmacy_name">Pharmacy Name</label>
                    <input type="text" class="form-control" id="pharmacy_name" placeholder="Enter Pharmacy Name" formControlName="pharmacy_name">
                    <div class="invalid-feedback" *ngIf="pharmacy_name?.invalid && (pharmacy_name?.dirty || pharmacy_name?.touched)" class="text-danger font-weight-bold">
                      <div *ngIf="pharmacy_name?.errors?.required">Pharmacy name is required.</div>
                    </div>
                  </div>
            </div>
            <div class="col-sm-6">
                  <div class="form-group">
                        <label>Pharmacy Type</label>
                        <mat-select class="form-control"  placeholder="Pharmacy Type" formControlName="pharmacy_type" id="pharmacy_type" multiple>
                          <mat-option  color="primary" *ngFor="let phtype of pharmacyTypes" [value]="phtype.value">{{phtype.key}}</mat-option>
                        </mat-select>
                        <div class="invalid-feedback" *ngIf="pharmacy_type?.invalid && (pharmacy_type?.dirty || pharmacy_type?.touched)" class="text-danger font-weight-bold">
                            <div *ngIf="pharmacy_type?.errors?.required">Select Pharmacy Type.</div>
                        </div>
                  </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="llc_name">LLC Name</label>
                <input type="text" class="form-control" placeholder="Enter LLC Name" id="llc_name" formControlName="llc_name">
                <div class="invalid-feedback" *ngIf="llc_name?.invalid && (llc_name?.dirty || llc_name?.touched)" class="text-danger font-weight-bold">
                  <div *ngIf="llc_name?.errors?.required">LLC name is required.</div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="check_payable_to_name">Check Payable To Name</label>
                <input type="text" class="form-control" id="check_payable_to_name" placeholder="Check Payable To Name" formControlName="check_payable_to_name">
                <div class="invalid-feedback" *ngIf="check_payable_to_name?.invalid && (check_payable_to_name?.dirty || check_payable_to_name?.touched)"
                  class="text-danger font-weight-bold">
                  <div *ngIf="check_payable_to_name?.errors?.required">Check payable to name is required.</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="phone_number">Phone Number</label>
                <input type="text" class="form-control" id="phone_number" placeholder="Enter Cell Phone Number" formControlName="phone_number">
                <div class="invalid-feedback" *ngIf="phone_number?.invalid && (phone_number?.dirty || phone_number?.touched)" class="text-danger font-weight-bold">
                  <div *ngIf="phone_number?.errors?.required">Phone Number is required.</div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="fax_number">Fax Number</label>
                <input type="text" class="form-control" id="fax_number" placeholder="Enter Fax Number" formControlName="fax_number">
                <div class="invalid-feedback" *ngIf="fax_number?.invalid && (fax_number?.dirty || fax_number?.touched)" class="text-danger font-weight-bold">
                  <div *ngIf="fax_number?.errors?.required">Fax number is required.</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <mat-checkbox color="primary" formControlName="is_active" [checked]="true">
                  Active
                </mat-checkbox>
              </div>
            </div>
          </div>
      </div>


      <div class="bg-dark-grey text-white p-3">
        <b>Practice Addresses</b>
      </div>
      <div class="alert alert-danger" *ngIf="addressLengthError">
        <h5>Atleast one address is required!</h5>
      </div>

      <div  formArrayName="practice_addresses">
          <div class="mb-3 alert alert-warning"  *ngFor="let address of getPracticeAddressesControls(); let ind = index" [formGroupName]="ind">
              <div class="row">
                  <div class="col-sm-12 clearfix">
                    <span class="float-left">
                      <h5>Practice Address #{{ind+1}}</h5>
                    </span>
                    <span class="float-right">
                      <button class="btn-sm btn-danger" (click)="removePracticeAddress(ind)"><i class="fa fa-trash"></i></button>
                    </span>
                  </div>
              </div>

              <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="address_line_1">Address Line 1</label>
                      <textarea class="form-control" placeholder="Enter Address Line 1" formControlName="address_line_1" id="address_line_1" rows="4"></textarea>
                      <div class="invalid-feedback" *ngIf="address.get('address_line_1')?.invalid && (address.get('address_line_1')?.dirty || address.get('address_line_1')?.touched)"
                        class="text-danger font-weight-bold">
                        <div *ngIf="address.get('address_line_1')?.errors?.required">Address is required.</div>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="address_line_2">Address Line 2</label>
                      <textarea class="form-control" placeholder="Enter Address Line 2" formControlName="address_line_2" id="address_line_2" rows="4"></textarea>
                    </div>
                  </div>
              </div>

              <div class="row">
                  <div class="col-lg-3">
                    <div class="form-group">
                      <label for="state">State</label>
                      <select formControlName="state_id" id="state" class="form-control" placeholder="Select State">
                        <option value="">Select State</option>
                        <option *ngFor="let st of states" [value]="st._id">{{st.name}}</option>
                      </select>
                      <div class="invalid-feedback" *ngIf="address.get('state_id')?.invalid && (address.get('state_id')?.dirty || address.get('state_id')?.touched)"
                        class="text-danger font-weight-bold">
                        <div *ngIf="address.get('state_id')?.errors?.required">Please select state.</div>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-3">
                    <div class="form-group">
                      <label for="city">City</label>
                      <input type="text" id="city" class="form-control" formControlName="city" placeholder="Enter City">
                      <div class="invalid-feedback" *ngIf="address.get('city')?.invalid && (address.get('city')?.dirty || address.get('city')?.touched)"
                        class="text-danger font-weight-bold">
                        <div *ngIf="address.get('city')?.errors?.required">City name is required.</div>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-3">
                    <div class="form-group">
                      <label for="zip_code">Zipcode</label>
                      <input type="text" id="zip_code" class="form-control" formControlName="zip_code" placeholder="Enter Zipcode">
                      <div class="invalid-feedback" *ngIf="address.get('zip_code')?.invalid && (address.get('zip_code')?.dirty || address.get('zip_code')?.touched)"
                        class="text-danger font-weight-bold">
                        <div *ngIf="address.get('zip_code')?.errors?.required">Zipcode is required.</div>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-3">
                    <div class="form-group">
                      <mat-checkbox color="primary" formControlName="is_active">
                        Active
                      </mat-checkbox>
                    </div>
                    <div class="form-group">
                      <mat-radio-button name="isDefaultRbtn" color="primary" formControlName="is_default">
                        Is Default?
                      </mat-radio-button>
                    </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="text-center">
          <button type="button" class="btn btn-sm btn-outline-primary" (click)="addNewPracticeAddress()"><i class="fa fa-plus mr-2"></i>Add New Practice Address</button>
      </div>

      <div class="bg-dark-grey text-white p-3">
        <b>Licenses</b>
      </div>
      <div class="alert alert-danger" *ngIf="licenseLengthError">
        <h5>Atleast one license is required!</h5>
      </div>

      <div formArrayName="licenses">
        <div class="mb-3 alert alert-info" *ngFor="let license of getLicensesControls(); let ind = index" [formGroupName]="ind">
            <div class="row">
                  <div class="col-12">
                    <span class="float-left">
                      <h5>License #{{ind+1}}</h5>
                    </span>
                    <span class="float-right">
                      <button class="btn-sm btn-danger" (click)="removeLicense(ind)"><i class="fa fa-trash"></i></button>
                    </span>
                  </div>
            </div>

            <div class="row">
                  <div class="col-sm-3">
                        <div class="form-group">
                          <label for="license_number">License Number</label>
                          <input type="text" class="form-control" id="license_number" placeholder="Enter License Number." formControlName="license_number">
                          <div class="invalid-feedback" *ngIf="license.get('license_number')?.invalid && (license.get('license_number')?.dirty || license.get('license_number')?.touched)"
                            class="text-danger font-weight-bold">
                            <div *ngIf="license.get('license_number')?.errors?.required">License number is required.</div>
                          </div>
                        </div>
                  </div>

                  <div class="col-sm-3">
                        <div class="form-group">
                          <label for="expiry_date">Expiry Date</label>
                          <input [matDatepicker]="datePicker" (click)="datePicker.open()" class="form-control input-lg" formControlName='expiry_date'
                            placeholder="MM/DD/YYYY" mask="09/09/0000">
                          <mat-datepicker #datePicker></mat-datepicker>
                          <div class="invalid-feedback" *ngIf="license.get('expiry_date')?.invalid && (license.get('expiry_date')?.dirty || license.get('expiry_date')?.touched)"
                            class="text-danger font-weight-bold">
                            <div *ngIf="license.get('expiry_date')?.errors?.required">Please select expiry date.</div>
                          </div>
                        </div>
                  </div>

                  <div class="col-sm-3">
                        <div class="form-group">
                          <label for="license_state">State</label>
                          <mat-select placeholder="Enter State" formControlName="state_id" class="form-control input-lg">
                            <mat-option *ngFor="let state of getStateList(license.get('state_id')?.value)" [value]="state._id">
                              {{state.name}}
                            </mat-option>
                          </mat-select>
                          <div class="invalid-feedback" *ngIf="license.get('state_id')?.invalid && (license.get('state_id')?.dirty || license.get('state_id')?.touched)"
                            class="text-danger font-weight-bold">
                            <div *ngIf="license.get('state_id')?.errors?.required">Please select state.</div>
                          </div>
                        </div>
                  </div>

                  <div class="col-sm-3">
                        <div class="form-group">
                          <mat-checkbox color="primary" formControlName="is_active">Active</mat-checkbox>
                        </div>
                  </div>
            </div>
        </div>
      </div>

      <div class="text-center">
          <button type="button" class="btn btn-sm btn-outline-primary" (click)="addNewLicense()"><i class="fa fa-plus mr-2"></i> Add New License</button>
      </div>

      <div class="bg-dark-grey text-white p-3 mt-3">
        <b>Other Details</b>
      </div>

      <div formArrayName="other_details">
        <div class="mb-3 alert alert-light" *ngFor="let keypair of getKeyValuePairsControls(); let keyInd = index" [formGroupName]="keyInd">
            <div class="row">
                  <div class="col-sm-5">
                        <div class="form-group">
                          <label for="key">Key</label>
                          <input type="text" class="form-control" id="key" placeholder="Enter Key" formControlName="key" />
                          <div class="invalid-feedback" *ngIf="keypair.get('key')?.invalid && (keypair.get('key')?.dirty || keypair.get('key')?.touched)" class="text-danger font-weight-bold">
                            <div *ngIf="keypair.get('key')?.errors?.required">Key is required.</div>
                          </div>
                        </div>
                  </div>
                  <div class="col-sm-5">
                        <div class="form-group">
                          <label for="value">Value</label>
                          <input type="text" class="form-control" id="value" placeholder="Enter Value" formControlName="value" />
                          <div class="invalid-feedback" *ngIf="keypair.get('value')?.invalid && (keypair.get('value')?.dirty || keypair.get('value')?.touched)" class="text-danger font-weight-bold">
                            <div *ngIf="keypair.get('value')?.errors?.required">Value is required.</div>
                          </div>
                        </div>
                  </div>
                  <div class="col-sm-2">
                        <button class="btn-sm btn-danger" (click)="removeKeyValuePair(keyInd)"><i class="fa fa-trash"></i></button>
                  </div>
            </div>
        </div>
      </div>
      <div class="text-center">
          <button type="button" class="btn btn-sm btn-outline-primary" (click)="addNewKeyValuePair()"><i class="fa fa-plus mr-2"></i> Add More Details</button>
      </div>

      <div class="row mt-5 p-3 bg-dark-grey">
        <div class="col-sm-12 text-center">
          <button type="submit" class="btn btn-success mr-2"><i class="fa fa-save mr-2"></i> Save Pharmacy Information</button>
          <a routerLink="/admin/pharmacies/list" routerLinkActive="active" class="btn btn-primary">Back</a>
        </div>
      </div>
    </form>
  </div>
</div>
