<div class="modal-content">
    <div class="modal-header">
        <h4 class="font-weight-bold modal-title w-100">
            Change Account Password
        </h4>
        <button (click)="closeModal()" type="button" id="uploadMediaModalBtn" class="close float-right"
            aria-label="Close" data-dismiss="modal">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <form class="p-5" [formGroup]="editPassword" (ngSubmit)="savePassword(editPassword.valid)">
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-12">
                        <label class="float-left">Password</label>
                        <input type="password" id="password" formControlName="password" #passwordWithValidation class="form-control input-lg"
                            placeholder="Enter Password" autocomplete="off" />
                        <div class="invalid-feedback" *ngIf="password?.invalid && (password?.dirty || password?.touched)"
                            class="text-danger">
                            <div *ngIf="password?.errors?.required">Password is required.</div>
                            <div *ngIf="password?.errors?.pattern">Password must contain Following:
                                <ul>
                                    <li>
                                        At least 8 to 16 characters in length
                                    </li>
                                    <li>Lowercase letters</li>
                                    <li>Uppercase letters</li>
                                    <li>Numbers</li>
                                    <li>Special characters</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-info  mr-2">Submit</button>
            
            <button class="btn btn-dark" (click)="copyInputMessage(passwordWithValidation)" value="Click to copy"
                type="button">Copy from Textbox</button>
        </form>
    </div>
</div>