<div class="w-100 p-2 bg-dark-grey d-flex justify-content-between align-items-center">
    <h4 class="text-white font-weight-bold mb-0">Clinic #{{clinic?.doesspot_clinic_id}} - {{clinic?.clinic_name}}</h4>
    <div>
        <button type="button" class="btn btn-sm btn-block btn-primary" (click)="openModal()">Add Doctor</button>
        <a routerLink="/admin/clinic/edit/{{clinic?.doesspot_clinic_id}}" routerLinkActive="active" class="btn btn-primary"><i class="fa fa-pen"></i>Edit</a>
    </div>
</div>

<mat-tab-group>
    <mat-tab label="Clinic Info">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-hover" *ngIf="clinic">
                        <tbody>
                            <tr>
                                <td>Clinic Name</td>
                                <td>{{clinic.clinic_name}}</td>
                            </tr>
                            <tr>
                                <td>Clinic Long Name</td>
                                <td>{{clinic.clinic_name_long_form}}</td>
                            </tr>
                            <tr>
                                <td>Address Line1</td>
                                <td>{{clinic.address_line_1}}</td>
                            </tr>
                            <tr>
                                <td>Address Line2</td>
                                <td>{{clinic.address_line_2}}</td>
                            </tr>
                            <tr>
                                <td>City</td>
                                <td>{{clinic.city}}</td>
                            </tr>
                            <tr>
                                <td>State</td>
                                <td>{{clinic.state}}</td>
                            </tr>
                            <tr>
                                <td>Zipcode</td>
                                <td>{{clinic.zipcode}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <table class="table table-hover" *ngIf="clinic">
                        <tbody>
                            <tr>
                                <td>Primary Phone</td>
                                <td>{{clinic.primary_phone}}</td>
                            </tr>
                            <tr>
                                <td>Primary Fax</td>
                                <td>{{clinic.primary_fax}}</td>
                            </tr>
                            <tr>
                                <td>Clinic Code</td>
                                <td><span class="badge badge-pill badge-success">{{clinic.clinic_code}}</span></td>
                            </tr>
                            <tr>
                                <td>DS Clinic Id</td>
                                <td>{{clinic.doesspot_clinic_id}}</td>
                            </tr>
                            <tr>
                                <td>DS Clinic Key</td>
                                <td>{{clinic.doesspot_clinic_key}}</td>
                            </tr>
                            <tr>
                                <td>DS Clinic Created at</td>
                                <td>{{_helper.getFormattedDate(clinic.doesspot_clinic_created_at,'MM/DD/YYYY')}}</td>
                            </tr>
                            <tr>
                                <td>DS Clinic Updated at</td>
                                <td>{{clinic.doesspot_clinic_updated_at?_helper.getFormattedDate(clinic.doesspot_clinic_updated_at,'MM/DD/YYYY'):'-'}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Doctors In Clinic">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <table class="table" *ngIf="clinic">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Role</th>
                                <th>Login Enabled</th>
                                <th>Service Enabled</th>
                                <th>Clinic Access Enabled</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let doctor of clinic.doctors" [ngClass]="{'alert-danger':doctor.is_deleted==1}">
                                <td><a class="text-primary font-weight-bold"
                                        routerLink="/admin/doctors/view/{{ doctor.teledaddyuser_ptr_id }}">{{doctor.doctor_name}}</a>
                                </td>
                                <td>{{doctor.email}}</td>
                                <td>{{doctor.cell_phone_number}}</td>
                                <td>{{doctor.doctor_role}}</td>
                                <td>
                                    <i *ngIf="doctor.is_active==1" class="fa fa-check text-success"></i>
                                    <i *ngIf="doctor.is_active==0" class="fa fa-close text-danger"></i>
                                </td>
                                <td>
                                    <i *ngIf="doctor.account_service_enabled==1" class="fa fa-check text-success"></i>
                                    <i *ngIf="doctor.account_service_enabled==0" class="fa fa-close text-danger"></i>
                                </td>
                                <td>
                                    <i *ngIf="doctor.access_enabled==1" class="fa fa-check text-success"></i>
                                    <i *ngIf="doctor.access_enabled==0" class="fa fa-close text-danger"></i>
                                </td>
                                <td>
                                    <button (click)="manageAccountUsage(doctor.teledaddyuser_ptr_id,doctor.is_active)"
                                        [ngClass]="{'btn':true,'btn-sm':true,'btn-dark':doctor.is_active==1,'btn-success':doctor.is_active==0}">
                                        <span *ngIf="doctor.is_active==0">Enable Account Login</span>
                                        <span *ngIf="doctor.is_active==1">Disable Account Login</span>
                                    </button>
                                    <button [disabled]="doctor.is_active==0"
                                        (click)="manageAccountService(doctor.teledaddyuser_ptr_id,doctor.account_service_enabled)"
                                        [ngClass]="{'btn':true,'btn-sm':true,'btn-dark':doctor.account_service_enabled==1,'btn-success':doctor.account_service_enabled==0}">
                                        <span *ngIf="doctor.account_service_enabled==0">Enable Account Service</span>
                                        <span *ngIf="doctor.account_service_enabled==1">Disable Account Service</span>
                                    </button>
                                    <button *ngIf="doctor.is_deleted!=1" class="btn btn-danger btn-sm"
                                        (click)="removeFromClinic(clinic.doesspot_clinic_id,doctor.teledaddyuser_ptr_id,doctor.doesspot_clinician_id)">Remove
                                        From Clinic</button>
                                    <button *ngIf="doctor.is_deleted==1" class="btn btn-success btn-sm"
                                        (click)="setDoctorNOpenModal(doctor)">Add To Clinic</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>


<!-- Start Doctor List Modal -->
<!-- <div mdbModal #doctorModal="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-info" role="document">
    
    </div>
</div> -->

<!-- NotificationCountModal -->
<!-- <div mdbModal #notificationCountModal="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-info" role="document">
    </div>
</div> -->

<!-- listErrorNotificationsModal -->
<!-- <div mdbModal #listErrorNotificationsModal="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-info modal-lg" role="document">
    </div>
</div> -->