<div class="card-body">
  <h4 class="text-center mb-2">Edit Doctor Account </h4>
  <form class="p-5" (ngSubmit)="saveDoctor()" [formGroup]="addDoctor" autocomplete="off">
      <div class="alert alert-warning my-3">
            <h5 class="font-weight-bold mb-3">Personal Details</h5>
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-4">
                  <label class="float-left">First Name</label>
                  <input type="text" id="first_name" class="form-control" placeholder="Enter First Name"
                    formControlName="first_name" />
                  <div class="invalid-feedback" *ngIf="first_name?.invalid && (first_name?.dirty || first_name?.touched)"
                    class="text-danger">
                    <div *ngIf="first_name?.errors?.required">First name is required.</div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Middle Name</label>
                    <input type="text" id="middle_name" class="form-control" placeholder="Enter Middle Name"
                      formControlName="middle_name" />
                    <div class="invalid-feedback" *ngIf="middle_name?.invalid && (middle_name?.dirty || middle_name?.touched)"
                      class="text-danger">
                      <div *ngIf="middle_name?.errors?.required">Middle name is required.</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <label class="float-left">Last Name</label>
                  <input type="text" id="last_name" formControlName="last_name" class="form-control input-lg"
                    placeholder="Enter Last Name" />
                  <div class="invalid-feedback" *ngIf="last_name?.invalid && (last_name?.dirty || last_name?.touched)"
                    class="text-danger">
                    <div *ngIf="last_name?.errors?.required">Last name is required.</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="col">
                <div class="form-group">
                  <label>Prefix</label>
                  <select id="prefix" formControlName="prefix" class="form-control" placeholder="Enter Prefix">
                    <option value="Dr.">Dr.</option>
                    <option value="Prof.">Prof.</option>
                    <option value="Mr.">Mr.</option>
                    <option value="Ms.">Ms.</option>
                    <option value="Mrs.">Mrs.</option>
                  </select>
                  <div class="invalid-feedback" *ngIf="prefix?.invalid && (prefix?.dirty || prefix?.touched)"
                    class="text-danger">
                    <div *ngIf="prefix?.errors?.required">Prefix is required.</div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label>Suffix</label>
                  <select id="suffix" formControlName="suffix" class="form-control" placeholder="Enter Suffix">
                    <option value="BAMS">BAMS</option>
                    <option value="BHMS">BHMS</option>
                    <option value="BUMS">BUMS</option>
                    <option value="BSMS">BSMS</option>
                    <option value="BYNS">BYNS</option>
                    <option value="BDS">BDS</option>
                    <option value="MBBS">MBBS</option>
                    <option value="MD">MD</option>
                    <option value="MS">MS</option>
                    <option value="DO">DO</option>
                    <option value="R.PH">R.PH</option>
                    <option value="Other">Other</option>
                  </select>
                  <div class="invalid-feedback" *ngIf="suffix?.invalid && (suffix?.dirty || suffix?.touched)"
                    class="text-danger">
                    <div *ngIf="suffix?.errors?.required">Suffix is required.</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <label class="d-block">Fax Number</label>
                  <input type="text" id="fax_number" formControlName="fax_number" class="form-control input-lg"
                    placeholder="Enter Fax Number" />
                  <div class="invalid-feedback" *ngIf="fax_number?.invalid && (fax_number?.dirty || fax_number?.touched)"
                    class="text-danger">
                    <div *ngIf="fax_number?.errors?.required">Fax Number is required.</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <label class="float-left">Email</label>
                  <input type="email" id="email" formControlName="email" class="form-control input-lg"
                    placeholder="Enter Email" />
                  <div class="invalid-feedback" *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="text-danger">
                    <div *ngIf="email?.errors?.required">Email is required.</div>
                    <div *ngIf="email?.errors?.email">Email must be a valid email address.</div>
                  </div>
                </div>
                <div class="col-md-6">
                  <label class="float-left">Cell Phone Number</label>
                  <input type="text" id="cell_phone_number" formControlName="cell_phone_number" class="form-control input-lg"
                    placeholder="Enter Cell Phone Number" />
                  <div class="invalid-feedback"
                    *ngIf="cell_phone_number?.invalid && (cell_phone_number?.dirty || cell_phone_number?.touched)"
                    class="text-danger">
                    <div *ngIf="cell_phone_number?.errors?.required">Cell phone number is required.</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Gender</label><br />
                  <div class="custom-control custom-radio">
                    <input class="custom-control-input" type="radio" name="gender" id="gender_male" value="male"
                      formControlName="gender">
                    <label class="custom-control-label" for="gender_male">
                      Male
                    </label>
                  </div>
                  <div class="custom-control custom-radio">
                    <input class="custom-control-input" type="radio" name="gender" id="gender_female" value="female"
                      formControlName="gender">
                    <label class="custom-control-label" for="gender_female">
                      Female
                    </label>
                  </div>
                  <div class="invalid-feedback" *ngIf="gender?.invalid && (gender?.dirty || gender?.touched)"
                    class="text-danger">
                    <div *ngIf="gender?.errors?.required">Gender is required.</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <label class="float-left">Date Of Birth</label>
                <div class="form-group">
                  <label class="float-left">Date Of Birth</label>
                  <input type="text" placeholder="Enter Date of Birth" formControlName="date_of_birth" bsDatepicker
                    class="form-control" [maxDate]="maxDate" placeholder="DD-MM-YYYY"
                    [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', isAnimated: true  }" />
                  <div class="invalid-feedback"
                    *ngIf="date_of_birth?.invalid && (date_of_birth?.dirty || date_of_birth?.touched)" class="text-danger">
                    <div *ngIf="date_of_birth?.errors?.required"> Date Of Birth is required.</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
                <div class="form-row">
                  <div class="col-md-3">
                    <label class="d-block">Active </label>
                    <mat-checkbox id="is_active" formControlName="is_active" color="primary">Active</mat-checkbox>
                  </div>
                  <div class="col-md-3">
                    <label class="d-block">Add Memo Tab</label>
                    <mat-checkbox color="primary" formControlName="add_memo_tab" [checked]="true">
                      Add Memo Tab
                    </mat-checkbox>
                  </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-6">
                     <div class="form-group">
                          <label>Profile Photo</label>
                          <input type="file" id="profile_photo" class="form-control" placeholder="Enter Rate Per Prescription" formControlName="profile_photo" (change)="onFileSelect($event,'profile_photo')" />
                          <div class="invalid-feedback" *ngIf="profile_photo?.invalid && (profile_photo?.dirty || profile_photo?.touched)"
                            class="text-danger">
                            <div *ngIf="profile_photo?.errors?.required">Profile photo is required.</div>
                          </div>
                    </div>
                </div>
                <div class="col-md-6">

                </div>
            </div>
      </div>

      <div class="alert alert-secondary my-3">
            <h5 class="font-weight-bold mb-3">Rate</h5>
            <div class="form-row">

              <div class="col-md-4">
                <label class="float-left">Rate Per Prescription</label>
                <input type="text" id="rate_per_prescription" class="form-control" placeholder="Enter Rate Per Prescription"
                  formControlName="rate_per_prescription" />
                <div class="invalid-feedback"
                  *ngIf="rate_per_prescription?.invalid && (rate_per_prescription?.dirty || rate_per_prescription?.touched)"
                  class="text-danger">
                  <div *ngIf="rate_per_prescription?.errors?.required">Rate per prescription is required.</div>
                </div>
              </div>

              <div class="col-md-4">
                <label class="float-left">Order Batch Size</label>
                <input type="number" id="order_batch_size" formControlName="order_batch_size" class="form-control input-lg"
                  placeholder="Enter Order Batch Size" />
                <div class="invalid-feedback"
                  *ngIf="order_batch_size?.invalid && (order_batch_size?.dirty || order_batch_size?.touched)"
                  class="text-danger">
                  <div *ngIf="order_batch_size?.errors?.required">Order Batch Size is required.</div>
                </div>
              </div>

              <div class="col-md-4">
                <label class="float-left">Consultation Batch Size</label>
                <input type="number" id="consultation_batch_size" formControlName="consultation_batch_size"
                  class="form-control input-lg" placeholder="Enter Consultation Batch Size" />
                <div class="invalid-feedback"
                  *ngIf="consultation_batch_size?.invalid && (consultation_batch_size?.dirty || consultation_batch_size?.touched)"
                  class="text-danger">
                  <div *ngIf="consultation_batch_size?.errors?.required">Consultation Batch Size is required.</div>
                </div>
              </div>

            </div>
      </div>

      <div class="alert alert-success my-3">
        <h5 class="font-weight-bold mb-3">Professional Details</h5>

          <div class="form-group">
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
              formControlName="portal_usage">
              <mat-radio-button class="example-radio-button" value="DTC" color='primary'>
                DTC (Direct To Consumer)
              </mat-radio-button> &nbsp;
              <mat-radio-button class="example-radio-button" value="CONSULTATION" color='primary'>
                Consultation
              </mat-radio-button>&nbsp;
              <mat-radio-button class="example-radio-button" value="DTC_CONSULTATION" color='primary'>
                DTC (Direct To Consumer) & Consultation Both
              </mat-radio-button>
            </mat-radio-group>
          </div>

          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6"
                *ngIf="addDoctor.get('portal_usage')?.value=='DTC' || addDoctor.get('portal_usage')?.value=='DTC_CONSULTATION'">
                <label>Treatment Conditions List</label>
                <mat-select formControlName="treatment_conditions" class="form-control" multiple>
                  <mat-option *ngFor="let condition of treatmentConditionsList" [(value)]="condition._id" color='primary'>
                    {{condition.name}}</mat-option>
                </mat-select>
                <div class="invalid-feedback"
                  *ngIf="treatment_conditions?.invalid && (treatment_conditions?.dirty || treatment_conditions?.touched)"
                  class="text-danger">
                  <div *ngIf="treatment_conditions?.errors?.required">Treatment is required.</div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6"
                *ngIf="addDoctor.get('portal_usage')?.value=='CONSULTATION' || addDoctor.get('portal_usage')?.value=='DTC_CONSULTATION'">
                <label>Health Conditions List</label>
                <mat-select formControlName="consultation_health_conditions" class="form-control" multiple>
                  <mat-option *ngFor="let healthCond of consultationHealthConditionsList" [(value)]="healthCond._id"
                    color='primary'>{{healthCond.name}}</mat-option>
                </mat-select>
                <div class="invalid-feedback"
                  *ngIf="consultation_health_conditions?.invalid && (consultation_health_conditions?.dirty || consultation_health_conditions?.touched)"
                  class="text-danger">
                  <div *ngIf="consultation_health_conditions?.errors?.required">Health Condition is required.</div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
              <div class="col">
                    <div class="form-group">
                      <label>Category</label>
                      <select  id="category" formControlName="category" class="form-control" placeholder="Enter Category">
                                  <option value="Government/Public">Government/Public</option>
                                  <option value="Private">Private</option>
                                  <option value="Both">Both</option>
                      </select>
                      <div class="invalid-feedback" *ngIf="category?.invalid && (category?.dirty || category?.touched)" class="text-danger">
                        <div *ngIf="category?.errors?.required">category is required.</div>
                      </div>
                    </div>
              </div>
              <div class="col">
                    <div class="form-group">
                          <label>Designation</label>
                          <select  id="designation" formControlName="designation" class="form-control" placeholder="Enter designation">
                              <option [value]="option" *ngFor="let option of designationArray">{{option}}</option>
                          </select>
                          <div class="invalid-feedback" *ngIf="designation?.invalid && (designation?.dirty || designation?.touched)"
                            class="text-danger">
                            <div *ngIf="designation?.errors?.required">Designation is required.</div>
                          </div>
                    </div>
              </div>
              <div class="col">
                    <div class="form-group">
                          <label>Discipline</label>
                          <select  id="discipline" formControlName="discipline" class="form-control" placeholder="Enter discipline">
                                  <option [value]="option" *ngFor="let option of disciplineArray">{{option}}</option>
                          </select>
                          <div class="invalid-feedback" *ngIf="discipline?.invalid && (discipline?.dirty || discipline?.touched)"
                            class="text-danger">
                            <div *ngIf="discipline?.errors?.required">Discipline is required.</div>
                          </div>
                    </div>
              </div>
          </div>

          <div class="form-row">
              <div class="col">
                    <div class="form-group">
                          <label>Registration with</label>
                          <select  id="registration_with" formControlName="registration_with" class="form-control" placeholder="Enter registration_with">
                                  <option [value]="option" *ngFor="let option of registrationWithArray">{{option}}</option>
                          </select>
                          <div class="invalid-feedback" *ngIf="registration_with?.invalid && (registration_with?.dirty || registration_with?.touched)"
                            class="text-danger">
                            <div *ngIf="registration_with?.errors?.required">registration with is required.</div>
                          </div>
                    </div>
              </div>
              <div class="col">
                    <div class="form-group">
                          <label>Registration Number</label>
                          <input type="text" id="registration_number" formControlName="registration_number" class="form-control" placeholder="Enter Registration Number"/>
                          <div class="invalid-feedback" *ngIf="registration_number?.invalid && (registration_number?.dirty || registration_number?.touched)" class="text-danger">
                            <div *ngIf="registration_number?.errors?.required">Registration Number is required.</div>
                          </div>
                    </div>
              </div>
              <div class="col">
                    <div class="form-group">
                          <label>Registration Date</label>
                          <input type="text"  placeholder="Enter Registration Date" formControlName="registration_date" bsDatepicker  class="form-control" [maxDate]="maxDate"  placeholder="DD-MM-YYYY" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', isAnimated: true  }"/>
                          <div class="invalid-feedback" *ngIf="registration_date?.invalid && (registration_date?.dirty || registration_date?.touched)" class="text-danger">
                            <div *ngIf="registration_date?.errors?.pattern">Please enter Registration Date</div>
                          </div>
                    </div>
              </div>
          </div>

          <div class="form-row">
              <div class="col">
                    <div class="form-group">
                          <label>Scanned Copy of Registration </label>
                          <input type="file" id="registration_copy" class="form-control" placeholder="Enter Rate Per Prescription" formControlName="registration_copy" (change)="onFileSelect($event,'registration_copy')" />
                          <div class="invalid-feedback" *ngIf="registration_copy?.invalid && (registration_copy?.dirty || registration_copy?.touched)"
                            class="text-danger">
                            <div *ngIf="registration_copy?.errors?.required">Scanned Copy of Registration is required.</div>
                          </div>
                    </div>
              </div>
              <div class="col">
                    <div class="form-group">
                          <label>Check Payable To Name</label>
                          <input type="text" id="check_payable_to_name" class="form-control" placeholder="Enter Check Payable To Name" formControlName="check_payable_to_name" />
                          <div class="invalid-feedback" *ngIf="check_payable_to_name?.invalid && (check_payable_to_name?.dirty || check_payable_to_name?.touched)"
                            class="text-danger">
                            <div *ngIf="check_payable_to_name?.errors?.required">Check payable to name is required.</div>
                          </div>
                    </div>
              </div>
          </div>
      </div>


      <div class="alert alert-info my-3">
          <h5 class="font-weight-bold mb-3">Residential Address</h5>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label class="float-left">Address Line 1</label>
                <input type="text" id="residential_address_1" formControlName="residential_address_1"
                  class="form-control input-lg" placeholder="Enter Residential Address Line 1" />
                <div class="invalid-feedback"
                  *ngIf="residential_address_1?.invalid && (residential_address_1?.dirty || residential_address_1?.touched)"
                  class="text-danger font-weight-bold">
                  <div *ngIf="residential_address_1?.errors?.required">Residential address line 1 is required.</div>
                </div>
              </div>
              <div class="col-md-6">
                <label class="d-block">Address Line 2</label>
                <input type="text" id="residential_address_2" formControlName="residential_address_2"
                  class="form-control input-lg" placeholder="Enter Residential Address Line 2" />
                <div class="invalid-feedback"
                  *ngIf="residential_address_2?.invalid && (residential_address_2?.dirty || residential_address_2?.touched)"
                  class="text-danger font-weight-bold">
                  <div *ngIf="residential_address_2?.errors?.required">Residential address line 2 is required.</div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label class="float-left">City</label>
                <input type="text" id="residential_city" formControlName="residential_city" class="form-control input-lg"
                  placeholder="Enter City" />
                <div class="invalid-feedback"
                  *ngIf="residential_city?.invalid && (residential_city?.dirty || residential_city?.touched)"
                  class="text-danger font-weight-bold">
                  <div *ngIf="residential_city?.errors?.required">City is required.</div>
                </div>
              </div>
              <div class="col-md-6">
                <label class="d-block">State</label>
                <mat-select placeholder="Enter State" formControlName="residential_state_id" class="form-control input-lg">
                  <mat-option *ngFor="let state of states" [value]="state._id">
                    {{state.name}}
                  </mat-option>
                </mat-select>
                <div class="invalid-feedback"
                  *ngIf="residential_state_id?.invalid && (residential_state_id?.dirty || residential_state_id?.touched)"
                  class="text-danger font-weight-bold">
                  <div *ngIf="residential_state_id?.errors?.required">State is required.</div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label class="float-left">Zipcode</label>
                <input type="text" id="residential_zipcode" formControlName="residential_zipcode"
                  class="form-control input-lg" placeholder="Enter Zipcode" />
                <div class="invalid-feedback"
                  *ngIf="residential_zipcode?.invalid && (residential_zipcode?.dirty || residential_zipcode?.touched)"
                  class="text-danger font-weight-bold">
                  <div *ngIf="residential_zipcode?.errors?.required">Zipcode is required.</div>
                </div>
              </div>
            </div>
          </div>
      </div>

    <div class="alert alert-warning my-3">
      <h5 class="font-weight-bold mb-3">Practice Addresses</h5>

      <div class="alert alert-danger" *ngIf="addressError">
        <h5>Atleast one address is required!</h5>
      </div>
      <div formArrayName="practice_addresses" class="practice-address">
        <div *ngFor="let address of getPracticeAddresses(); let practiceAddressesIndex = index"
          [formGroupName]="practiceAddressesIndex">
          <div class="row clearfix">
            <div class="col-sm-12">
              <div class="col-sm-6">
                <h5>Practice Address #{{practiceAddressesIndex +1}}</h5>
              </div>
              <div class="col-sm-6">
                <button class="btn-sm btn-danger pull-right" (click)="removeAddress(practiceAddressesIndex)"><i
                    class="fa fa-trash"></i></button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label class="float-left">Address Line 1</label>
                <input type="text" id="address_line_1" class="form-control" placeholder="Enter Address Line 1"
                  formControlName="address_line_1" />
                <div class="invalid-feedback"
                  *ngIf="address.get('address_line_1')?.invalid && (address.get('address_line_1')?.dirty || address.get('address_line_1')?.touched)"
                  class="text-danger font-weight-bold">
                  <div *ngIf="address.get('address_line_1')?.errors?.required"> Address Line 1 is required.</div>
                </div>
              </div>
              <div class="col-md-6">
                <label class="float-left">Address Line 2</label>
                <input type="text" id="address_line_2" class="form-control" placeholder="Enter Address Line 2"
                  formControlName="address_line_2" />
                <div class="invalid-feedback"
                  *ngIf="address.get('address_line_2')?.invalid && (address.get('address_line_2')?.dirty || address.get('address_line_2')?.touched)"
                  class="text-danger font-weight-bold">
                  <div *ngIf="address.get('address_line_2')?.errors?.required"> Address Line 2 is required.</div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label class="float-left">City</label>
                <input type="text" id="city" class="form-control" placeholder="Enter City" formControlName="city" />
                <div class="invalid-feedback"
                  *ngIf="address.get('city')?.invalid && (address.get('city')?.dirty || address.get('city')?.touched)"
                  class="text-danger font-weight-bold">
                  <div *ngIf="address.get('city')?.errors?.required"> City is required.</div>
                </div>
              </div>
              <div class="col-md-6">
                <label class="float-left">State</label>
                <!-- <input type="text" id="state_id" class="form-control" placeholder="Enter state" formControlName="state_id" /> -->
                <mat-select placeholder="Enter State" formControlName="state_id" class="form-control input-lg">
                  <mat-option *ngFor="let state of states" [value]="state._id">
                    {{state.name}}
                  </mat-option>
                </mat-select>
                <div class="invalid-feedback"
                  *ngIf="address.get('state_id')?.invalid && (address.get('state_id')?.dirty || address.get('state_id')?.touched)"
                  class="text-danger font-weight-bold">
                  <div *ngIf="address.get('state_id')?.errors?.required">State is required.</div>
                </div>
              </div>
            </div>
            <br>
            <div class="form-row">
              <div class="col-md-6">
                <label class="float-left">Zipcode</label>
                <input type="text" id="zip_code" class="form-control" placeholder="Enter Zip_code"
                  formControlName="zip_code" />
                <div class="invalid-feedback"
                  *ngIf="address.get('zip_code')?.invalid && (address.get('zip_code')?.dirty || address.get('zip_code')?.touched)"
                  class="text-danger font-weight-bold">
                  <div *ngIf="address.get('zip_code')?.errors?.required"> Zip code is required.</div>
                </div>
              </div>
              <div class="col-md-4">
                <label class="d-block">Active</label>
                <mat-checkbox formControlName="is_active" color="primary">Active</mat-checkbox>
              </div>
            </div>
          </div>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <button type="button" class="btn btn-sm btn-success" (click)=" addNewPracticeAddress()">Add New Address</button>
        </div>
      </div>
    </div>

    <div class="alert alert-primary my-3">
      <h5 class="font-weight-bold mb-3">Licenses</h5>

      <div class="alert alert-danger" *ngIf="licenseError">
        <h5>Atleast one license is required!</h5>
      </div>
      <div formArrayName="licenses">
        <div *ngFor="let license of getLicensesControls(); let licensesIndex = index"
          [formGroupName]="licensesIndex">
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label class="float-left">License number #{{licensesIndex +1}}</label>
                <input type="text" id="license_number" class="form-control" placeholder="Enter License Number"
                  formControlName="license_number" />
                <div class="invalid-feedback"
                  *ngIf="license.get('license_number')?.invalid && (license.get('license_number')?.dirty || license.get('license_number')?.touched)"
                  class="text-danger font-weight-bold">
                  <div *ngIf="license.get('license_number')?.errors?.required"> License number is required.</div>
                </div>
              </div>
              <div class="col-md-6">
                  <label class="d-block">Expiry Date </label>
                  <input  class="form-control"  type="text"  placeholder="Enter Date of Birth" formControlName="expiry_date" bsDatepicker   [bsConfig]="bsConfig"/>
                  <div class="invalid-feedback"
                    *ngIf="license.get('expiry_date')?.invalid && (license.get('expiry_date')?.dirty || license.get('expiry_date')?.touched)"
                    class="text-danger font-weight-bold">
                    <div *ngIf="license.get('expiry_date')?.errors?.required">Expiry date is required.</div>
                  </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label class="float-left">State</label>
                <mat-select placeholder="Enter State" formControlName="state_id" class="form-control input-lg">
                  <mat-option *ngFor="let state of states" [value]="state._id">
                    {{state.name}}
                  </mat-option>
                </mat-select>
                <div class="invalid-feedback"
                  *ngIf="license.get('state_id')?.invalid && (license.get('state_id')?.dirty || license.get('state_id')?.touched)"
                  class="text-danger font-weight-bold">
                  <div *ngIf="license.get('state_id')?.errors?.required">State is required.</div>
                </div>
              </div>
              <div class="col-md-4">
                <label class="d-block">Active</label>
                <mat-checkbox formControlName="is_active" color="primary">Active</mat-checkbox>
              </div>
              <div class="col-md-2">
                <label class="d-block"></label>
                <button class="btn-sm btn-danger pull-right" (click)="removeLicense(licensesIndex)"><i
                    class="fa fa-trash"></i></button>
              </div>
            </div>
          </div>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <button type="button" class="btn btn-sm btn-success" (click)="addNewLicense()">Add another Doctor license</button>
        </div>
      </div>
    </div>


    <div class="text-center">
      <button type="submit" class="btn btn-info mr-2">Submit</button>
      <a routerLink="/admin/account-request/list" routerLinkActive="active" class="btn btn-primary">Back</a>
    </div>

  </form>
</div>
